Repository ti-community-infra/configs: changes, and which Prow jobs are due for each by the changed paths.
All: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-update-orgs, post-configs-deploy-prow, post-configs-label-sync, pull-configs-validate-external-plugin-yaml, pull-configs-validate-orgs

Path conditions:
  pull-configs-validate-prow-yaml: any of: prow/
  pull-configs-validate-labels-yaml: (any of: prow/config/labels.yaml) or (any of: prow/config/labels.*)
  post-configs-update-orgs: any of: orgs/
  post-configs-deploy-prow: any of: prow/cluster
  post-configs-label-sync: any of: prow/config/labels.yaml
  pull-configs-validate-external-plugin-yaml: any of: prow/config/external_plugins_config.yaml
  pull-configs-validate-orgs: any of: orgs/

feat(prow/config): deploy prow for pingcap-inc/tidb and pingcap-inc/ticdc (#1254)
  prow/config/config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

fix(prow/config): add pingcap-inc repos and switch to cherrypicker
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

fix(prow/config): add pingcap-inc repos and switch to cherrypicker (#1255)
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

chore(prow/config): update Tide query and disable approve plugin for TiDB and TiCDC
  prow/config/config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

chore(prow/config): update Tide query and disable approve plugin for TiDB and TiCDC (#1256)
  prow/config/config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

chore(prow/config): add tiflow repo to Prow configuration
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

Update prow/config/plugins.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

chore(prow/config): add `pingap-inc/tiflow` repo to Prow configuration (#1257)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

Update plugin configuration by removing repos
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

chore: only need 1 lgtm for pingcap-inc/tidb, pingcap-inc/ticdc, pingcap-inc/tiflow (#1259)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

fix(prow/config): enforce ticdc release-8.5 cherry-pick gate
  prow/config/config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

fix(prow/config): align cherry-pick approved regex with unapproved
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

chore(ticdc/8.5): ticdc 8.5 release branch protection
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

chore(ticdc/8.5): ticdc 8.5 release branch protection (#1261)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

chore(branch/pt): add new release branch for nextgen
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

chore(owners): add new team members to OWNERS_ALIASES
  OWNERS_ALIASES
Due: none

chore(branch/pt): add 2603 release branch for nextgen (#1262)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

chore(owners): add new team members to OWNERS_ALIASES (#1263)
  OWNERS_ALIASES
Due: none

chore(prow/config): increase Jenkins operator 1 concurrency limits for master jobs
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

chore(prow/config): increase Jenkins operator 1 concurrency job limits (#1264)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

Refactor branch protection for tidb-operator
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

Refactor branch protection for tidb-operator (#1265)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

chore(prow/config): add D3Hunter to TiDB cherry-pick approvers
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

chore(prow/config): add D3Hunter to TiDB cherry-pick approvers (#1266)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

chore(prow/config): remove release-6.5 support from Prow config
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

Update OWNERS_ALIASES to move purelind to emeritus
  OWNERS_ALIASES
Due: none

chore(prow/config): remove release-6.5 support from Prow config (#1267)
  OWNERS_ALIASES
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

feat: add trigger plugin for tikv/titan to run ci prowjob
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

Remove 'hold' plugin from tikv/titan
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

feat: add trigger plugin for tikv/titan to run ci prowjob (#1268)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

chore: delete old required context for tidb-binlog
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

chore: delete old required context for tidb-binlog (#1269)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

delete old required context
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

delete old required context (#1270)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

prow(format-checker): add PR title checks for PingCAP-QE/ci
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

prow(format-checker): add PR title checks for PingCAP-QE/ci
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

prow(format-checker): add PR title checks for PingCAP-QE repos
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

prow(format-checker): add PR title checks for PingCAP-QE repos (#1271)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

prow(format-checker): fix title regexp YAML quoting
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

prow(format-checker): fix title regexp YAML quoting (#1272)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml
