Repository ti-community-infra/configs: changes, and which Prow jobs are due for each by the changed paths.
All: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-update-orgs, post-configs-deploy-prow, post-configs-label-sync, pull-configs-validate-external-plugin-yaml, pull-configs-validate-orgs

Path conditions:
  pull-configs-validate-prow-yaml: any of: prow/
  pull-configs-validate-labels-yaml: (any of: prow/config/labels.yaml) or (any of: prow/config/labels.*)
  post-configs-update-orgs: any of: orgs/
  post-configs-deploy-prow: any of: prow/cluster
  post-configs-label-sync: any of: prow/config/labels.yaml
  pull-configs-validate-external-plugin-yaml: any of: prow/config/external_plugins_config.yaml
  pull-configs-validate-orgs: any of: orgs/

config: modify cherry_pick_unapproved branch regexp for 5.x (#399)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

build: bump all components version from v20210701-3efe91b8cd to v20210723-55eee17612
  prow/cluster/branchprotector.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/label_sync.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/prow_controller_manager_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config/config.yaml
  prow/jobs/ti-community-infra/configs/configs-postsubmits.yaml
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
  prow/jobs/ti-community-infra/org/bot-periodics.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

build: bump all components version from v20210701-3efe91b8cd to v20210723-55eee17612 (#400)
  prow/cluster/branchprotector.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/label_sync.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/prow_controller_manager_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config/config.yaml
  prow/jobs/ti-community-infra/configs/configs-postsubmits.yaml
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
  prow/jobs/ti-community-infra/org/bot-periodics.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

build: bump all ti plugins version to v1.7.2
  prow/cluster/ti_community_autoresponder_deployment.yaml
  prow/cluster/ti_community_blunderbuss_deployment.yaml
  prow/cluster/ti_community_cherrypicker_deployment.yaml
  prow/cluster/ti_community_contribution_deployment.yaml
  prow/cluster/ti_community_label_blocker_deployment.yaml
  prow/cluster/ti_community_label_deployment.yaml
  prow/cluster/ti_community_lgtm_deployment.yaml
  prow/cluster/ti_community_merge_deployment.yaml
  prow/cluster/ti_community_owners_deployment.yaml
  prow/cluster/ti_community_tars_deployment.yaml
  prow/cluster/tichi_web_deployment.yaml
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

build: bump all ti plugins version to v1.7.2 (#401)
  prow/cluster/ti_community_autoresponder_deployment.yaml
  prow/cluster/ti_community_blunderbuss_deployment.yaml
  prow/cluster/ti_community_cherrypicker_deployment.yaml
  prow/cluster/ti_community_contribution_deployment.yaml
  prow/cluster/ti_community_label_blocker_deployment.yaml
  prow/cluster/ti_community_label_deployment.yaml
  prow/cluster/ti_community_lgtm_deployment.yaml
  prow/cluster/ti_community_merge_deployment.yaml
  prow/cluster/ti_community_owners_deployment.yaml
  prow/cluster/ti_community_tars_deployment.yaml
  prow/cluster/tichi_web_deployment.yaml
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

feat: add release 5.2 config for tics
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

feat: add release 5.2 config for tics (#402)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: enable milestoneapplier for tics
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

feat: enable cherry-pick-unapproved for tics
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

Address comment
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

feat: enable cherry-pick-unapproved for tics (#404)
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config(tools): refine label-blocker configuration for tools
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config(tools): refine label-blocker configuration for tools (#405)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config: Retire from ti-community-infra
  orgs/ti-community-infra/org.yaml
  orgs/ti-community-infra/sig-community-infra/teams.yaml
Due: post-configs-update-orgs, pull-configs-validate-orgs

config: Retire from ti-community-infra (#406)
  orgs/ti-community-infra/org.yaml
  orgs/ti-community-infra/sig-community-infra/teams.yaml
Due: post-configs-update-orgs, pull-configs-validate-orgs

feat: add release-5.2 config for some repo
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

feat: add release-5.2 config for some repo (#407)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

fix: parser no need cherry-pick-approved
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

fix: parser no need cherry-pick-approved (#408)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(dumpling): update dumpling integration test requirements
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(dumpling): update dumpling integration test requirements (#410)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

add config
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

config: add the bot configuration for v5.2 branch in two doc repos (#411)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

add_config
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

Update labels.md
  prow/config/labels.md
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml

config: add cherry-pick labels for the docs repo (#412)
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

feat: enable tichi for tiflash
  prow/config/config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

feat: enable tichi for tiflash
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

fix: disable release-note plugin
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

fix: disable cherry-pick-unapproved plugin
  prow/config/config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: enable tichi for tiflash (#413)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config: add github teams for tidb community infra team
  orgs/ti-community-infra/community-infra-committers/teams.yaml
  orgs/ti-community-infra/community-infra-maintainers/teams.yaml
  orgs/ti-community-infra/community-infra-reviewers/teams.yaml
Due: post-configs-update-orgs, pull-configs-validate-orgs

fix: fix typo
  orgs/ti-community-infra/community-infra-committers/teams.yaml
  orgs/ti-community-infra/community-infra-maintainers/teams.yaml
  orgs/ti-community-infra/community-infra-reviewers/teams.yaml
Due: post-configs-update-orgs, pull-configs-validate-orgs

fix: add admin for reviewer team
  orgs/ti-community-infra/community-infra-reviewers/teams.yaml
Due: post-configs-update-orgs, pull-configs-validate-orgs

fix: add team repos
  orgs/ti-community-infra/community-infra-committers/teams.yaml
  orgs/ti-community-infra/community-infra-maintainers/teams.yaml
  orgs/ti-community-infra/community-infra-reviewers/teams.yaml
Due: post-configs-update-orgs, pull-configs-validate-orgs

fix: add team members
  orgs/ti-community-infra/community-infra-committers/teams.yaml
  orgs/ti-community-infra/community-infra-maintainers/teams.yaml
  orgs/ti-community-infra/community-infra-reviewers/teams.yaml
Due: post-configs-update-orgs, pull-configs-validate-orgs

fix
  orgs/ti-community-infra/community-infra-committers/teams.yaml
  orgs/ti-community-infra/community-infra-maintainers/teams.yaml
  orgs/ti-community-infra/community-infra-reviewers/teams.yaml
Due: post-configs-update-orgs, pull-configs-validate-orgs

fix
  orgs/ti-community-infra/community-infra-committers/teams.yaml
  orgs/ti-community-infra/org.yaml
Due: post-configs-update-orgs, pull-configs-validate-orgs

fix
  orgs/ti-community-infra/community-infra-reviewers/teams.yaml
Due: post-configs-update-orgs, pull-configs-validate-orgs

config: add github teams for community infra team (#414)
  orgs/ti-community-infra/community-infra-committers/teams.yaml
  orgs/ti-community-infra/community-infra-maintainers/teams.yaml
  orgs/ti-community-infra/community-infra-reviewers/teams.yaml
  orgs/ti-community-infra/org.yaml
Due: post-configs-update-orgs, pull-configs-validate-orgs
