Repository ti-community-infra/configs: changes, and which Prow jobs are due for each by the changed paths.
All: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-update-orgs, post-configs-deploy-prow, post-configs-label-sync, pull-configs-validate-external-plugin-yaml, pull-configs-validate-orgs

Path conditions:
  pull-configs-validate-prow-yaml: any of: prow/
  pull-configs-validate-labels-yaml: (any of: prow/config/labels.yaml) or (any of: prow/config/labels.*)
  post-configs-update-orgs: any of: orgs/
  post-configs-deploy-prow: any of: prow/cluster
  post-configs-label-sync: any of: prow/config/labels.yaml
  pull-configs-validate-external-plugin-yaml: any of: prow/config/external_plugins_config.yaml
  pull-configs-validate-orgs: any of: orgs/

fix(tikv/*): enable DCO plugin
  prow/config/config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

fix(tikv/*): enable DCO plugin (#1069)
  prow/config/config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

Update plugins.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

Update plugins.yaml (#1070)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

fix(tikv/*): fix dco config
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

fix(tikv/*): fix dco config (#1071)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

Update config.yaml
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

Revert "fix(tikv/*): enable DCO plugin (#1069)"
  prow/config/config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

Revert "fix(tikv/*): enable DCO plugin (#1069)" (#1073)
  prow/config/config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

Revert "Revert "fix(tikv/*): enable DCO plugin (#1069)" (#1073)"
  prow/config/config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

Revert "Revert "fix(tikv/*): enable DCO plugin (#1069)"" (#1074)
  prow/config/config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

refactor(tikv/pd, tikv/tikv): change the prow configuration for the `pd` and `tikv` repository (#1065)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

refactor(ti-community-infra/prow): replace `test-infra` repo with `prow` repo
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

refactor(ti-community-infra/prow): replace `test-infra` repo with `prow` repo (#1075)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

feat: enable new tidb-tools pipelines
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: enable new tidb-tools pipelines (#1076)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

Currently, only tidb/pd has the prefix epic, and it is necessary to add the prefix epic to tikv/tiflow/tiflash as well.
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

To add the prefix "epic" to tikv/tiflow/tiflash. (#1077)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

Add the prefix label impact to label the impact of the bug
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

Add the prefix label impact to label the impact of the bug (#1078)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

feat(prow/config): update config to support release-8.2 branches
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

feat(prow/config): update config to support release-8.2 branches (#1079)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

chore: update tikv 8.2 branch protect rule
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

chore: update tiflash 8.2 branch protect rule
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: adjust tikv & tiflash protect branch rules on 8.2 (#1080)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

chore: update prow tide info
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: avoid prow's "Merging to branch *** is forbidden" on 8.2 (#1081)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: avoid prow's "Merging to branch *** is forbidden" on 8.2 (#1082)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

fix: remove unnecessary branch protect status
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(pingcap/tiflash): remove unnecessary branch protect status (#1084)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

modify chunks
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(pd): update pd-release-branch-pt-with-tools-chunks (#1083)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

change found/customer and found/community to report/customer and report/community
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

update
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

delete found/customer and found/community, and add report/customer and report/community (#1085)
  prow/config/external_plugins_config.yaml
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

chore: set tidb-engine-ext required context by tide
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(pingcap/tidb-engine-ext): set tidb-engine-ext required context by tide (#1086)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

feat(tikv/raft-engine): enable trigger and common plugins
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml
