Repository ti-community-infra/configs: changes, and which Prow jobs are due for each by the changed paths.
All: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-update-orgs, post-configs-deploy-prow, post-configs-label-sync

pull-configs-validate-prow-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20201204-d90be1ef6b
      command:
      - /checkconfig
      args:
      - --plugin-config=prow/config/plugins.yaml
      - --config-path=prow/config/config.yaml

pull-configs-validate-labels-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:v20201204-d90be1ef6b
      command:
      - /app/label_sync/app.binary
      args:
      - --config=prow/config/labels.yaml
      - --confirm=false
  ...

post-configs-update-orgs:
  decorate: true
  spec:
    containers:
    - image: golang:1.15
      command:
      - scripts/peribolos.sh
      args:
      - --config-path=orgs/config.yaml
      - --github-token-path=/etc/github/token
      - --github-endpoint=http://ghproxy
      - --github-endpoint=https://api.github.com
      - --min-admins=2
  ...

post-configs-deploy-prow:
  decorate: true
  spec:
    containers:
    - image: google/cloud-sdk:319.0.0
      command:
      - scripts/deploy.sh
      args:
      - --confirm
      - --config=trusted
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
  ...

post-configs-label-sync:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:v20201204-d90be1ef6b
      command:
      - /app/label_sync/app.binary
      args:
      - --config=prow/config/labels.yaml
      - --confirm=true
  ...

config: update ti-community-prow milestone (#55)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

chore: rename org
  .prow.yaml
  go.mod
  orgs/tidb-community-bots/org.yaml
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.yaml
  prow/config/plugins.yaml
  scripts/peribolos.sh
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-update-orgs, post-configs-label-sync

chore: rename org (#57)
  .prow.yaml
  go.mod
  orgs/tidb-community-bots/org.yaml
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.yaml
  prow/config/plugins.yaml
  scripts/peribolos.sh
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-update-orgs, post-configs-label-sync

fix: refine ti-community-infra name
  orgs/ti-community-infra/bots-test/teams.yaml
  orgs/ti-community-infra/collaborators/teams.yaml
  orgs/ti-community-infra/org.yaml
Due: post-configs-update-orgs

fix: refine ti-community-infra name (#58)
  orgs/ti-community-infra/bots-test/teams.yaml
  orgs/ti-community-infra/collaborators/teams.yaml
  orgs/ti-community-infra/org.yaml
Due: post-configs-update-orgs

config: add teams for ti community infra
  orgs/ti-community-infra/collaborators/teams.yaml
  orgs/ti-community-infra/maintainers/teams.yaml
  orgs/ti-community-infra/sig-community-infra/teams.yaml
Due: post-configs-update-orgs

ci: add validate orgs job
  .prow.yaml
Due: none

config: fix order
  orgs/ti-community-infra/maintainers/teams.yaml
  orgs/ti-community-infra/sig-community-infra/teams.yaml
Due: post-configs-update-orgs

config: fix order
  .prow.yaml
Due: none

config: add teams for ti community infra (#59)
  orgs/ti-community-infra/collaborators/teams.yaml
  orgs/ti-community-infra/maintainers/teams.yaml
  orgs/ti-community-infra/sig-community-infra/teams.yaml
Due: post-configs-update-orgs

config: fix typo
  orgs/ti-community-infra/sig-community-infra/teams.yaml
Due: post-configs-update-orgs

config: fix typo (#61)
  orgs/ti-community-infra/sig-community-infra/teams.yaml
Due: post-configs-update-orgs

config: disable config updater for ti community prow
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: disable config updater for ti community prow (#62)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: update ti-community-prow milestone
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: update ti-community-prow milestone (#64)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

build: bump version prow version from v20201204-d90be1ef6b to v20201217-2de500de27
  .prow.yaml
  prow/cluster/branchprotector.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/prow_controller_manager_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/ti_community_autoresponder_deployment.yaml
  prow/cluster/ti_community_blunderbuss_deployment.yaml
  prow/cluster/ti_community_label_deployment.yaml
  prow/cluster/ti_community_lgtm_deployment.yaml
  prow/cluster/ti_community_merge_deployment.yaml
  prow/cluster/ti_community_owners_deployment.yaml
  prow/cluster/ti_community_tars_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

config: update owners
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml

config: update path
  prow/cluster/ti_community_autoresponder_deployment.yaml
  prow/cluster/ti_community_blunderbuss_deployment.yaml
  prow/cluster/ti_community_label_deployment.yaml
  prow/cluster/ti_community_lgtm_deployment.yaml
  prow/cluster/ti_community_merge_deployment.yaml
  prow/cluster/ti_community_owners_deployment.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

build: bump prow version (#69)
  .prow.yaml
  prow/cluster/branchprotector.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/prow_controller_manager_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/ti_community_autoresponder_deployment.yaml
  prow/cluster/ti_community_blunderbuss_deployment.yaml
  prow/cluster/ti_community_label_deployment.yaml
  prow/cluster/ti_community_lgtm_deployment.yaml
  prow/cluster/ti_community_merge_deployment.yaml
  prow/cluster/ti_community_owners_deployment.yaml
  prow/cluster/ti_community_tars_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

config: add branches configuration item for tidb-operator
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml

config: add lifecycle-periodics.yaml
  .prow.yaml
  prow/config/plugins.yaml
  prow/jobs/ti-community-infra/lifecycle-periodics.yaml
Due: pull-configs-validate-prow-yaml

config: fix typo
  .prow.yaml
Due: none

config: add branches configuration item for tidb-operator (#72)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml

config: fix typo
  prow/jobs/ti-community-infra/lifecycle-periodics.yaml
Due: pull-configs-validate-prow-yaml

config: add lifecycle-periodics.yaml (#73)
  .prow.yaml
  prow/config/plugins.yaml
  prow/jobs/ti-community-infra/lifecycle-periodics.yaml
Due: pull-configs-validate-prow-yaml

build: mount the jobs
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/prow_controller_manager_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/jobs/ti-community-infra/lifecycle-periodics.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

build: mount the jobs (#74)
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/prow_controller_manager_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/jobs/ti-community-infra/lifecycle-periodics.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

config: enable trigger for tikv to test rerere
  prow/config/plugins.yaml
  prow/jobs/tikv/tikv/tikv-presubmits.yaml
Due: pull-configs-validate-prow-yaml

config: refine jobs
  prow/jobs/tikv/tikv/tikv-presubmits.yaml
Due: pull-configs-validate-prow-yaml

config: enable trigger for tikv to test rerere (#75)
  prow/config/plugins.yaml
  prow/jobs/tikv/tikv/tikv-presubmits.yaml
Due: pull-configs-validate-prow-yaml

config: fix tikv rerere jobs name
  prow/jobs/tikv/tikv/tikv-presubmits.yaml
Due: pull-configs-validate-prow-yaml

config: fix tikv rerere jobs name (#76)
  prow/jobs/tikv/tikv/tikv-presubmits.yaml
Due: pull-configs-validate-prow-yaml

config: fix tikv rerere timeout
  prow/jobs/tikv/tikv/tikv-presubmits.yaml
Due: pull-configs-validate-prow-yaml

config: fix tikv rerere timeout (#77)
  prow/jobs/tikv/tikv/tikv-presubmits.yaml
Due: pull-configs-validate-prow-yaml

config: update ti-community-prow milestone (#78)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: fix outdated milestone team
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: fix outdated milestone team (#79)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

Path conditions:
  pull-configs-validate-prow-yaml: any of: prow/
  pull-configs-validate-labels-yaml: any of: prow/config/labels.yaml
  post-configs-update-orgs: any of: orgs/
  post-configs-deploy-prow: any of: prow/cluster
  post-configs-label-sync: any of: prow/config/labels.yaml
