Repository ti-community-infra/configs: changes, and which Prow jobs are due for each by the changed paths.
All: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-update-orgs, post-configs-deploy-prow, post-configs-label-sync

pull-configs-validate-prow-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20201204-d90be1ef6b
      command:
      - /checkconfig
      args:
      - --plugin-config=prow/config/plugins.yaml
      - --config-path=prow/config/config.yaml

pull-configs-validate-labels-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:v20201204-d90be1ef6b
      command:
      - /app/label_sync/app.binary
      args:
      - --config=prow/config/labels.yaml
      - --confirm=false
  ...

post-configs-update-orgs:
  decorate: true
  spec:
    containers:
    - image: golang:1.15
      command:
      - scripts/peribolos.sh
      args:
      - --config-path=orgs/config.yaml
      - --github-token-path=/etc/github/token
      - --github-endpoint=http://ghproxy
      - --github-endpoint=https://api.github.com
      - --min-admins=2
  ...

post-configs-deploy-prow:
  decorate: true
  spec:
    containers:
    - image: google/cloud-sdk:319.0.0
      command:
      - scripts/deploy.sh
      args:
      - --confirm
      - --config=trusted
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
  ...

post-configs-label-sync:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:v20201204-d90be1ef6b
      command:
      - /app/label_sync/app.binary
      args:
      - --config=prow/config/labels.yaml
      - --confirm=true
  ...

config: add qa-release-merge as a trusted team for the pd release branch
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml

config: add ti-community-infra/test-dev permissions
  orgs/ti-community-infra/sig-community-infra/teams.yaml
Due: post-configs-update-orgs

config: add ti-community-infra/test-dev permissions (#81)
  orgs/ti-community-infra/sig-community-infra/teams.yaml
Due: post-configs-update-orgs

config: add qa-release-merge as a trusted team for the pd release branch (#80)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml

config: remove tikv jobs
  prow/jobs/tikv/tikv/tikv-presubmits.yaml
Due: pull-configs-validate-prow-yaml

config: remove tikv jobs (#82)
  prow/jobs/tikv/tikv/tikv-presubmits.yaml
Due: pull-configs-validate-prow-yaml

build: bump plugins version from v0.16.5 to v0.16.6
  prow/cluster/ti_community_autoresponder_deployment.yaml
  prow/cluster/ti_community_blunderbuss_deployment.yaml
  prow/cluster/ti_community_label_deployment.yaml
  prow/cluster/ti_community_lgtm_deployment.yaml
  prow/cluster/ti_community_merge_deployment.yaml
  prow/cluster/ti_community_owners_deployment.yaml
  prow/cluster/ti_community_tars_deployment.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

build: bump plugins version from v0.16.5 to v0.16.6 (#83)
  prow/cluster/ti_community_autoresponder_deployment.yaml
  prow/cluster/ti_community_blunderbuss_deployment.yaml
  prow/cluster/ti_community_label_deployment.yaml
  prow/cluster/ti_community_lgtm_deployment.yaml
  prow/cluster/ti_community_merge_deployment.yaml
  prow/cluster/ti_community_owners_deployment.yaml
  prow/cluster/ti_community_tars_deployment.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

config: enable prow for tikv
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: add autoresponder
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

ci: add rerere jobs
  prow/jobs/tikv/tikv/tikv-presubmits.yaml
Due: pull-configs-validate-prow-yaml

config: require jobs
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: add timeout
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: add lgtm autoresponder
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml

config: fix typo
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml

config: add welcome
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: add pull-ti-community-prow-rerere for ti-community-prow
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: add pull-ti-community-prow-rerere for ti-community-prow (#85)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: delete jobs
  prow/config/config.yaml
  prow/jobs/tikv/tikv/tikv-presubmits.yaml
Due: pull-configs-validate-prow-yaml

config: add tars for tikv
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: fix typo
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: remove timeout
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

build: bump plugins version from v0.16.6 to v0.16.7
  prow/cluster/ti_community_autoresponder_deployment.yaml
  prow/cluster/ti_community_blunderbuss_deployment.yaml
  prow/cluster/ti_community_label_deployment.yaml
  prow/cluster/ti_community_lgtm_deployment.yaml
  prow/cluster/ti_community_merge_deployment.yaml
  prow/cluster/ti_community_owners_deployment.yaml
  prow/cluster/ti_community_tars_deployment.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

build: bump plugins version from v0.16.6 to v0.16.7 (#86)
  prow/cluster/ti_community_autoresponder_deployment.yaml
  prow/cluster/ti_community_blunderbuss_deployment.yaml
  prow/cluster/ti_community_label_deployment.yaml
  prow/cluster/ti_community_lgtm_deployment.yaml
  prow/cluster/ti_community_merge_deployment.yaml
  prow/cluster/ti_community_owners_deployment.yaml
  prow/cluster/ti_community_tars_deployment.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

config: refine tide fot tikv
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: refine contexts
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: refine merge tip
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml

config: refine tikv branch
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: ignore maintainers
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml

config: enable prow for tikv (#84)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: fix tikv branch query
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: fix tikv branch query (#87)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: fix typo
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: fix typo (#88)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

chore: add deploy request template
  .github/ISSUE_TEMPLATE/deploy-request.md
  README.md
Due: none

Path conditions:
  pull-configs-validate-prow-yaml: any of: prow/
  pull-configs-validate-labels-yaml: any of: prow/config/labels.yaml
  post-configs-update-orgs: any of: orgs/
  post-configs-deploy-prow: any of: prow/cluster
  post-configs-label-sync: any of: prow/config/labels.yaml
