Repository ti-community-infra/configs: changes, and which Prow jobs are due for each by the changed paths.
All: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-update-orgs, post-configs-deploy-prow, post-configs-label-sync, pull-configs-validate-external-plugin-yaml, pull-configs-validate-orgs

pull-configs-validate-prow-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20201204-d90be1ef6b
      command:
      - /checkconfig
      args:
      - --plugin-config=prow/config/plugins.yaml
      - --config-path=prow/config/config.yaml

pull-configs-validate-labels-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:v20201204-d90be1ef6b
      command:
      - /app/label_sync/app.binary
      args:
      - --config=prow/config/labels.yaml
      - --confirm=false
  ...

post-configs-update-orgs:
  decorate: true
  spec:
    containers:
    - image: golang:1.15
      command:
      - scripts/peribolos.sh
      args:
      - --config-path=orgs/config.yaml
      - --github-token-path=/etc/github/token
      - --github-endpoint=http://ghproxy
      - --github-endpoint=https://api.github.com
      - --min-admins=2
  ...

post-configs-deploy-prow:
  decorate: true
  spec:
    containers:
    - image: google/cloud-sdk:319.0.0
      command:
      - scripts/deploy.sh
      args:
      - --confirm
      - --config=trusted
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
  ...

post-configs-label-sync:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:v20201204-d90be1ef6b
      command:
      - /app/label_sync/app.binary
      args:
      - --config=prow/config/labels.yaml
      - --confirm=true
  ...

pull-configs-validate-external-plugin-yaml:
  decorate: true
  spec:
    containers:
    - image: ticommunityinfra/tichi-check-external-plugin-config:v2.0.4
      command:
      - check-external-plugin-config
      args:
      - --external-plugin-config-path=prow/config/external_plugins_config.yaml

pull-configs-validate-orgs:
  decorate: true
  spec:
    containers:
    - image: golang:1.16
      command:
      - scripts/peribolos.sh
      args:
      - --config-path=orgs/config.yaml
      - --github-token-path=/etc/github/token
      - --github-endpoint=http://ghproxy
      - --github-endpoint=https://api.github.com
      - --min-admins=2
  ...

chore(prow/config): add event router to tekton cd for for tikv org (#987)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

chore(prow/configs): delete useless labels
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

Support `pingcap/monitoring` repo
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

Support `pingcap/monitoring` repo (#989)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

fix(prow/config): fix tide config for `pingcap/ng-monitoring` repo
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

fix(prow/config): fix tide config for `pingcap/ng-monitoring` repo (#990)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

Add tirelease webhook of tikv/tikv
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

Add tirelease webhook of tikv/tikv (#991)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

Revert "Add tirelease webhook of tikv/tikv (#991)"
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

Revert "Add tirelease webhook of tikv/tikv" (#992)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

Update plugins.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

Update plugins.yaml (#993)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

Update config.yaml
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

chore(pingcap/community): disable auto merge by bot (#994)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

Change configuration: EOL of TiDB v3.x
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

Change configuration: EOL of TiDB v3.x (#996)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

Change configuration: EOS of TiDB v5.3
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

Change configuration: EOS of TiDB v5.3 (#997)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

REQUEST: support add/remove triage labels on `pingcap/tiflash` repo
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

REQUEST: support add/remove triage labels on `pingcap/tiflash` repo (#998)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

fix(pingcap/ng-monitoring): enable builtin plugin `cherry-pick-unapproved`
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

fix(pingcap/ng-monitoring): enable builtin plugin `cherry-pick-unapproved` (#999)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

Update config.yaml (#1000)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

Update external_plugins_config.yaml
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

Add a "MariaDB" label for tiflow repo (#1001)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

Revert "Update plugins.yaml (#993)"
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

Revert "Update plugins.yaml" (#1002)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

feat: support retitle
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: support retitle (#1003)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

fix(tikv/tikv,tikv/pd): enable merging on `feature/*` branches
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

fix(tikv/tikv,tikv/pd): enable merging on `feature/*` branches (#1004)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

add 2024–tidb-docs-dash
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

add the label
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

Apply suggestions from code review
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

Update labels.md
  prow/config/labels.md
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml

docs-cn/docs: add the "2024–tidb-docs-dash" label (#1005)
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

fix(tidb): fix merge commit message for cherry-pick pull requests
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

update the label
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

update the label name: 2024-tidb-docs-dash (#1007)
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

Path conditions:
  pull-configs-validate-prow-yaml: any of: prow/
  pull-configs-validate-labels-yaml: (any of: prow/config/labels.yaml) or (any of: prow/config/labels.*)
  post-configs-update-orgs: any of: orgs/
  post-configs-deploy-prow: any of: prow/cluster
  post-configs-label-sync: any of: prow/config/labels.yaml
  pull-configs-validate-external-plugin-yaml: any of: prow/config/external_plugins_config.yaml
  pull-configs-validate-orgs: any of: orgs/
