Repository ti-community-infra/configs: changes, and which Prow jobs are due for each by the changed paths.
All: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-update-orgs, post-configs-deploy-prow, post-configs-label-sync, pull-configs-validate-external-plugin-yaml, pull-configs-validate-orgs

pull-configs-validate-prow-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20201204-d90be1ef6b
      command:
      - /checkconfig
      args:
      - --plugin-config=prow/config/plugins.yaml
      - --config-path=prow/config/config.yaml

pull-configs-validate-labels-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:v20201204-d90be1ef6b
      command:
      - /app/label_sync/app.binary
      args:
      - --config=prow/config/labels.yaml
      - --confirm=false
  ...

post-configs-update-orgs:
  decorate: true
  spec:
    containers:
    - image: golang:1.15
      command:
      - scripts/peribolos.sh
      args:
      - --config-path=orgs/config.yaml
      - --github-token-path=/etc/github/token
      - --github-endpoint=http://ghproxy
      - --github-endpoint=https://api.github.com
      - --min-admins=2
  ...

post-configs-deploy-prow:
  decorate: true
  spec:
    containers:
    - image: google/cloud-sdk:319.0.0
      command:
      - scripts/deploy.sh
      args:
      - --confirm
      - --config=trusted
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
  ...

post-configs-label-sync:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:v20201204-d90be1ef6b
      command:
      - /app/label_sync/app.binary
      args:
      - --config=prow/config/labels.yaml
      - --confirm=true
  ...

pull-configs-validate-external-plugin-yaml:
  decorate: true
  spec:
    containers:
    - image: ticommunityinfra/tichi-check-external-plugin-config:v2.0.4
      command:
      - check-external-plugin-config
      args:
      - --external-plugin-config-path=prow/config/external_plugins_config.yaml

pull-configs-validate-orgs:
  decorate: true
  spec:
    containers:
    - image: golang:1.16
      command:
      - scripts/peribolos.sh
      args:
      - --config-path=orgs/config.yaml
      - --github-token-path=/etc/github/token
      - --github-endpoint=http://ghproxy
      - --github-endpoint=https://api.github.com
      - --min-admins=2
  ...

Revert "fix(prow/config): perfer to using in-cluster name external dns (#770)" (#771)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

fix(prow/cluster): bump tide images to support `replace` in template
  prow/cluster/jenkins-operator-deployment.yaml
  prow/cluster/tide_deployment.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

fix(prow/cluster): bump tide images to support `replace` in template (#772)
  prow/cluster/jenkins-operator-deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow, pull-configs-validate-external-plugin-yaml

fix(prow/cluster, prow/config): bump tide images and fix tide merge template
  prow/cluster/tide_deployment.yaml
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

fix(prow/cluster, prow/config): bump tide images and fix tide merge template (#773)
  prow/cluster/tide_deployment.yaml
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

fix(prow/config): fix tide merge templates
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

fix(prow/config): fix tide merge templates (#774)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

fix(prow/cluster): set first github graphql endpoint to ghproxy svc
  prow/cluster/ti_community_autoresponder_deployment.yaml
  prow/cluster/ti_community_blunderbuss_deployment.yaml
  prow/cluster/ti_community_cherrypicker_deployment.yaml
  prow/cluster/ti_community_contribution_deployment.yaml
  prow/cluster/ti_community_format_checker_deployment.yaml
  prow/cluster/ti_community_issue_triage_deployment.yaml
  prow/cluster/ti_community_label_blocker_deployment.yaml
  prow/cluster/ti_community_label_deployment.yaml
  prow/cluster/ti_community_lgtm_deployment.yaml
  prow/cluster/ti_community_merge_deployment.yaml
  prow/cluster/ti_community_owners_deployment.yaml
  prow/cluster/ti_community_tars_deployment.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

fix(prow/cluster): set first github graphql endpoint to ghproxy svc (#775)
  prow/cluster/ti_community_autoresponder_deployment.yaml
  prow/cluster/ti_community_blunderbuss_deployment.yaml
  prow/cluster/ti_community_cherrypicker_deployment.yaml
  prow/cluster/ti_community_contribution_deployment.yaml
  prow/cluster/ti_community_format_checker_deployment.yaml
  prow/cluster/ti_community_issue_triage_deployment.yaml
  prow/cluster/ti_community_label_blocker_deployment.yaml
  prow/cluster/ti_community_label_deployment.yaml
  prow/cluster/ti_community_lgtm_deployment.yaml
  prow/cluster/ti_community_merge_deployment.yaml
  prow/cluster/ti_community_owners_deployment.yaml
  prow/cluster/ti_community_tars_deployment.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

Revert "fix(prow/cluster): set first github graphql endpoint to ghproxy svc (#775)"
  prow/cluster/ti_community_autoresponder_deployment.yaml
  prow/cluster/ti_community_blunderbuss_deployment.yaml
  prow/cluster/ti_community_cherrypicker_deployment.yaml
  prow/cluster/ti_community_contribution_deployment.yaml
  prow/cluster/ti_community_format_checker_deployment.yaml
  prow/cluster/ti_community_issue_triage_deployment.yaml
  prow/cluster/ti_community_label_blocker_deployment.yaml
  prow/cluster/ti_community_label_deployment.yaml
  prow/cluster/ti_community_lgtm_deployment.yaml
  prow/cluster/ti_community_merge_deployment.yaml
  prow/cluster/ti_community_owners_deployment.yaml
  prow/cluster/ti_community_tars_deployment.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

Revert "fix(prow/cluster): set first github graphql endpoint to ghproxy svc (#775)" (#776)
  prow/cluster/ti_community_autoresponder_deployment.yaml
  prow/cluster/ti_community_blunderbuss_deployment.yaml
  prow/cluster/ti_community_cherrypicker_deployment.yaml
  prow/cluster/ti_community_contribution_deployment.yaml
  prow/cluster/ti_community_format_checker_deployment.yaml
  prow/cluster/ti_community_issue_triage_deployment.yaml
  prow/cluster/ti_community_label_blocker_deployment.yaml
  prow/cluster/ti_community_label_deployment.yaml
  prow/cluster/ti_community_lgtm_deployment.yaml
  prow/cluster/ti_community_merge_deployment.yaml
  prow/cluster/ti_community_owners_deployment.yaml
  prow/cluster/ti_community_tars_deployment.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

fix(prow/config): no need for cherry pick approved label for hotfix branches
  prow/cluster/tide_deployment.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

fix(prow/config): no need for cherry pick approved label for hotfix branches (#777)
  prow/cluster/tide_deployment.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

fix(prow/config): add hotfix branche prefix to execlude branches for tide query
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

fix(prow/config): add hotfix branche prefix to execlude branches for tide query (#778)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

fix(prow/cluster): bump ti-community plugins with cherry pick invite fixing
  prow/cluster/ti_community_autoresponder_deployment.yaml
  prow/cluster/ti_community_blunderbuss_deployment.yaml
  prow/cluster/ti_community_cherrypicker_deployment.yaml
  prow/cluster/ti_community_contribution_deployment.yaml
  prow/cluster/ti_community_format_checker_deployment.yaml
  prow/cluster/ti_community_issue_triage_deployment.yaml
  prow/cluster/ti_community_label_blocker_deployment.yaml
  prow/cluster/ti_community_label_deployment.yaml
  prow/cluster/ti_community_lgtm_deployment.yaml
  prow/cluster/ti_community_merge_deployment.yaml
  prow/cluster/ti_community_owners_deployment.yaml
  prow/cluster/ti_community_tars_deployment.yaml
  prow/cluster/tichi_web_deployment.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

fix(prow/cluster): bump ti-community plugins with cherry pick invite fixing (#781)
  prow/cluster/ti_community_autoresponder_deployment.yaml
  prow/cluster/ti_community_blunderbuss_deployment.yaml
  prow/cluster/ti_community_cherrypicker_deployment.yaml
  prow/cluster/ti_community_contribution_deployment.yaml
  prow/cluster/ti_community_format_checker_deployment.yaml
  prow/cluster/ti_community_issue_triage_deployment.yaml
  prow/cluster/ti_community_label_blocker_deployment.yaml
  prow/cluster/ti_community_label_deployment.yaml
  prow/cluster/ti_community_lgtm_deployment.yaml
  prow/cluster/ti_community_merge_deployment.yaml
  prow/cluster/ti_community_owners_deployment.yaml
  prow/cluster/ti_community_tars_deployment.yaml
  prow/cluster/tichi_web_deployment.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

Bumping Prow
  prow/cluster/jenkins-operator-deployment.yaml
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

Update Prow to v20230113-8f2ffbe0d4 (#729)
  prow/cluster/jenkins-operator-deployment.yaml
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

chore(prow/config): test new merge template for repos in ti-community-infra org
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

chore(prow/config): test new merge template for repos in ti-community-infra org (#782)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

fix(prow/config): update merge template for pingcap/tidb repo
  prow/config/config.yaml
  prow/jobs/ti-community-infra/test-prod/test-prod-presubmits.yaml
Due: pull-configs-validate-prow-yaml

fix(prow/config): update merge template for pingcap/tidb repo (#783)
  prow/config/config.yaml
  prow/jobs/ti-community-infra/test-prod/test-prod-presubmits.yaml
Due: pull-configs-validate-prow-yaml

chore(prow/cluster): offline domain prow.tidb.io
  prow/cluster/ing_ingress.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

chore(prow/cluster): offline domain prow.tidb.io (#784)
  prow/cluster/ing_ingress.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

chore: remove tidb required check
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

chore(pingcap/tidb): remove tidb required check (#786)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

chore(pingcap/tiflash): remove tiflash required context `check-license` in branch protect rules
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

chore(pingcap/tiflash): remove tiflash required context `check-license` in branch protect rules (#787)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

Update Prow to v20230128-8b677bb83b (#785)
  prow/cluster/jenkins-operator-deployment.yaml
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

feat(prow/config): add `pingcap-qe/ci` to ti-chi-bot managed repositories
  prow/config/config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

feat(prow/jobs): delete jobs for pingcap and tikv org
  prow/config/plugins.yaml
  prow/jobs/pingcap/tidb/tidb-postsubmits.yaml
  prow/jobs/pingcap/tidb/tidb-presubmits.yaml
  prow/jobs/tikv/pd/pd-presubmits.yaml
Due: pull-configs-validate-prow-yaml

feat(prow/jobs): delete jobs for pingcap and tikv org (#788)
  prow/config/config.yaml
  prow/config/plugins.yaml
  prow/jobs/pingcap/tidb/tidb-postsubmits.yaml
  prow/jobs/pingcap/tidb/tidb-presubmits.yaml
  prow/jobs/tikv/pd/pd-presubmits.yaml
Due: pull-configs-validate-prow-yaml

Revert "feat(prow/jobs): delete jobs for pingcap and tikv org (#788)"
  prow/config/config.yaml
  prow/config/plugins.yaml
  prow/jobs/pingcap/tidb/tidb-postsubmits.yaml
  prow/jobs/pingcap/tidb/tidb-presubmits.yaml
  prow/jobs/tikv/pd/pd-presubmits.yaml
Due: pull-configs-validate-prow-yaml

Revert "feat(prow/jobs): delete jobs for pingcap and tikv org" (#789)
  prow/config/config.yaml
  prow/config/plugins.yaml
  prow/jobs/pingcap/tidb/tidb-postsubmits.yaml
  prow/jobs/pingcap/tidb/tidb-presubmits.yaml
  prow/jobs/tikv/pd/pd-presubmits.yaml
Due: pull-configs-validate-prow-yaml

feat(prow/jobs): delete jobs for pingcap and tikv org
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

Feature/add-ci-repo (#790)
  prow/config/config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

feat(prow/config): add config update file map for pingcap-qe/ci repo
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

feat(prow/config): add config update file map for pingcap-qe/ci repo (#791)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

Path conditions:
  pull-configs-validate-prow-yaml: any of: prow/
  pull-configs-validate-labels-yaml: (any of: prow/config/labels.yaml) or (any of: prow/config/labels.*)
  post-configs-update-orgs: any of: orgs/
  post-configs-deploy-prow: any of: prow/cluster
  post-configs-label-sync: any of: prow/config/labels.yaml
  pull-configs-validate-external-plugin-yaml: any of: prow/config/external_plugins_config.yaml
  pull-configs-validate-orgs: any of: orgs/
