Repository ti-community-infra/configs: changes, and which Prow jobs are due for each by the changed paths.
All: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-update-orgs, post-configs-deploy-prow, post-configs-label-sync, pull-configs-validate-external-plugin-yaml, pull-configs-validate-orgs

pull-configs-validate-prow-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20201204-d90be1ef6b
      command:
      - /checkconfig
      args:
      - --plugin-config=prow/config/plugins.yaml
      - --config-path=prow/config/config.yaml

pull-configs-validate-labels-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:v20201204-d90be1ef6b
      command:
      - /app/label_sync/app.binary
      args:
      - --config=prow/config/labels.yaml
      - --confirm=false
  ...

post-configs-update-orgs:
  decorate: true
  spec:
    containers:
    - image: golang:1.15
      command:
      - scripts/peribolos.sh
      args:
      - --config-path=orgs/config.yaml
      - --github-token-path=/etc/github/token
      - --github-endpoint=http://ghproxy
      - --github-endpoint=https://api.github.com
      - --min-admins=2
  ...

post-configs-deploy-prow:
  decorate: true
  spec:
    containers:
    - image: google/cloud-sdk:319.0.0
      command:
      - scripts/deploy.sh
      args:
      - --confirm
      - --config=trusted
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
  ...

post-configs-label-sync:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:v20201204-d90be1ef6b
      command:
      - /app/label_sync/app.binary
      args:
      - --config=prow/config/labels.yaml
      - --confirm=true
  ...

pull-configs-validate-external-plugin-yaml:
  decorate: true
  spec:
    containers:
    - image: ticommunityinfra/tichi-check-external-plugin-config:v2.0.4
      command:
      - check-external-plugin-config
      args:
      - --external-plugin-config-path=prow/config/external_plugins_config.yaml

pull-configs-validate-orgs:
  decorate: true
  spec:
    containers:
    - image: golang:1.16
      command:
      - scripts/peribolos.sh
      args:
      - --config-path=orgs/config.yaml
      - --github-token-path=/etc/github/token
      - --github-endpoint=http://ghproxy
      - --github-endpoint=https://api.github.com
      - --min-admins=2
  ...

config(prow/config): remove blunderbuss plugin for docs repos
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config(prow/config): update approve config for docs repos
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config(prow/config): disable blunderbuss plugin and update approve config for docs repos (#880)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config(prow/config): fix approve config for docs repos
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config(prow/config): fix approve config for docs repos (#881)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config(prow/config): delete forwarding to prow-ee.pingcap.net
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config(prow/config): delete forwarding to prow-ee.pingcap.net (#882)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

docs(prow): add deprecation documents for migrated locatioins
  prow/cluster/README.md
  prow/jobs/README.md
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

chore(prow/config): delete useless config fields
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config(prow/config): migrate tigger comment from `/merge` to `/approve` for tiflash repos
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config(prow/config): migrate tigger comment from `/merge` to `/approve` for tiflash repos (#884)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config(prow/config): remove plugin blunderbuss for `pingcap/tiflash` repo
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config(prow/config): remove plugin blunderbuss for `pingcap/tiflow` repo
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config(prow/config): remove plugin blunderbuss for `pingcap/tidb` repo
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config(prow/config): remove plugin blunderbuss for `pingcap/tiflash` repo (#886)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

Update Prow to v20230601-43eb1068e4 (#839)
  prow/cluster/jenkins-operator-deployment.yaml
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

chore(prow/config): delete useless config fields (#883)
  prow/cluster/README.md
  prow/config/plugins.yaml
  prow/jobs/README.md
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

config(prow/config): remove plugin blunderbuss for `pingcap/tiflow` repo (#887)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config(prow/config): remove plugin blunderbuss for `pingcap/tidb` repo (#888)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config(prow/config): fix approve plugin configs for docs repos
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config(prow/config): fix approve plugin configs for docs repos (#893)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config(prow/config): update the tars required PR label from `approved` to `lgtm`
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config(prow/config): update the tars required PR label from `approved` to `lgtm` (#897)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

chore: remove some required status on tiflow
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

chore: update required status on tiflow release-5.3
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

chore: remove some required check because prow trigger
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(tiflow): update required status on tiflow release-5.3 (#900)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(tikv/pd): enable size plugin
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config(tikv/pd): enable size plugin (#903)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config(prow/cronjobs): add branch protect and label sync jobs
  prow/cronjobs/branch-protector.yaml
  prow/cronjobs/label-sync.yaml
Due: pull-configs-validate-prow-yaml

config(prow/config): add new configMaps prepare to rename references
  prow/config/kustomization.yaml
Due: pull-configs-validate-prow-yaml

config(prow/cronjobs): add branch protect and label sync jobs (#904)
  prow/config/kustomization.yaml
  prow/cronjobs/branch-protector.yaml
  prow/cronjobs/label-sync.yaml
Due: pull-configs-validate-prow-yaml

config(prow/config): add release-3.* and release-4.* into tide's query branches for docs repos
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(prow/config): add release-3.* and release-4.* into tide's query branches for docs repos (#905)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(prow/prow): execlude old review labels when create cherry-pick PR
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config(prow/prow): execlude old review labels when create cherry-pick PR (#906)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config(prow/config): update external plugin configs
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config(prow/config): update external plugin configs (#907)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config(prow/config): enable chatgpt external plugins for docs repo
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config(prow/config): enable chatgpt external plugins for docs repo (#908)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

Path conditions:
  pull-configs-validate-prow-yaml: any of: prow/
  pull-configs-validate-labels-yaml: (any of: prow/config/labels.yaml) or (any of: prow/config/labels.*)
  post-configs-update-orgs: any of: orgs/
  post-configs-deploy-prow: any of: prow/cluster
  post-configs-label-sync: any of: prow/config/labels.yaml
  pull-configs-validate-external-plugin-yaml: any of: prow/config/external_plugins_config.yaml
  pull-configs-validate-orgs: any of: orgs/
