Repository ti-community-infra/configs: changes, and which Prow jobs are due for each by the changed paths.
All: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-update-orgs, post-configs-deploy-prow, post-configs-label-sync, pull-configs-validate-external-plugin-yaml, pull-configs-validate-orgs

pull-configs-validate-prow-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20201204-d90be1ef6b
      command:
      - /checkconfig
      args:
      - --plugin-config=prow/config/plugins.yaml
      - --config-path=prow/config/config.yaml

pull-configs-validate-labels-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:v20201204-d90be1ef6b
      command:
      - /app/label_sync/app.binary
      args:
      - --config=prow/config/labels.yaml
      - --confirm=false
  ...

post-configs-update-orgs:
  decorate: true
  spec:
    containers:
    - image: golang:1.15
      command:
      - scripts/peribolos.sh
      args:
      - --config-path=orgs/config.yaml
      - --github-token-path=/etc/github/token
      - --github-endpoint=http://ghproxy
      - --github-endpoint=https://api.github.com
      - --min-admins=2
  ...

post-configs-deploy-prow:
  decorate: true
  spec:
    containers:
    - image: google/cloud-sdk:319.0.0
      command:
      - scripts/deploy.sh
      args:
      - --confirm
      - --config=trusted
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
  ...

post-configs-label-sync:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:v20201204-d90be1ef6b
      command:
      - /app/label_sync/app.binary
      args:
      - --config=prow/config/labels.yaml
      - --confirm=true
  ...

pull-configs-validate-external-plugin-yaml:
  decorate: true
  spec:
    containers:
    - image: ticommunityinfra/tichi-check-external-plugin-config:v1.7.1
      command:
      - check-external-plugin-config
      args:
      - --external-plugin-config-path=prow/config/external_plugins_config.yaml

pull-configs-validate-orgs:
  decorate: true
  spec:
    containers:
    - image: golang:1.16
      command:
      - scripts/peribolos.sh
      args:
      - --config-path=orgs/config.yaml
      - --github-token-path=/etc/github/token
      - --github-endpoint=http://ghproxy
      - --github-endpoint=https://api.github.com
      - --min-admins=2
  ...

Revert "config: set the docs-tiem branch of docs-cn as protected (#565)"
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config(ticdc): make tide required for tiflow
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(ticdc): make tide required for tiflow (#570)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

docs: add document in the README.md
  README.md
Due: none

add required to realtikv-test on tidb
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

add required to realtikv-test on tidb (#571)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: join purelind as ti-community-infra reviewer
  orgs/ti-community-infra/community-infra-reviewers/teams.yaml
Due: post-configs-update-orgs, pull-configs-validate-orgs

add release-6.1
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

add label for release-6.1
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

update labels.md for release-6.1
  prow/config/labels.md
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml

config: add release-6.1 branch config (#573)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

Update org.yaml
  orgs/ti-community-infra/org.yaml
Due: post-configs-update-orgs, pull-configs-validate-orgs

add missing labels
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config: add missing release-6.1 labels (#574)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config(tiflow): add area/engine label to tiflow repo
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

config: change the cherry_pick_unapproved regexp
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

run ./scripts/update-labels.sh to fix ci
  prow/config/labels.md
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml

config(tiflow): add area/engine label to tiflow repo (#575)
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

config: change the cherry_pick_unapproved regexp (#576)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

feat: add config reviewers team
  orgs/ti-community-infra/config-reviewers/teams.yaml
Due: post-configs-update-orgs, pull-configs-validate-orgs

Update config.yaml
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: join purelind as ti-community-infra reviewer (#572)
  orgs/ti-community-infra/community-infra-reviewers/teams.yaml
  orgs/ti-community-infra/config-reviewers/teams.yaml
  orgs/ti-community-infra/org.yaml
Due: post-configs-update-orgs, pull-configs-validate-orgs

config: update require context for tidb-dashboard (#577)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

Update prow/config/config.yaml
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

Update config.yaml for chaos-mesh/chaosd (#578)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

add arm64 protected test
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

modify the test name
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

remove the ci / prefix
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

add arm64 test for Chaos Mesh (#579)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

support tiflash feature branch planner_refactory
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

add two lable
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

support check-issue-triage-complete on branch planner_refactory
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

set tiflash config in one place
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

remove some label for feature branch
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

tiflash: support tiflash feature branch planner_refactory (#580)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

update binlog config to allow pick LGT labels
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

Update external_plugins_config.yaml
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

Path conditions:
  pull-configs-validate-prow-yaml: any of: prow/
  pull-configs-validate-labels-yaml: (any of: prow/config/labels.yaml) or (any of: prow/config/labels.*)
  post-configs-update-orgs: any of: orgs/
  post-configs-deploy-prow: any of: prow/cluster
  post-configs-label-sync: any of: prow/config/labels.yaml
  pull-configs-validate-external-plugin-yaml: any of: prow/config/external_plugins_config.yaml
  pull-configs-validate-orgs: any of: orgs/
