Repository ti-community-infra/configs: changes, and which Prow jobs are due for each by the changed paths.
All: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-update-orgs, post-configs-deploy-prow, post-configs-label-sync, pull-configs-validate-orgs

pull-configs-validate-prow-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20201204-d90be1ef6b
      command:
      - /checkconfig
      args:
      - --plugin-config=prow/config/plugins.yaml
      - --config-path=prow/config/config.yaml

pull-configs-validate-labels-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:v20201204-d90be1ef6b
      command:
      - /app/label_sync/app.binary
      args:
      - --config=prow/config/labels.yaml
      - --confirm=false
  ...

post-configs-update-orgs:
  decorate: true
  spec:
    containers:
    - image: golang:1.15
      command:
      - scripts/peribolos.sh
      args:
      - --config-path=orgs/config.yaml
      - --github-token-path=/etc/github/token
      - --github-endpoint=http://ghproxy
      - --github-endpoint=https://api.github.com
      - --min-admins=2
  ...

post-configs-deploy-prow:
  decorate: true
  spec:
    containers:
    - image: google/cloud-sdk:319.0.0
      command:
      - scripts/deploy.sh
      args:
      - --confirm
      - --config=trusted
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
  ...

post-configs-label-sync:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:v20201204-d90be1ef6b
      command:
      - /app/label_sync/app.binary
      args:
      - --config=prow/config/labels.yaml
      - --confirm=true
  ...

pull-configs-validate-orgs:
  decorate: true
  spec:
    containers:
    - image: golang:1.15
      command:
      - scripts/peribolos.sh
      args:
      - --config-path=orgs/config.yaml
      - --github-token-path=/etc/github/token
      - --github-endpoint=http://ghproxy
      - --github-endpoint=https://api.github.com
      - --min-admins=2
  ...

config: enable contribution for tikv
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: enable autobump for tichi
  prow/jobs/ti-community-infra/tichi/tichi-periodics.yaml
Due: pull-configs-validate-prow-yaml

fix: fix typo
  prow/jobs/ti-community-infra/tichi/tichi-periodics.yaml
Due: pull-configs-validate-prow-yaml

fix
  prow/jobs/ti-community-infra/tichi/tichi-periodics.yaml
Due: pull-configs-validate-prow-yaml

config: enable autobump for tichi (#196)
  prow/jobs/ti-community-infra/tichi/tichi-periodics.yaml
Due: pull-configs-validate-prow-yaml

Update prow/config/external_plugins_config.yaml
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml

config: enable contribution for tikv (#195)
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

fix: fix the job config path option of autobump
  prow/jobs/ti-community-infra/tichi/tichi-periodics.yaml
Due: pull-configs-validate-prow-yaml

fix: fix the job config path option of autobump (#197)
  prow/jobs/ti-community-infra/tichi/tichi-periodics.yaml
Due: pull-configs-validate-prow-yaml

config: add some labels
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

fix
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

config: add some labels (#198)
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

fix: refine label color
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

fix: refine label color (#199)
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

fix: refine label color (#200)
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

config: enable tichi for dumpling
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: enable label for dumpling
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml

config: enable blunderbuss for dumpling
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: enable tichi for dumpling (#201)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: fix dumpling owner typo
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml

config: fix dumpling owner typo (#202)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml

config: add inactive reviewer for dumpling
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml

config: add inactive reviewer for dumpling (#203)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml

config: enable tichi for dm
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: remove GMHDBJD
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml

config: enable label for dm
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml

config: enable contribtuion for dm
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: enable tichi for dm (#204)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: enable blunderbuss for tidb-tools
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: refine exclude reviewers
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml

config: enable tichi for tidb-tools (#205)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

build: deploy cherrypicker
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/cherrypicker_service.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

config: enable tichi for ticdc
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: disable label for ticdc
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

address comment
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml

refine label prefix
  prow/cluster/cherrypicker_deployment.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

config: enable tichi for ticdc (#207)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

Path conditions:
  pull-configs-validate-prow-yaml: any of: prow/
  pull-configs-validate-labels-yaml: any of: prow/config/labels.yaml
  post-configs-update-orgs: any of: orgs/
  post-configs-deploy-prow: any of: prow/cluster
  post-configs-label-sync: any of: prow/config/labels.yaml
  pull-configs-validate-orgs: any of: orgs/
