Repository ti-community-infra/configs: changes, and which Prow jobs are due for each by the changed paths.
All: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-update-orgs, post-configs-deploy-prow, post-configs-label-sync, pull-configs-validate-external-plugin-yaml, pull-configs-validate-orgs

Path conditions:
  pull-configs-validate-prow-yaml: any of: prow/
  pull-configs-validate-labels-yaml: (any of: prow/config/labels.yaml) or (any of: prow/config/labels.*)
  post-configs-update-orgs: any of: orgs/
  post-configs-deploy-prow: any of: prow/cluster
  post-configs-label-sync: any of: prow/config/labels.yaml
  pull-configs-validate-external-plugin-yaml: any of: prow/config/external_plugins_config.yaml
  pull-configs-validate-orgs: any of: orgs/

chore(prow/config): remove 'idc-jenkins-ci/build' from branch protection contexts (#1182)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(tikv/client-go): modify the configuration to let tide check all CI contexts. (#1185)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

feat: update configs for TiDB beta 9.0-beta.2 release
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

feat: update configs for TiDB beta 9.0-beta.2 release (#1188)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

config(docs): add docs tidb operator release-2.0
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config(docs): add docs tidb operator release-2.0 (#1189)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config(docs): add release-2.x for docs-tidb-operator
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

refactor(prow/config): refactor autoresponder config and update merge guidance
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config(docs): add release-2.x for docs-tidb-operator (#1190)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

refactor(prow/config): refactor autoresponder config and update merge guidance (#1191)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

chore(prow/config): add branch protection and Tide config for tidb-operator release-2.0 branch
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

Update prow/config/config.yaml
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

chore(prow/config): add branch protection and Tide config for tidb-operator release-2.0 branch (#1192)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

remove the v8.3 cherry-pick labels for docs-cn and docs
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

remove the v8.3 cherry-pick labels for docs-cn and docs (#1193)
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

feat(prow/configs): add prow-tekton external plugin to plugin config
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

feat(prow/configs): add prow-tekton external plugin to plugin config (#1194)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

chore(prow/configs): remove ti-community-tars plugin from pd repo configuration
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

chore(prow/configs): remove ti-community-tars plugin from pd repo configuration (#1195)
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

chore(prow/configs): update prow-tekton endpoint to el-github.ee-cd.svc
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

chore(prow/configs): update prow-tekton endpoint to el-github.ee-cd.svc (#1196)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

feat(prow/config): add support for release-nextgen-20250815
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

feat(prow/config): add prow plugin configs for tidbcloud/tidb-cse repo
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

feat(prow/config): add support for release-nextgen-20250815 (#1198)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

feat(prow/config): add prow plugin configs for tidbcloud/tidb-cse repo (#1199)
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

fix(prow/confi): update cherrypicker plugin config for tidbcloud/tidb-cse
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

fix(prow/confi): update cherrypicker plugin config for tidbcloud/tidb-cse (#1200)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

feat: add forward events to prow-tekton for tidbcloud org
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

feat(tidbcloud): add prow-tekton to external_plugins for ee-cd
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

feat(tidbcloud): add prow-tekton to external_plugins for ee-cd (#1203)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

chore(prow/config): remove jenkins-ci / pull-e2e-kind-v2 from branch protection checks
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(tidb-operator): remove jenkins-ci / pull-e2e-kind-v2 from branch protection checks (#1204)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

Revert "config(tidb-operator): remove jenkins-ci / pull-e2e-kind-v2 from bran…"
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

Revert "config(tidb-operator): remove jenkins-ci / pull-e2e-kind-v2 from branch protection checks" (#1205)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

Revert "Revert "config(tidb-operator): remove jenkins-ci / pull-e2e-kind-v2 f…"
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(tidb-operator): remove jenkins-ci / pull-e2e-kind-v2 from branch protection checks (#1206)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

chore(pingcap/tidb-operator): change strict mode from true to false in config
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

chore(pingcap/tidb-operator): change strict mode from true to false in config (#1207)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

tidb-cse repo add branch
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

tidb-cse repo add branch (#1209)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml
