Repository ti-community-infra/configs: changes, and which Prow jobs are due for each by the changed paths.
All: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-update-orgs, post-configs-deploy-prow, post-configs-label-sync, pull-configs-validate-external-plugin-yaml, pull-configs-validate-orgs

Path conditions:
  pull-configs-validate-prow-yaml: any of: prow/
  pull-configs-validate-labels-yaml: any of: prow/config/labels.yaml
  post-configs-update-orgs: any of: orgs/
  post-configs-deploy-prow: any of: prow/cluster
  post-configs-label-sync: any of: prow/config/labels.yaml
  pull-configs-validate-external-plugin-yaml: any of: prow/config/external_plugins_config.yaml
  pull-configs-validate-orgs: any of: orgs/

remove chaos from required checks
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

chore: cleanup unused configs (#337)
  ti-community-bots/dev/.gitignore
  ti-community-bots/dev/Makefile
  ti-community-bots/dev/cluster/bots_namespace.yaml
  ti-community-bots/dev/cluster/ing_ingress.yaml
  ti-community-bots/dev/cluster/ti_sync_bot_deployment.yaml
  ti-community-bots/dev/cluster/ti_sync_bot_service.yaml
  ti-community-bots/dev/example/database_config.example.yaml
  ti-community-bots/dev/example/ti_sync_bot_config.example.yaml
Due: none

config: remove chaos from required checks for tidb-operator (#338)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

fix: revert tars from v1.5.13 to v1.5.12
  prow/cluster/ti_community_tars_deployment.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

fix: revert tars from v1.5.13 to v1.5.12 (#339)
  prow/cluster/ti_community_tars_deployment.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

chore: cleanup ti-sync-bot configs
  prow/cluster/label_sync.yaml
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.yaml
  prow/config/plugins.yaml
  prow/jobs/ti-community-infra/configs/configs-postsubmits.yaml
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-deploy-prow, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

config: rename test-live to test-prod
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config: rename test-live to test-prod (#341)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

chore: cleanup ti-sync-bot configs (#340)
  prow/cluster/label_sync.yaml
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.yaml
  prow/config/plugins.yaml
  prow/jobs/ti-community-infra/configs/configs-postsubmits.yaml
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-deploy-prow, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

Update config.yaml
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: unrequired the github action test of ticdc (#342)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

add skip-unknown-contexts for tidb-operator
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: add skip-unknown-contexts for tidb-operator (#343)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

build: bump all ti plugins from v1.5.13 to v1.5.14
  prow/cluster/ti_community_autoresponder_deployment.yaml
  prow/cluster/ti_community_blunderbuss_deployment.yaml
  prow/cluster/ti_community_cherrypicker_deployment.yaml
  prow/cluster/ti_community_contribution_deployment.yaml
  prow/cluster/ti_community_label_blocker_deployment.yaml
  prow/cluster/ti_community_label_deployment.yaml
  prow/cluster/ti_community_lgtm_deployment.yaml
  prow/cluster/ti_community_merge_deployment.yaml
  prow/cluster/ti_community_owners_deployment.yaml
  prow/cluster/ti_community_tars_deployment.yaml
  prow/cluster/tichi_web_deployment.yaml
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

build: bump all ti plugins from v1.5.13 to v1.5.14 (#344)
  prow/cluster/ti_community_autoresponder_deployment.yaml
  prow/cluster/ti_community_blunderbuss_deployment.yaml
  prow/cluster/ti_community_cherrypicker_deployment.yaml
  prow/cluster/ti_community_contribution_deployment.yaml
  prow/cluster/ti_community_label_blocker_deployment.yaml
  prow/cluster/ti_community_label_deployment.yaml
  prow/cluster/ti_community_lgtm_deployment.yaml
  prow/cluster/ti_community_merge_deployment.yaml
  prow/cluster/ti_community_owners_deployment.yaml
  prow/cluster/ti_community_tars_deployment.yaml
  prow/cluster/tichi_web_deployment.yaml
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

config: add release 5.1 config
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

fix: fix typo
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config: add release 5.1 config (#345)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config: do not protect ti-community-infra master branch
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: do not protect ti-community-infra master branch (#347)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

fix: revert tars from v1.5.14 to v1.5.15
  prow/cluster/ti_community_autoresponder_deployment.yaml
  prow/cluster/ti_community_blunderbuss_deployment.yaml
  prow/cluster/ti_community_cherrypicker_deployment.yaml
  prow/cluster/ti_community_contribution_deployment.yaml
  prow/cluster/ti_community_label_blocker_deployment.yaml
  prow/cluster/ti_community_label_deployment.yaml
  prow/cluster/ti_community_lgtm_deployment.yaml
  prow/cluster/ti_community_merge_deployment.yaml
  prow/cluster/ti_community_owners_deployment.yaml
  prow/cluster/ti_community_tars_deployment.yaml
  prow/cluster/tichi_web_deployment.yaml
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

build(bump): bump ti plugins version from v1.5.14 to v1.5.15 (#348)
  prow/cluster/ti_community_autoresponder_deployment.yaml
  prow/cluster/ti_community_blunderbuss_deployment.yaml
  prow/cluster/ti_community_cherrypicker_deployment.yaml
  prow/cluster/ti_community_contribution_deployment.yaml
  prow/cluster/ti_community_label_blocker_deployment.yaml
  prow/cluster/ti_community_label_deployment.yaml
  prow/cluster/ti_community_lgtm_deployment.yaml
  prow/cluster/ti_community_merge_deployment.yaml
  prow/cluster/ti_community_owners_deployment.yaml
  prow/cluster/ti_community_tars_deployment.yaml
  prow/cluster/tichi_web_deployment.yaml
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

config: add needs-cherry-pick-5.1 label for tikv/tidb repo
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config: add needs-cherry-pick-5.1 label for tikv and tidb repo (#349)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

fix: refine ti-community-bot branch protection
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

fix: refine ti-community-bot branch protection (#350)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

Add the bot configuration for v5.1 branch in two doc repos
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

chore: Do not assign deployment requests to me
  .github/ISSUE_TEMPLATE/deploy-request.md
Due: none

chore: Do not assign deployment requests to me (#352)
  .github/ISSUE_TEMPLATE/deploy-request.md
Due: none

config: invite mini-bot into org
  orgs/ti-community-infra/bots-test/teams.yaml
  orgs/ti-community-infra/org.yaml
Due: post-configs-update-orgs, pull-configs-validate-orgs

fix: sort the logins
  orgs/ti-community-infra/bots-test/teams.yaml
  orgs/ti-community-infra/org.yaml
Due: post-configs-update-orgs, pull-configs-validate-orgs

fix: add mod flag
  scripts/peribolos.sh
Due: none

fix: add comment
  scripts/peribolos.sh
Due: none

config: invite mini-bot into org (#353)
  orgs/ti-community-infra/bots-test/teams.yaml
  orgs/ti-community-infra/org.yaml
  scripts/peribolos.sh
Due: post-configs-update-orgs, pull-configs-validate-orgs

chore: cleanup rustin-bot
  orgs/ti-community-infra/bots-test/teams.yaml
  orgs/ti-community-infra/org.yaml
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, post-configs-update-orgs, pull-configs-validate-external-plugin-yaml, pull-configs-validate-orgs

remove integration test check
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: remove integration test contexts check (#355)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

chore: cleanup rustin-bot (#354)
  orgs/ti-community-infra/bots-test/teams.yaml
  orgs/ti-community-infra/org.yaml
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, post-configs-update-orgs, pull-configs-validate-external-plugin-yaml, pull-configs-validate-orgs

build(bump): bump all ti plugins version from v1.5.15 to v1.6.0
  prow/cluster/ti_community_autoresponder_deployment.yaml
  prow/cluster/ti_community_blunderbuss_deployment.yaml
  prow/cluster/ti_community_cherrypicker_deployment.yaml
  prow/cluster/ti_community_contribution_deployment.yaml
  prow/cluster/ti_community_label_blocker_deployment.yaml
  prow/cluster/ti_community_label_deployment.yaml
  prow/cluster/ti_community_lgtm_deployment.yaml
  prow/cluster/ti_community_merge_deployment.yaml
  prow/cluster/ti_community_owners_deployment.yaml
  prow/cluster/ti_community_tars_deployment.yaml
  prow/cluster/tichi_web_deployment.yaml
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

build(bump): bump all ti plugins version from v1.5.15 to v1.6.0 (#356)
  prow/cluster/ti_community_autoresponder_deployment.yaml
  prow/cluster/ti_community_blunderbuss_deployment.yaml
  prow/cluster/ti_community_cherrypicker_deployment.yaml
  prow/cluster/ti_community_contribution_deployment.yaml
  prow/cluster/ti_community_label_blocker_deployment.yaml
  prow/cluster/ti_community_label_deployment.yaml
  prow/cluster/ti_community_lgtm_deployment.yaml
  prow/cluster/ti_community_merge_deployment.yaml
  prow/cluster/ti_community_owners_deployment.yaml
  prow/cluster/ti_community_tars_deployment.yaml
  prow/cluster/tichi_web_deployment.yaml
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow
