Repository ti-community-infra/configs: changes, and which Prow jobs are due for each by the changed paths.
All: pull-configs-validate-prow-yaml, post-configs-update-orgs, post-configs-deploy-prow

.prow.yaml:

presubmits:
  - name: pull-configs-validate-prow-yaml
    decorate: true
    run_if_changed: 'prow/'
    branches:
      - ^main$
    spec:
      containers:
        - image: gcr.io/k8s-prow/checkconfig:v20201204-d90be1ef6b
          command:
            - /checkconfig
          args:
            - --plugin-config=prow/config/plugins.yaml
            - --config-path=prow/config/config.yaml
postsubmits:
  - name: post-configs-update-orgs
    decorate: true
    run_if_changed: 'orgs/'
    branches:
      - ^main$
    max_concurrency: 1
    spec:
      containers:
        - image: golang:1.15
          command:
            - scripts/peribolos.sh
          args:
            - --config-path=orgs/config.yaml
            - --github-token-path=/etc/github/token
            - --github-endpoint=http://ghproxy
            - --github-endpoint=https://api.github.com
            - --min-admins=2
            - --fix-org
            - --fix-org-members
            - --fix-teams
            - --fix-team-members
            - --fix-team-repos
            - --tokens=1200
            - --confirm
          volumeMounts:
            - name: github-token
              mountPath: /etc/github
              readOnly: true
      volumes:
        - name: github-token
          secret:
            secretName: github-token
  - name: post-configs-deploy-prow
    run_if_changed: 'prow/cluster'
    decorate: true
    branches:
      - ^main$
    max_concurrency: 1
    spec:
      containers:
        - image: google/cloud-sdk:319.0.0
          command:
            - scripts/deploy.sh
          args:
            - --confirm
            - --config=trusted
          env:
            - name: GOOGLE_APPLICATION_CREDENTIALS
              value: /creds/service-account.json
          volumeMounts:
            - name: creds
              mountPath: /creds
      volumes:
        - name: creds
          secret:
            secretName: deployer-credentials
    annotations:
      description: deploys the configured version of prow by running scripts/deploy.sh

config: enable
  prow/cluster/label_sync.yaml
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

config: enable ti-community-label
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: refine
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml

config: refine targets
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml

config: enable require-matching-label plugin for pd
  prow/config/labels.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: fix typo
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

tiup: update label colors
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml

*: update color scheme for common labels
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml

config: exclude can-merge label
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml

config: fix typo
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml

config: enable label plugins for pd (#42)
  prow/cluster/label_sync.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

ci: add pull-configs-validate-labels-yaml
  .prow.yaml
Due: none

ci: test
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml

ci: remove label_sync.yaml
  .prow.yaml
  prow/cluster/label_sync.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

fix: refine color
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml

ci: add post-configs-label-sync (#45)
  .prow.yaml
  prow/cluster/label_sync.yaml
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

fix: refine typo
  .prow.yaml
Due: none

fix: test
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml

fix: refine typo (#46)
  .prow.yaml
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml

fix: fix typo
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml

ci: add pull-configs-validate-labels-yaml (#47)
  .prow.yaml
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml

minor adjustments
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml

use pink for hold, wip and rebase to make them more visible
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml

config: enable hold and wip for tikv pd repo
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

refactor: update the mount path of external-plugins-config
  prow/cluster/ti_community_autoresponder_deployment.yaml
  prow/cluster/ti_community_blunderbuss_deployment.yaml
  prow/cluster/ti_community_label_deployment.yaml
  prow/cluster/ti_community_lgtm_deployment.yaml
  prow/cluster/ti_community_merge_deployment.yaml
  prow/cluster/ti_community_owners_deployment.yaml
  prow/cluster/ti_community_tars_deployment.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

config: enable hold and wip for tikv pd repo (#48)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: update ti-community-prow milestone
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: update ti-community-prow milestone (#52)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

minor adjustment to fit github ui
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml

config: disable label_sync for tiup
  .prow.yaml
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml

config: disable label_sync for tiup (#53)
  .prow.yaml
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml

config: disable tars for ti-community-prow
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: disable tars for ti-community-prow (#54)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml
