Repository ti-community-infra/configs: changes, and which Prow jobs are due for each by the changed paths.
All: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-update-orgs, post-configs-deploy-prow, post-configs-label-sync, pull-configs-validate-external-plugin-yaml, pull-configs-validate-orgs

pull-configs-validate-prow-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20201204-d90be1ef6b
      command:
      - /checkconfig
      args:
      - --plugin-config=prow/config/plugins.yaml
      - --config-path=prow/config/config.yaml

pull-configs-validate-labels-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:v20201204-d90be1ef6b
      command:
      - /app/label_sync/app.binary
      args:
      - --config=prow/config/labels.yaml
      - --confirm=false
  ...

post-configs-update-orgs:
  decorate: true
  spec:
    containers:
    - image: golang:1.15
      command:
      - scripts/peribolos.sh
      args:
      - --config-path=orgs/config.yaml
      - --github-token-path=/etc/github/token
      - --github-endpoint=http://ghproxy
      - --github-endpoint=https://api.github.com
      - --min-admins=2
  ...

post-configs-deploy-prow:
  decorate: true
  spec:
    containers:
    - image: google/cloud-sdk:319.0.0
      command:
      - scripts/deploy.sh
      args:
      - --confirm
      - --config=trusted
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
  ...

post-configs-label-sync:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:v20201204-d90be1ef6b
      command:
      - /app/label_sync/app.binary
      args:
      - --config=prow/config/labels.yaml
      - --confirm=true
  ...

pull-configs-validate-external-plugin-yaml:
  decorate: true
  spec:
    containers:
    - image: ticommunityinfra/tichi-check-external-plugin-config:v2.0.4
      command:
      - check-external-plugin-config
      args:
      - --external-plugin-config-path=prow/config/external_plugins_config.yaml

pull-configs-validate-orgs:
  decorate: true
  spec:
    containers:
    - image: golang:1.16
      command:
      - scripts/peribolos.sh
      args:
      - --config-path=orgs/config.yaml
      - --github-token-path=/etc/github/token
      - --github-endpoint=http://ghproxy
      - --github-endpoint=https://api.github.com
      - --min-admins=2
  ...

config(pingcap/tidb-test): enable cherry pick plugin (#843)
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

feat(prow): kustomize config and jobs
  prow/config/kustomization.yaml
  prow/jobs/kustomization.yaml
  prow/kustomization.yaml
Due: pull-configs-validate-prow-yaml

deps(prow/cluster): bump hook image to v20230418-8438f51444
  prow/cluster/hook_deployment.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

deps(prow/cluster): bump hook image to v20230418-8438f51444 (#845)
  prow/cluster/hook_deployment.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

Revert "deps(prow/cluster): bump hook image to v20230418-8438f51444 (#845)"
  prow/cluster/hook_deployment.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

Update hook_deployment.yaml
  prow/cluster/hook_deployment.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

deps(prow/cluster): bump hook image to v20230324-18d2952 (#846)
  prow/cluster/hook_deployment.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

feat: add release-7.0 branch config
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

fix: correct wrong config
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: add release-7.1 branch config (#847)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

feat(prow): kustomize config and jobs (#844)
  prow/config/kustomization.yaml
  prow/jobs/kustomization.yaml
  prow/kustomization.yaml
Due: pull-configs-validate-prow-yaml

fix(prow/config): fix kustomization file
  prow/config/kustomization.yaml
Due: pull-configs-validate-prow-yaml

fix(prow/config): fix kustomization file (#848)
  prow/config/kustomization.yaml
Due: pull-configs-validate-prow-yaml

fix(prow/config): config.yaml for flux kustomization
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

fix(prow/config): fix external plugins config's eascap for flux kustomization
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

fix(prow/config): fix plugins config's eascap for flux kustomization
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

fix(prow/config): try to fix tide merge templates
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

fix(prow/config): disable repos that not installed github app
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

fix(prow/config): fix plugin config
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

fix(prow/config): fix urls in external plugins config
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

fix(prow/config): delete job record to avoid conflicts
  prow/kustomization.yaml
Due: pull-configs-validate-prow-yaml

fix(prow/config): prowjob namespace
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

fix(prow/config): fix label user restricts
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

fix(prow/config): enable tikv's repos since the github app was installed
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

revert(prow/config): restore tide merge templates
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

revert(prow/config): restore tide merge templates (#849)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

fix(prow/config): delete `config-updater` on repos since migrated to gitops
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

fix(prow/config): delete `config-updater` on repos since migrated to gitops (#850)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

fix(prow/config): fix exscape in merge templates
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

fix(prow/config): fix exscape in merge templates (#851)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

fix(prow/config): fix exscape in merge templates (#852)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

fix(prow/config): update branch protection for `pingcap/tiflow`
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

fix(prow/config): disable `ti-community-tars` plugin on `pingcap/tiflow`
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

fix(prow/config): update config for `pingcap/tiflow` about branch protection (#853)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

Revert "fix(prow/config): update config for `pingcap/tiflow` about branch protection (#853)"
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

Revert "fix(prow/config): update config for `pingcap/tiflow` about branch protection (#853)" (#854)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

Path conditions:
  pull-configs-validate-prow-yaml: any of: prow/
  pull-configs-validate-labels-yaml: (any of: prow/config/labels.yaml) or (any of: prow/config/labels.*)
  post-configs-update-orgs: any of: orgs/
  post-configs-deploy-prow: any of: prow/cluster
  post-configs-label-sync: any of: prow/config/labels.yaml
  pull-configs-validate-external-plugin-yaml: any of: prow/config/external_plugins_config.yaml
  pull-configs-validate-orgs: any of: orgs/
