Repository ti-community-infra/configs: changes, and which Prow jobs are due for each by the changed paths.
All: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-update-orgs, post-configs-deploy-prow, post-configs-label-sync, pull-configs-validate-external-plugin-yaml, pull-configs-validate-orgs

pull-configs-validate-prow-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20201204-d90be1ef6b
      command:
      - /checkconfig
      args:
      - --plugin-config=prow/config/plugins.yaml
      - --config-path=prow/config/config.yaml

pull-configs-validate-labels-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:v20201204-d90be1ef6b
      command:
      - /app/label_sync/app.binary
      args:
      - --config=prow/config/labels.yaml
      - --confirm=false
  ...

post-configs-update-orgs:
  decorate: true
  spec:
    containers:
    - image: golang:1.15
      command:
      - scripts/peribolos.sh
      args:
      - --config-path=orgs/config.yaml
      - --github-token-path=/etc/github/token
      - --github-endpoint=http://ghproxy
      - --github-endpoint=https://api.github.com
      - --min-admins=2
  ...

post-configs-deploy-prow:
  decorate: true
  spec:
    containers:
    - image: google/cloud-sdk:319.0.0
      command:
      - scripts/deploy.sh
      args:
      - --confirm
      - --config=trusted
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
  ...

post-configs-label-sync:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:v20201204-d90be1ef6b
      command:
      - /app/label_sync/app.binary
      args:
      - --config=prow/config/labels.yaml
      - --confirm=true
  ...

pull-configs-validate-external-plugin-yaml:
  decorate: true
  spec:
    containers:
    - image: ticommunityinfra/tichi-check-external-plugin-config:v1.5.12
      command:
      - check-external-plugin-config
      args:
      - --external-plugin-config-path=prow/config/external_plugins_config.yaml

pull-configs-validate-orgs:
  decorate: true
  spec:
    containers:
    - image: golang:1.15
      command:
      - scripts/peribolos.sh
      args:
      - --config-path=orgs/config.yaml
      - --github-token-path=/etc/github/token
      - --github-endpoint=http://ghproxy
      - --github-endpoint=https://api.github.com
      - --min-admins=2
  ...

build: cleanup plank and bump all components version
  prow/cluster/branchprotector.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/label_sync.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/plank_rbac.yaml
  prow/cluster/plank_service.yaml
  prow/cluster/prow_controller_manager_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config/config.yaml
  prow/jobs/pingcap/tidb/tidb-bot-periodics.yaml
  prow/jobs/ti-community-infra/configs/configs-postsubmits.yaml
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
  prow/jobs/ti-community-infra/org/bot-periodics.yaml
  prow/jobs/tikv/tikv/tikv-bot-periodics.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

build: cleanup plank and bump all components version (#322)
  prow/cluster/branchprotector.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/label_sync.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/plank_rbac.yaml
  prow/cluster/plank_service.yaml
  prow/cluster/prow_controller_manager_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config/config.yaml
  prow/jobs/pingcap/tidb/tidb-bot-periodics.yaml
  prow/jobs/ti-community-infra/configs/configs-postsubmits.yaml
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
  prow/jobs/ti-community-infra/org/bot-periodics.yaml
  prow/jobs/tikv/tikv/tikv-bot-periodics.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

config: disable release-note for tichi (#321)
  prow/config/config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: remove some slow check from "Required" (#317)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

br: use include reviewer config
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config: update the list of auto-assigned reviewers for BR (#323)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config: update the list of auto-assigned reviewers for tidb-operator
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config: update the list of auto-assigned reviewers for tidb-operator (#324)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config: cleanup check_release_note CI config for pd
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: cleanup check_release_note CI config for pd (#325)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: enable release-note for tikv
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: cleanup check_release_note CI config for tikv
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

Add the v5.1 label for the docs-cn and docs repo
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

config: remove several required check in ticdc release-5.0
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: remove several required check in ticdc release-5.0 (#328)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

Update external_plugins_config.yaml
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config: enable release-note for tikv && cleanup check_release_note CI config for tikv (#326)
  prow/config/config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: Add the v5.1 label for the docs-cn and docs repos (#327)
  prow/config/external_plugins_config.yaml
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

config: disable auto-retester for tidb and tikv
  prow/jobs/pingcap/tidb/tidb-bot-periodics.yaml
  prow/jobs/tikv/tikv/tikv-bot-periodics.yaml
Due: pull-configs-validate-prow-yaml

config: Retire me from ti-community-infra admin
  orgs/ti-community-infra/bots-test/teams.yaml
  orgs/ti-community-infra/maintainers/teams.yaml
  orgs/ti-community-infra/org.yaml
  orgs/ti-community-infra/sig-community-infra/teams.yaml
Due: post-configs-update-orgs, pull-configs-validate-orgs

config: Retire me from ti-community-infra admin
  prow/jobs/ti-community-infra/org/bot-periodics.yaml
Due: pull-configs-validate-prow-yaml

config: disable auto-retester for tidb and tikv (#329)
  prow/jobs/pingcap/tidb/tidb-bot-periodics.yaml
  prow/jobs/tikv/tikv/tikv-bot-periodics.yaml
Due: pull-configs-validate-prow-yaml

config: Retire me from ti-community-infra admin (#330)
  orgs/ti-community-infra/bots-test/teams.yaml
  orgs/ti-community-infra/maintainers/teams.yaml
  orgs/ti-community-infra/org.yaml
  orgs/ti-community-infra/sig-community-infra/teams.yaml
  prow/jobs/ti-community-infra/org/bot-periodics.yaml
Due: pull-configs-validate-prow-yaml, post-configs-update-orgs, pull-configs-validate-orgs

config: fix the broken org config
  orgs/ti-community-infra/sig-community-infra/teams.yaml
Due: post-configs-update-orgs, pull-configs-validate-orgs

config: fix the broken org config (#331)
  orgs/ti-community-infra/sig-community-infra/teams.yaml
Due: post-configs-update-orgs, pull-configs-validate-orgs

build: upgrade go version to 1.16
  go.mod
  go.sum
Due: none

build: upgrade go version to 1.16
  prow/jobs/ti-community-infra/configs/configs-postsubmits.yaml
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
Due: pull-configs-validate-prow-yaml

build: upgrade go version to 1.16 (#332)
  go.mod
  go.sum
  prow/jobs/ti-community-infra/configs/configs-postsubmits.yaml
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
Due: pull-configs-validate-prow-yaml

build: bump all ti plugins from v1.5.12 to v1.5.13
  prow/cluster/ti_community_autoresponder_deployment.yaml
  prow/cluster/ti_community_blunderbuss_deployment.yaml
  prow/cluster/ti_community_cherrypicker_deployment.yaml
  prow/cluster/ti_community_contribution_deployment.yaml
  prow/cluster/ti_community_label_blocker_deployment.yaml
  prow/cluster/ti_community_label_deployment.yaml
  prow/cluster/ti_community_lgtm_deployment.yaml
  prow/cluster/ti_community_merge_deployment.yaml
  prow/cluster/ti_community_owners_deployment.yaml
  prow/cluster/ti_community_tars_deployment.yaml
  prow/cluster/tichi_web_deployment.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow, pull-configs-validate-external-plugin-yaml

build: bump all ti plugins from v1.5.12 to v1.5.13 (#333)
  prow/cluster/ti_community_autoresponder_deployment.yaml
  prow/cluster/ti_community_blunderbuss_deployment.yaml
  prow/cluster/ti_community_cherrypicker_deployment.yaml
  prow/cluster/ti_community_contribution_deployment.yaml
  prow/cluster/ti_community_label_blocker_deployment.yaml
  prow/cluster/ti_community_label_deployment.yaml
  prow/cluster/ti_community_lgtm_deployment.yaml
  prow/cluster/ti_community_merge_deployment.yaml
  prow/cluster/ti_community_owners_deployment.yaml
  prow/cluster/ti_community_tars_deployment.yaml
  prow/cluster/tichi_web_deployment.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow, pull-configs-validate-external-plugin-yaml

config: auto respond tolgtm
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

*: address comment
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

*: add newline
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: auto respond to lgtm (#334)
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config: remove lgtm term in cherry_pick_unapproved
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: remove lgtm term in cherry_pick_unapproved (#335)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

build: bump all components version from v20210514-64850e516d to v20210521-0713522bd8
  prow/cluster/branchprotector.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/label_sync.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/prow_controller_manager_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config/config.yaml
  prow/jobs/ti-community-infra/configs/configs-postsubmits.yaml
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
  prow/jobs/ti-community-infra/org/bot-periodics.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

build: bump all components version from v20210514-64850e516d to v20210521-0713522bd8 (#336)
  prow/cluster/branchprotector.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/label_sync.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/prow_controller_manager_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config/config.yaml
  prow/jobs/ti-community-infra/configs/configs-postsubmits.yaml
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
  prow/jobs/ti-community-infra/org/bot-periodics.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

chore: cleanup unused configs
  ti-community-bots/dev/.gitignore
  ti-community-bots/dev/Makefile
  ti-community-bots/dev/cluster/bots_namespace.yaml
  ti-community-bots/dev/cluster/ing_ingress.yaml
  ti-community-bots/dev/cluster/ti_sync_bot_deployment.yaml
  ti-community-bots/dev/cluster/ti_sync_bot_service.yaml
  ti-community-bots/dev/example/database_config.example.yaml
  ti-community-bots/dev/example/ti_sync_bot_config.example.yaml
Due: none

Path conditions:
  pull-configs-validate-prow-yaml: any of: prow/
  pull-configs-validate-labels-yaml: any of: prow/config/labels.yaml
  post-configs-update-orgs: any of: orgs/
  post-configs-deploy-prow: any of: prow/cluster
  post-configs-label-sync: any of: prow/config/labels.yaml
  pull-configs-validate-external-plugin-yaml: any of: prow/config/external_plugins_config.yaml
  pull-configs-validate-orgs: any of: orgs/
