Repository ti-community-infra/configs: changes, and which Prow jobs are due for each by the changed paths.
All: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-update-orgs, post-configs-deploy-prow, post-configs-label-sync, pull-configs-validate-external-plugin-yaml, pull-configs-validate-orgs

Path conditions:
  pull-configs-validate-prow-yaml: any of: prow/
  pull-configs-validate-labels-yaml: (any of: prow/config/labels.yaml) or (any of: prow/config/labels.*)
  post-configs-update-orgs: any of: orgs/
  post-configs-deploy-prow: any of: prow/cluster
  post-configs-label-sync: any of: prow/config/labels.yaml
  pull-configs-validate-external-plugin-yaml: any of: prow/config/external_plugins_config.yaml
  pull-configs-validate-orgs: any of: orgs/

feat(test-prod): enable in_repo_config in test_prod repo
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

feat(test-prod): enable in_repo_config in test_prod repo (#734)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

Create test-prod-presubmits.yaml
  prow/jobs/ti-community-infra/test-prod/test-prod-presubmits.yaml
Due: pull-configs-validate-prow-yaml

Create test-prod-presubmits.yaml (#735)
  prow/jobs/ti-community-infra/test-prod/test-prod-presubmits.yaml
Due: pull-configs-validate-prow-yaml

Update test-prod-presubmits.yaml
  prow/jobs/ti-community-infra/test-prod/test-prod-presubmits.yaml
Due: pull-configs-validate-prow-yaml

Update test-prod-presubmits.yaml (#736)
  prow/jobs/ti-community-infra/test-prod/test-prod-presubmits.yaml
Due: pull-configs-validate-prow-yaml

feat(test-prod): enable trigger plugin on test-prod
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

fix(ti-community-format-checker): merge tidb ti-community-format-checher configs.
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

feat(test-prod): enable trigger plugin on test-prod (#737)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

fix(prow/config): fix `deck.external_agent_logs` for nested jenskin job
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

remove skip label for title check
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

fix(configs/prow): fix jenkins job fetching
  prow/cluster/jenkins-operator-deployment.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

fix(configs/prow): fix jenkins job fetching (#740)
  prow/cluster/jenkins-operator-deployment.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

feat(pingcap/tidb): add prow-jenkins jobs
  prow/jobs/pingcap/tidb/tidb-presubmits.yaml
Due: pull-configs-validate-prow-yaml

feat(pingcap/tidb): add prow-jenkins jobs (#741)
  prow/jobs/pingcap/tidb/tidb-presubmits.yaml
Due: pull-configs-validate-prow-yaml

fix(ti-community-format-checker): merge tidb ti-community-format-checker configs. (#738)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

feat(pingcap/tidb): enable trigger plugin
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

feat(pingcap/tidb): enable trigger plugin (#742)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

fix(prow/cluster): disable report for jenkins-operator comonent
  prow/cluster/jenkins-operator-deployment.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

fix(prow/cluster): disable report for jenkins-operator comonent (#743)
  prow/cluster/jenkins-operator-deployment.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

ci: bump checkconfig image
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
Due: pull-configs-validate-prow-yaml

ci: bump checkconfig image (#745)
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
Due: pull-configs-validate-prow-yaml

Revert "ci: bump checkconfig image (#745)"
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
Due: pull-configs-validate-prow-yaml

Revert "ci: bump checkconfig image" (#746)
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
Due: pull-configs-validate-prow-yaml

Revert "Revert "ci: bump checkconfig image" (#746)"
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
Due: pull-configs-validate-prow-yaml

Revert "Revert "ci: bump checkconfig image"" (#747)
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
Due: pull-configs-validate-prow-yaml

Revert "fix(prow/cluster): disable report for jenkins-operator comonent (#743)"
  prow/cluster/jenkins-operator-deployment.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

fix(prow/config): use jenkins-url instead of prow job for prow-jenkins jobs
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

fix(prow/cluster): bump jenkins-operator image
  prow/cluster/jenkins-operator-deployment.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

fix(prow/cluster): bump prow's componentes images
  prow/cluster/branchprotector.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jenkins-operator-deployment.yaml
  prow/cluster/label_sync.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/prow_controller_manager_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/jobs/ti-community-infra/configs/configs-periodics.yaml
  prow/jobs/ti-community-infra/configs/configs-postsubmits.yaml
  prow/jobs/ti-community-infra/org/bot-periodics.yaml
  prow/jobs/ti-community-infra/tichi/tichi-periodics.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

Feature/jenkins-operator-job-url-using-jenkins-url (#744)
  prow/cluster/branchprotector.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jenkins-operator-deployment.yaml
  prow/cluster/label_sync.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/prow_controller_manager_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/config/config.yaml
  prow/jobs/ti-community-infra/configs/configs-periodics.yaml
  prow/jobs/ti-community-infra/configs/configs-postsubmits.yaml
  prow/jobs/ti-community-infra/org/bot-periodics.yaml
  prow/jobs/ti-community-infra/tichi/tichi-periodics.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

chore(prow/jobs/pingcap/tidb): update wip jobs
  prow/jobs/pingcap/tidb/tidb-presubmits.yaml
Due: pull-configs-validate-prow-yaml

chore(prow/jobs/pingcap/tidb): update wip jobs (#748)
  prow/jobs/pingcap/tidb/tidb-presubmits.yaml
Due: pull-configs-validate-prow-yaml

chore(prow/jobs/pingcap/tidb): enable job `build`
  prow/jobs/pingcap/tidb/tidb-presubmits.yaml
Due: pull-configs-validate-prow-yaml

chore(prow/jobs/pingcap/tidb): enable job `build` (#749)
  prow/jobs/pingcap/tidb/tidb-presubmits.yaml
Due: pull-configs-validate-prow-yaml

chore(prow/jobs/pingcap/tidb): enable job `check`
  prow/jobs/pingcap/tidb/tidb-presubmits.yaml
Due: pull-configs-validate-prow-yaml

chore(prow/jobs/pingcap/tidb): enable job `check` (#750)
  prow/jobs/pingcap/tidb/tidb-presubmits.yaml
Due: pull-configs-validate-prow-yaml

chore(prow/jobs/pingcap/tidb): enable job `check2`, `mysql-test`, `unit-test`
  prow/jobs/pingcap/tidb/tidb-presubmits.yaml
Due: pull-configs-validate-prow-yaml

chore(prow/jobs/pingcap/tidb): increase release trigger base branches
  prow/jobs/pingcap/tidb/tidb-presubmits.yaml
Due: pull-configs-validate-prow-yaml
