Repository ti-community-infra/configs: changes, and which Prow jobs are due for each by the changed paths.
All: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-update-orgs, post-configs-deploy-prow, post-configs-label-sync, pull-configs-validate-external-plugin-yaml, pull-configs-validate-orgs

Path conditions:
  pull-configs-validate-prow-yaml: any of: prow/
  pull-configs-validate-labels-yaml: (any of: prow/config/labels.yaml) or (any of: prow/config/labels.*)
  post-configs-update-orgs: any of: orgs/
  post-configs-deploy-prow: any of: prow/cluster
  post-configs-label-sync: any of: prow/config/labels.yaml
  pull-configs-validate-external-plugin-yaml: any of: prow/config/external_plugins_config.yaml
  pull-configs-validate-orgs: any of: orgs/

chore(pingcap/tiup): disable required for refresh branch
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

chore(pingcap/tiup): disable required for refresh branch (#1008)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

feat: add plugins to pingcap/tidb-engine-ext
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

Update prow/config/plugins.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

Update prow/config/config.yaml
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

chore: update
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

fix: remove useless config
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config: add plugins to pingcap/tidb-engine-ext (#1009)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

feat: add plugins to tikv/migration
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: add plugins to tikv/migration (#1010)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

labels: add a new label affect-ticdc-config-docs for pingcap/tiflow
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

Build label_sync
  prow/config/labels.md
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml

labels: add a new label affect-ticdc-config-docs for pingcap/tiflow (#1011)
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

config: add release-7.6 configs
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

chore(prow/configs): enable prioritize_existing_batches on `pingcap/tidb`
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

chore(prow/configs): enable prioritize_existing_batches on `pingcap/tidb` (#1013)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: add release-7.6 branch configs (#1012)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

Revert "chore(prow/configs): enable prioritize_existing_batches on `pingcap/tidb` (#1013)"
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

Revert "chore(prow/configs): enable prioritize_existing_batches on `pingcap/tidb`" (#1014)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

add: do not need-cherry-pick label version list
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

add: close test-repo need-cherry-pick label
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

add: test-prod cherrypicker open
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

add: close test-repo need-cherry-pick label (#1016)
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

add: update test-prod external plugin
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

Bot/do not cherrypick testrepo (#1017)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

feat(pingcap/monitoring): use ti-chi-bot app to take over review control and automate merges
  prow/config/config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

remove: test-prod dump key
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

feat(pingcap/monitoring): add branch protection rules
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

remove: test-prod dump key (#1019)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

add: update won't fix list
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

feat(pingcap/monitoring): use ti-chi-bot app to take over review control and automate merges (#1018)
  prow/config/config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

add: do not need-cherry-pick label version list (#1020)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config: update docs & docs-cn required status
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: not need required status pull-verify
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(docs&docs-cn): update docs & docs-cn required status (#1021)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: set 'pull-verify' as required status
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: set 'pull-verify' as required status on docs & docs-cn (#1022)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: tidb-test add plugin lifecycle
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: tidb-test add plugin lifecycle (#1024)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml
