Repository ti-community-infra/configs: changes, and which Prow jobs are due for each by the changed paths.
All: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-update-orgs, post-configs-deploy-prow, post-configs-label-sync, pull-configs-validate-external-plugin-yaml, pull-configs-validate-orgs

Path conditions:
  pull-configs-validate-prow-yaml: any of: prow/
  pull-configs-validate-labels-yaml: (any of: prow/config/labels.yaml) or (any of: prow/config/labels.*)
  post-configs-update-orgs: any of: orgs/
  post-configs-deploy-prow: any of: prow/cluster
  post-configs-label-sync: any of: prow/config/labels.yaml
  pull-configs-validate-external-plugin-yaml: any of: prow/config/external_plugins_config.yaml
  pull-configs-validate-orgs: any of: orgs/

config: support lable ok-to-test on test-prod (#964)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config: support lable ok-to-test
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config: support lable ok-to-test on tiflow
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config: support lable ok-to-test on tidb & tidb-operator (#965)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config: support remove label needs-ok-to-test on tiflow
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config: support add & remove label needs-ok-to-test on tidb-operator
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config: support lable ok-to-test on tiflow & tiflash (#966)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config: support add & remove label needs-ok-to-test on tidb-operator (#967)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

fix(pingcap-qe/tidb-test): add service for `pingcap-inc/enterprise-plugin` repo (#962)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config: add release-7.4 config
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

config: add release-7.4 branch config (#968)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

fix: remove some outdated dmr version config
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

feat: add config for dmr 7.4
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: remove dmr version config (#969)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

fix(prow/config): fix comment template of `cherry_pick_unapproved` plugin
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config(tidb): prioritize the PRs with `Priority/P*` labels in merging queue
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

Update prow/config/plugins.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

fix(prow/config): fix comment template of `cherry_pick_unapproved` plugin (#970)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

chore(prow/config): remove dmr version config v7.4
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

chore(prow/config): remove dmr version config v7.4 (#972)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

fix(pingcap/tidb): fix tide merge commit message template
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

fix(pingcap/tidb): fix tide merge commit message template (#973)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(tidb): prioritize the PRs with `Priority/P*` labels in merging queue (#971)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

chore(prow/config): vip for a pr in pingcap/tidb
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

chore(prow/config): vip for a pr in pingcap/tidb (#974)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

Revert "chore(prow/config): vip for a pr in pingcap/tidb (#974)"
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

Revert "chore(prow/config): vip for a pr in pingcap/tidb" (#975)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

fix(prow/config): fix jenkins job log url
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: add release-7.5 config
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

config: add release-7.5 branch config (#977)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

chore(prow/config): add event router to tekton cd for for pingcap org
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

chore(prow/config): add event router to tekton cd for for pingcap org (#980)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

Bumping Prow
  prow/cluster/jenkins-operator-deployment.yaml
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

chore(prow/config): vip for a pr in pingcap/tidb (#983)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

Revert "chore(prow/config): vip for a pr in pingcap/tidb (#983)"
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

Revert "chore(prow/config): vip for a pr in pingcap/tidb" (#984)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

opt(prow/config): add decoration for external build cluster
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

chore(prow/config): add event router to tekton cd for for tikv org
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml
