Repository ti-community-infra/configs: changes, and which Prow jobs are due for each by the changed paths.
All: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-update-orgs, post-configs-deploy-prow, post-configs-label-sync, pull-configs-validate-external-plugin-yaml, pull-configs-validate-orgs

Path conditions:
  pull-configs-validate-prow-yaml: any of: prow/
  pull-configs-validate-labels-yaml: any of: prow/config/labels.yaml
  post-configs-update-orgs: any of: orgs/
  post-configs-deploy-prow: any of: prow/cluster
  post-configs-label-sync: any of: prow/config/labels.yaml
  pull-configs-validate-external-plugin-yaml: any of: prow/config/external_plugins_config.yaml
  pull-configs-validate-orgs: any of: orgs/

fix broken links
  prow/config/labels.md
Due: pull-configs-validate-prow-yaml

tod: exclude labels.md
  .github/config.yml
Due: none

Revert "fix broken links"
  prow/config/labels.md.tmpl
Due: pull-configs-validate-prow-yaml

Revert "fix broken links"
  go.sum
Due: none

update md
  prow/config/labels.md
  prow/config/labels.md.tmpl
Due: pull-configs-validate-prow-yaml

Update labels
  prow/config/labels.md
  prow/config/labels.md.tmpl
Due: pull-configs-validate-prow-yaml

feat: support generate labels.md (#372)
  .github/config.yml
  prow/.gitignore
  prow/config/labels.md
  prow/config/labels.md.tmpl
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
  scripts/update-labels.sh
  scripts/verify-labels.sh
Due: pull-configs-validate-prow-yaml

config(ticdc): add ticdc labels
  go.sum
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

config(ticdc): enable job
  prow/jobs/ti-community-infra/configs/configs-postsubmits.yaml
Due: pull-configs-validate-prow-yaml

config(ticdc):delete needs-cherry-pick-release-5.0-rc
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

config(ticdc):update labels
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config(ticdc):update labels
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

config(ticdc):fix typo
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

config(ticdc):delete hacktoberfest
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

config(ticdc): add ticdc labels (#373)
  go.sum
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
  prow/jobs/ti-community-infra/configs/configs-postsubmits.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

update lgtm count for tidb-operator release-1.2
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config: update lgtm count for tidb-operator release-1.2 (#374)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

ci: add periodic-configs-label-sync job
  prow/jobs/ti-community-infra/configs/configs-periodics.yaml
Due: pull-configs-validate-prow-yaml

ci: update the label_sync job
  prow/cluster/label_sync.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

ci: update the label_sync job (#376)
  prow/cluster/label_sync.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

Add 3 labels for docs-cn/docs
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

remove two configs
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

Apply suggestions from code review
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

build(bump): bump all ti plugins version from v1.6.0 to v1.7.0
  prow/cluster/ti_community_autoresponder_deployment.yaml
  prow/cluster/ti_community_blunderbuss_deployment.yaml
  prow/cluster/ti_community_cherrypicker_deployment.yaml
  prow/cluster/ti_community_contribution_deployment.yaml
  prow/cluster/ti_community_label_blocker_deployment.yaml
  prow/cluster/ti_community_label_deployment.yaml
  prow/cluster/ti_community_lgtm_deployment.yaml
  prow/cluster/ti_community_merge_deployment.yaml
  prow/cluster/ti_community_owners_deployment.yaml
  prow/cluster/ti_community_tars_deployment.yaml
  prow/cluster/tichi_web_deployment.yaml
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

update labels.md
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

fix
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

fix: fix doc
  prow/config/labels.md
Due: pull-configs-validate-prow-yaml

config: add one type label in two doc repos (#377)
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

build(bump): bump all ti plugins version from v1.6.0 to v1.7.0 (#378)
  prow/cluster/ti_community_autoresponder_deployment.yaml
  prow/cluster/ti_community_blunderbuss_deployment.yaml
  prow/cluster/ti_community_cherrypicker_deployment.yaml
  prow/cluster/ti_community_contribution_deployment.yaml
  prow/cluster/ti_community_label_blocker_deployment.yaml
  prow/cluster/ti_community_label_deployment.yaml
  prow/cluster/ti_community_lgtm_deployment.yaml
  prow/cluster/ti_community_merge_deployment.yaml
  prow/cluster/ti_community_owners_deployment.yaml
  prow/cluster/ti_community_tars_deployment.yaml
  prow/cluster/tichi_web_deployment.yaml
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

config: enable tichi for pingcap/parser
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config: enable tichi for pingcap/parser (#379)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

fix: fix the lifecycle commenter query parameter
  prow/jobs/ti-community-infra/org/bot-periodics.yaml
Due: pull-configs-validate-prow-yaml

fix: fix the lifecycle commenter query parameter (#380)
  prow/jobs/ti-community-infra/org/bot-periodics.yaml
Due: pull-configs-validate-prow-yaml

config: remove some plugins in parser
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: remove some plugins in parser (#381)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

build: bump all components version from v20210521-0713522bd8 to v20210709-f607a865fb
  prow/cluster/branchprotector.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/label_sync.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/prow_controller_manager_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config/config.yaml
  prow/jobs/ti-community-infra/configs/configs-postsubmits.yaml
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
  prow/jobs/ti-community-infra/org/bot-periodics.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

build: bump all components version from v20210521-0713522bd8 to v20210701-3efe91b8cd
  prow/cluster/branchprotector.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/label_sync.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/prow_controller_manager_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config/config.yaml
  prow/jobs/ti-community-infra/configs/configs-postsubmits.yaml
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
  prow/jobs/ti-community-infra/org/bot-periodics.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow
