Repository ti-community-infra/configs: changes, and which Prow jobs are due for each by the changed paths.
All: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-update-orgs, post-configs-deploy-prow, post-configs-label-sync, pull-configs-validate-external-plugin-yaml, pull-configs-validate-orgs

Path conditions:
  pull-configs-validate-prow-yaml: any of: prow/
  pull-configs-validate-labels-yaml: (any of: prow/config/labels.yaml) or (any of: prow/config/labels.*)
  post-configs-update-orgs: any of: orgs/
  post-configs-deploy-prow: any of: prow/cluster
  post-configs-label-sync: any of: prow/config/labels.yaml
  pull-configs-validate-external-plugin-yaml: any of: prow/config/external_plugins_config.yaml
  pull-configs-validate-orgs: any of: orgs/

config: add tisonkun to community-infra-team
  orgs/ti-community-infra/community-infra-committers/teams.yaml
  orgs/ti-community-infra/community-infra-maintainers/teams.yaml
  orgs/ti-community-infra/community-infra-reviewers/teams.yaml
  orgs/ti-community-infra/org.yaml
  orgs/ti-community-infra/sig-community-infra/teams.yaml
Due: post-configs-update-orgs, pull-configs-validate-orgs

config: add tisonkun to excluded reviewer config
  orgs/ti-community-infra/community-infra-committers/teams.yaml
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, post-configs-update-orgs, pull-configs-validate-external-plugin-yaml, pull-configs-validate-orgs

fix
  orgs/ti-community-infra/community-infra-committers/teams.yaml
Due: post-configs-update-orgs, pull-configs-validate-orgs

config: add tisonkun to community-infra-team (#429)
  orgs/ti-community-infra/community-infra-committers/teams.yaml
  orgs/ti-community-infra/community-infra-maintainers/teams.yaml
  orgs/ti-community-infra/community-infra-reviewers/teams.yaml
  orgs/ti-community-infra/org.yaml
  orgs/ti-community-infra/sig-community-infra/teams.yaml
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, post-configs-update-orgs, pull-configs-validate-external-plugin-yaml, pull-configs-validate-orgs

config(tidb): enable blockade for tidb repo (#420)
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

Update external_plugins_config.yaml
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

parser: jenins verify ci replace circle ci
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(parser): replace circle ci by jenkins verify ci (#431)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

Revert "config(tidb): enable blockade for tidb repo (#420)"
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

revert: "config(tidb): enable blockade for tidb repo" (#432)
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

change the reviewer of docs-dm
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

Apply suggestions from code review
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config: change the requested reviewer for docs-dm repo (#430)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

fix: fix the labels for tidb repo
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

fix: fix the labels config for tidb repo (#434)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config(tidb): enable require code owner reviews
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

fix: adjust required_approving_review_count to 1
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(tidb): enable require code owner reviews (#436)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: stop autocc for ticdc
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config: stop autocc for ticdc (#437)
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

Update config.yaml
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: add CLA as required status check for tidb-tools (#438)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: add autobumper for tichi repo
  prow/autobump-config/tichi-prow-component-autobump-config.yaml
Due: pull-configs-validate-prow-yaml

config: add autobumper for tichi repo
  .DS_Store
  prow/jobs/ti-community-infra/tichi/tichi-periodics.yaml
Due: pull-configs-validate-prow-yaml

fix: fix typo
  prow/jobs/ti-community-infra/tichi/tichi-periodics.yaml
Due: pull-configs-validate-prow-yaml

fix: try to run by presubmit
  prow/jobs/ti-community-infra/tichi/tichi-presubmits.yaml
Due: pull-configs-validate-prow-yaml

fix: use periodics job
  prow/autobump-config/tichi-prow-component-autobump-config.yaml
  prow/jobs/ti-community-infra/tichi/tichi-periodics.yaml
  prow/jobs/ti-community-infra/tichi/tichi-presubmits.yaml
Due: pull-configs-validate-prow-yaml

fix: fix comment
  prow/jobs/ti-community-infra/tichi/tichi-periodics.yaml
Due: pull-configs-validate-prow-yaml

fix: fix
  .gitignore
Due: none

remove .DS_Store
  .DS_Store
Due: none

config: add autobumper for tichi repo (#439)
  .gitignore
  prow/autobump-config/tichi-prow-component-autobump-config.yaml
  prow/jobs/ti-community-infra/tichi/tichi-periodics.yaml
Due: pull-configs-validate-prow-yaml

config: add auto bumper for configs
  prow/autobump-config/configs-prow-component-autobump-config.yaml
  prow/jobs/ti-community-infra/configs/configs-periodics.yaml
  prow/jobs/ti-community-infra/tichi/tichi-periodics.yaml
Due: pull-configs-validate-prow-yaml

config: add auto bumper for configs (#440)
  prow/autobump-config/configs-prow-component-autobump-config.yaml
  prow/jobs/ti-community-infra/configs/configs-periodics.yaml
  prow/jobs/ti-community-infra/tichi/tichi-periodics.yaml
Due: pull-configs-validate-prow-yaml

replace cirlcleci/circleci: lint
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

Apply suggestions from code review
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(docs-cn,docs): Replace cirlcleci/circleci: lint with jenkins-docs-cn/verify for required_status_checks (#441)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: add tars plugins for test-prod
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml
