Repository ti-community-infra/configs: changes, and which Prow jobs are due for each by the changed paths.
All: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-update-orgs, post-configs-deploy-prow, post-configs-label-sync, pull-configs-validate-external-plugin-yaml, pull-configs-validate-orgs

pull-configs-validate-prow-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20201204-d90be1ef6b
      command:
      - /checkconfig
      args:
      - --plugin-config=prow/config/plugins.yaml
      - --config-path=prow/config/config.yaml

pull-configs-validate-labels-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:v20201204-d90be1ef6b
      command:
      - /app/label_sync/app.binary
      args:
      - --config=prow/config/labels.yaml
      - --confirm=false
  ...

post-configs-update-orgs:
  decorate: true
  spec:
    containers:
    - image: golang:1.15
      command:
      - scripts/peribolos.sh
      args:
      - --config-path=orgs/config.yaml
      - --github-token-path=/etc/github/token
      - --github-endpoint=http://ghproxy
      - --github-endpoint=https://api.github.com
      - --min-admins=2
  ...

post-configs-deploy-prow:
  decorate: true
  spec:
    containers:
    - image: google/cloud-sdk:319.0.0
      command:
      - scripts/deploy.sh
      args:
      - --confirm
      - --config=trusted
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
  ...

post-configs-label-sync:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:v20201204-d90be1ef6b
      command:
      - /app/label_sync/app.binary
      args:
      - --config=prow/config/labels.yaml
      - --confirm=true
  ...

pull-configs-validate-external-plugin-yaml:
  decorate: true
  spec:
    containers:
    - image: ticommunityinfra/tichi-check-external-plugin-config:v1.7.1
      command:
      - check-external-plugin-config
      args:
      - --external-plugin-config-path=prow/config/external_plugins_config.yaml

pull-configs-validate-orgs:
  decorate: true
  spec:
    containers:
    - image: golang:1.16
      command:
      - scripts/peribolos.sh
      args:
      - --config-path=orgs/config.yaml
      - --github-token-path=/etc/github/token
      - --github-endpoint=http://ghproxy
      - --github-endpoint=https://api.github.com
      - --min-admins=2
  ...

feat(chaos-mesh/chaos-mesh): enable cherry-picker plugin (#687)
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

*: clean `previously` fields for renamed labels (#686)
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

config: add release-6.4 branch config
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

config: add release-6.4 branch config (#690)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

feat: update prow config for chaos-mesh with new branch release-2.5
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config(pingcap/tidb): forward `pull_request` github event to staging jenkins CI
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config(pingcap/tidb): forward `pull_request` github event to staging jenkins CI (#692)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

Bumping Prow
  prow/cluster/branchprotector.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/label_sync.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/prow_controller_manager_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/config/config.yaml
  prow/jobs/ti-community-infra/configs/configs-periodics.yaml
  prow/jobs/ti-community-infra/configs/configs-postsubmits.yaml
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
  prow/jobs/ti-community-infra/org/bot-periodics.yaml
  prow/jobs/ti-community-infra/tichi/tichi-periodics.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

Update Prow to v20221111-fe4f3e2158 (#483)
  prow/cluster/branchprotector.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/label_sync.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/prow_controller_manager_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/config/config.yaml
  prow/jobs/ti-community-infra/configs/configs-periodics.yaml
  prow/jobs/ti-community-infra/configs/configs-postsubmits.yaml
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
  prow/jobs/ti-community-infra/org/bot-periodics.yaml
  prow/jobs/ti-community-infra/tichi/tichi-periodics.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

feat: update prow config for chaos-mesh with new branch release-2.5 (#691)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

add 6.3 and 6.3 to won'tfix list
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

Config(triage): Add 6.3 and 6.3 to won'tfix version list (#694)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

add label for sqlancer
  prow/config/external_plugins_config.yaml
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

add label for sqlancer
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

add label for sqlancer
  prow/config/labels.md
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml

config(pingcap/tidb): add label for sqlancer (#696)
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

config: update comment template of tar plugin
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config: update comment template of tar plugin (#697)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config: add release-6.5 branch config
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

config: add release-6.5 branch config (#698)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

config(docs): update include_reviewers for docs and docs-cn reop
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

update docs-dm
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config(docs): update include_reviewers for docs and docs-cn reop (#699)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

Revert "config: update comment template of tar plugin (#697)"
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

revert(tiflow,tiflash): revert removing of `/run-all-tests` comments for tar plugin
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

Revert "config: update comment template of tar plugin" in tiflash repo (#708)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config(tichi): decide the required contexts by prow tide
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(tichi): decide the required contexts by prow tide (#709)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

Update Prow to v20221208-8898931a7f (#695)
  prow/cluster/branchprotector.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/label_sync.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/prow_controller_manager_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/config/config.yaml
  prow/jobs/ti-community-infra/configs/configs-periodics.yaml
  prow/jobs/ti-community-infra/configs/configs-postsubmits.yaml
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
  prow/jobs/ti-community-infra/org/bot-periodics.yaml
  prow/jobs/ti-community-infra/tichi/tichi-periodics.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

chore(deps): bump ticommunityinfra/tide to v20221207-9225e3a153
  prow/cluster/tide_deployment.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

chore(deps): bump ticommunityinfra/tide to v20221207-9225e3a153 (#712)
  prow/cluster/tide_deployment.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

Revert "chore(deps): update ticommunityinfra/tichi-cherrypicker-plugin docker tag to v2.4.0 (#702)"
  prow/cluster/ti_community_cherrypicker_deployment.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

Revert "chore(deps): update ticommunityinfra/tichi-cherrypicker-plugin docker tag to v2.4.0" (#713)
  prow/cluster/ti_community_cherrypicker_deployment.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

chore(test-prod): disable tars plugin
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

chore(test-prod): disable tars plugin (#727)
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

feat(tidb): forward webhook event to product jenkins ci server
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

feat(tidb): forward webhook event to product jenkins ci server (#732)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

feat(prow/cluster): add jenkins-operator component
  prow/cluster/jenkins-operator-deployment.yaml
  prow/cluster/jenkins-operator-rbac.yaml
  prow/cluster/jenkins-operator-service.yaml
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

feat(prow/cluster): add jenkins-operator component (#733)
  prow/cluster/jenkins-operator-deployment.yaml
  prow/cluster/jenkins-operator-rbac.yaml
  prow/cluster/jenkins-operator-service.yaml
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

Path conditions:
  pull-configs-validate-prow-yaml: any of: prow/
  pull-configs-validate-labels-yaml: (any of: prow/config/labels.yaml) or (any of: prow/config/labels.*)
  post-configs-update-orgs: any of: orgs/
  post-configs-deploy-prow: any of: prow/cluster
  post-configs-label-sync: any of: prow/config/labels.yaml
  pull-configs-validate-external-plugin-yaml: any of: prow/config/external_plugins_config.yaml
  pull-configs-validate-orgs: any of: orgs/
