Repository ti-community-infra/configs: changes, and which Prow jobs are due for each by the changed paths.
All: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-update-orgs, post-configs-deploy-prow, post-configs-label-sync, pull-configs-validate-external-plugin-yaml, pull-configs-validate-orgs

Path conditions:
  pull-configs-validate-prow-yaml: any of: prow/
  pull-configs-validate-labels-yaml: (any of: prow/config/labels.yaml) or (any of: prow/config/labels.*)
  post-configs-update-orgs: any of: orgs/
  post-configs-deploy-prow: any of: prow/cluster
  post-configs-label-sync: any of: prow/config/labels.yaml
  pull-configs-validate-external-plugin-yaml: any of: prow/config/external_plugins_config.yaml
  pull-configs-validate-orgs: any of: orgs/

Revert "config: set the docs-tiem branch of docs-cn as protected" (#569)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config(docs): add release 6.1 branch config for docs repos
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

Update prow/config/config.yaml
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(docs): add release 6.1 branch config for docs repos (#582)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

chore: append xlgao-zju as chaos mesh committer
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

chore: append xlgao-zju as chaos mesh committer (#583)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config(docs): add v6.2 label to docs repos
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

fix
  prow/config/labels.md
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml

config(docs): add v6.2 label to docs repos (#584)
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

config: invite @wuhuizuo joining the infra team
  orgs/ti-community-infra/community-infra-committers/teams.yaml
  orgs/ti-community-infra/org.yaml
Due: post-configs-update-orgs, pull-configs-validate-orgs

fix
  orgs/ti-community-infra/config-reviewers/teams.yaml
Due: post-configs-update-orgs, pull-configs-validate-orgs

config: invite @wuhuizuo joining the infra team (#585)
  orgs/ti-community-infra/community-infra-committers/teams.yaml
  orgs/ti-community-infra/config-reviewers/teams.yaml
  orgs/ti-community-infra/org.yaml
Due: post-configs-update-orgs, pull-configs-validate-orgs

config(tidb-binlog): update binlog config to allow pick LGT labels (#581)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config(tiunimanager): add prow bot configs
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config(tiunimanager-ui): add prow bot configs
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config(tiunimanager,tiunimanager-ui): fix prow bot configs
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config(tiunimanager,tiunimanager-ui): add `ti-community-owners` plugin config
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config(tiunimanager-ui): reduce approver count to 1
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config: enable tichi for `pingcap/tiunimanager` and `pingcap/tiunimanager-ui` (#586)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config: remove parse repo ci check
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: remove parse repo ci check (#587)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: add plugin `blunderbuss`
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

*: remove real tikv
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

*: remove real tikv (#589)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: remove tomshawn as the auto reviewer of docs repo
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config: remove tomshawn from the auto reviewer of docs repo (#590)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config: exclude Mini256 from the blunderbuss reviewers
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

Update config.yaml
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: update the status checks for the pingcap/docs repository (#592)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: exclude Mini256 from the blunderbuss reviewers (#591)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config(tikv/tikv): auto apply to milestone for new pull request
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config(tikv/tikv): auto apply to milestone for new pull request (#593)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: add shichun-0415 as the auto reviewer of docs-cn
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config: add shichun-0415 as the auto reviewer of docs-cn (#594)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config(ti-community-infra): add @wuhuizuo and his bots to teams
  orgs/ti-community-infra/bots-test/teams.yaml
  orgs/ti-community-infra/community-infra-reviewers/teams.yaml
  orgs/ti-community-infra/maintainers/teams.yaml
  orgs/ti-community-infra/org.yaml
Due: post-configs-update-orgs, pull-configs-validate-orgs

config(ti-community-infra): add @wuhuizuo and his bots to teams (#595)
  orgs/ti-community-infra/bots-test/teams.yaml
  orgs/ti-community-infra/community-infra-reviewers/teams.yaml
  orgs/ti-community-infra/maintainers/teams.yaml
  orgs/ti-community-infra/org.yaml
Due: post-configs-update-orgs, pull-configs-validate-orgs

config(tiflow): support feature branch check
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(tiflow): add label for feature branch
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config(tiflow): support feature branch check (#596)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config(pingcap/tiflash): enable comment to set merge method for tiflash
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml
