Repository ti-community-infra/configs: changes, and which Prow jobs are due for each by the changed paths.
All: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-update-orgs, post-configs-deploy-prow, post-configs-label-sync, pull-configs-validate-external-plugin-yaml, pull-configs-validate-orgs

Path conditions:
  pull-configs-validate-prow-yaml: any of: prow/
  pull-configs-validate-labels-yaml: (any of: prow/config/labels.yaml) or (any of: prow/config/labels.*)
  post-configs-update-orgs: any of: orgs/
  post-configs-deploy-prow: any of: prow/cluster
  post-configs-label-sync: any of: prow/config/labels.yaml
  pull-configs-validate-external-plugin-yaml: any of: prow/config/external_plugins_config.yaml
  pull-configs-validate-orgs: any of: orgs/

refactor(prow/config): replace ti-*-lgtm and ti-*-merge plugin with native lgtm and approve plugins
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

feat: add prow owner files
  OWNERS
  OWNERS_ALIASES
  prow/OWNERS
  prow/cluster/OWNERS
  prow/config/OWNERS
  prow/jobs/OWNERS
  scripts/OWNERS
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

feat(prow/config): enable auto prow labeling for pingcap-qe/* repo (#807)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

fix(prow/config): fix tide query config for repo `ti-community-infra/configs`
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

fix(prow/config): fix tide query config for repo `ti-community-infra/configs` (#809)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

feat: add prow owner files (#808)
  OWNERS
  OWNERS_ALIASES
  prow/OWNERS
  prow/cluster/OWNERS
  prow/config/OWNERS
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
  prow/jobs/OWNERS
  scripts/OWNERS
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow, pull-configs-validate-external-plugin-yaml

chore(prow/config): remove dmr versions from triage list (#802)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

fix(prow/config): fix link urls for approve plugin
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

chore(prow/config): delete no need mantain labels
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

fix(prow/config): fix link urls for approve plugin (#810)
  prow/config/labels.md
  prow/config/labels.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

fix(prow/config): fix plugin list url for approve plugin
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

fix(prow/config): fix plugin list url for approve plugin (#811)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

chore(prow/config): delete prow job contexts in branch protection for tidb@master
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

chore(prow/config): delete prow job contexts in branch protection for tidb@master (#812)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

Update Prow to v20230225-64183fd360 (#794)
  prow/cluster/jenkins-operator-deployment.yaml
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

Revert "chore(prow/config): delete prow job contexts in branch protection for tidb@master (#812)"
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

Revert "chore(prow/config): delete prow job contexts in branch protection for tidb@master" (#813)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

feature(prow/config): enable cherry-pick plugin on `tikv/client-java` repo
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

feature(prow/config): enable cherry-pick plugin on `tikv/client-java` repo (#815)
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

chore(prow/config): add repo pingcap-qe/benchbot
  prow/config/config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

chore(prow/config): add repo pingcap-qe/benchbot (#816)
  prow/config/config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: add release-7.0 branch config
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

config: add release-7.0 branch config (#817)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

fix(prow/jobs/ti-community-infra/test-infra): fix prow jobs
  prow/jobs/ti-community-infra/test-infra/test-infra-postsubmits.yaml
  prow/jobs/ti-community-infra/test-infra/test-infra-presubmits.yaml
Due: pull-configs-validate-prow-yaml

fix(prow/jobs/ti-community-infra/test-infra): fix prow jobs (#818)
  prow/jobs/ti-community-infra/test-infra/test-infra-postsubmits.yaml
  prow/jobs/ti-community-infra/test-infra/test-infra-presubmits.yaml
Due: pull-configs-validate-prow-yaml

fix(prow/jobs/ti-community-infra/test-infra): fix prow jobs (#819)
  prow/jobs/ti-community-infra/test-infra/test-infra-postsubmits.yaml
  prow/jobs/ti-community-infra/test-infra/test-infra-presubmits.yaml
Due: pull-configs-validate-prow-yaml

feat: add trigger plugin
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: add trigger plugin to tiflow (#820)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: add owners plugin
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

chore(prow/config): add repo pingcap-qe/test-plan
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

chore(prow/config): add repo pingcap-qe/test-plan (#822)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

remove auto cc for docs and docs-cn
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

chore(prow/config): add repos in pingcap-qe
  prow/config/config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

chore(prow/config): add repos in pingcap-qe (#825)
  prow/config/config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config(docs): remove auto cc (#823)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config: add owners plugin (#821)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

chore(prow/config): add repo `pingcap/tidb-test`
  prow/config/config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

chore(prow/config): add repo `pingcap/tidb-test` (#826)
  prow/config/config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

fix: remove some it required label
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml
