Repository ti-community-infra/configs: changes, and which Prow jobs are due for each by the changed paths.
All: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-update-orgs, post-configs-deploy-prow, post-configs-label-sync, pull-configs-validate-external-plugin-yaml, pull-configs-validate-orgs

pull-configs-validate-prow-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20201204-d90be1ef6b
      command:
      - /checkconfig
      args:
      - --plugin-config=prow/config/plugins.yaml
      - --config-path=prow/config/config.yaml

pull-configs-validate-labels-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:v20201204-d90be1ef6b
      command:
      - /app/label_sync/app.binary
      args:
      - --config=prow/config/labels.yaml
      - --confirm=false
  ...

post-configs-update-orgs:
  decorate: true
  spec:
    containers:
    - image: golang:1.15
      command:
      - scripts/peribolos.sh
      args:
      - --config-path=orgs/config.yaml
      - --github-token-path=/etc/github/token
      - --github-endpoint=http://ghproxy
      - --github-endpoint=https://api.github.com
      - --min-admins=2
  ...

post-configs-deploy-prow:
  decorate: true
  spec:
    containers:
    - image: google/cloud-sdk:319.0.0
      command:
      - scripts/deploy.sh
      args:
      - --confirm
      - --config=trusted
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
  ...

post-configs-label-sync:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:v20201204-d90be1ef6b
      command:
      - /app/label_sync/app.binary
      args:
      - --config=prow/config/labels.yaml
      - --confirm=true
  ...

pull-configs-validate-external-plugin-yaml:
  decorate: true
  spec:
    containers:
    - image: ticommunityinfra/tichi-check-external-plugin-config:v2.0.4
      command:
      - check-external-plugin-config
      args:
      - --external-plugin-config-path=prow/config/external_plugins_config.yaml

pull-configs-validate-orgs:
  decorate: true
  spec:
    containers:
    - image: golang:1.16
      command:
      - scripts/peribolos.sh
      args:
      - --config-path=orgs/config.yaml
      - --github-token-path=/etc/github/token
      - --github-endpoint=http://ghproxy
      - --github-endpoint=https://api.github.com
      - --min-admins=2
  ...

config(tiflow): remove some it required label (#827)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

chore(prow/config): delete configs for release-4.0 and release-5.0
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

Bumping Prow
  prow/cluster/jenkins-operator-deployment.yaml
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

fix(prow/config): fix cherry-pick config for pingcap-qe/test-plan
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

fix(prow/config): fix cherry-pick config for pingcap-qe/test-plan (#829)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

fix(prow/config): fix cherry-pick config for pingcap-qe/test-plan
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

fix(prow/config): fix cherry-pick config for pingcap-qe/test-plan (#830)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

chore(prow/config): switch review plugins to lgtm + approve for repos in `ti-community-infra`
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

chore(prow/config): switch review plugins to lgtm + approve for repos in `ti-community-infra` (#831)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

chore(prow): delete config for archived repos
  prow/cluster/label_sync.yaml
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.yaml
  prow/config/plugins.yaml
  prow/jobs/ti-community-infra/configs/configs-postsubmits.yaml
  prow/jobs/ti-community-infra/devstats-dev-guide/devstats-dev-guide-postsubmits.yaml
  prow/jobs/ti-community-infra/devstats-dev-guide/devstats-dev-guide-presubmits.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-deploy-prow, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

chore(orgs/ti-community-infra): delete teams sync configs for archived repos
  orgs/ti-community-infra/community-infra-committers/teams.yaml
  orgs/ti-community-infra/community-infra-maintainers/teams.yaml
  orgs/ti-community-infra/community-infra-reviewers/teams.yaml
  orgs/ti-community-infra/maintainers/teams.yaml
Due: post-configs-update-orgs, pull-configs-validate-orgs

fix(orgs/ti-community-infra): fix org config
  go.mod
  go.sum
  orgs/ti-community-infra/community-infra-committers/teams.yaml
  orgs/ti-community-infra/community-infra-maintainers/teams.yaml
  orgs/ti-community-infra/community-infra-reviewers/teams.yaml
  orgs/ti-community-infra/maintainers/teams.yaml
  prow/jobs/ti-community-infra/configs/configs-postsubmits.yaml
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
  scripts/peribolos.sh
Due: pull-configs-validate-prow-yaml, post-configs-update-orgs, pull-configs-validate-orgs

chore(orgs/ti-community-infra): delete teams sync configs for archived repos (#832)
  go.mod
  go.sum
  prow/cluster/label_sync.yaml
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.yaml
  prow/config/plugins.yaml
  prow/jobs/ti-community-infra/configs/configs-postsubmits.yaml
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
  prow/jobs/ti-community-infra/devstats-dev-guide/devstats-dev-guide-postsubmits.yaml
  prow/jobs/ti-community-infra/devstats-dev-guide/devstats-dev-guide-presubmits.yaml
  scripts/peribolos.sh
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-deploy-prow, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

Update labels.yaml
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

Update labels.md
  prow/config/labels.md
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml

label: remove the needs-cherry-pick labels for archived doc versions (#833)
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

chore(prow/config): delete configurations for repo `pingcap/docs-dm`
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

chore(prow/cluster,prow/jobs): delete jobs for repo `pingcap/docs-dm`
  prow/cluster/label_sync.yaml
  prow/jobs/ti-community-infra/configs/configs-postsubmits.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

chore(prow/cluster,prow/jobs): delete jobs for repo `pingcap/docs-dm` (#834)
  prow/cluster/label_sync.yaml
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
  prow/config/plugins.yaml
  prow/jobs/ti-community-infra/configs/configs-postsubmits.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-deploy-prow, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

Update Prow to v20230329-c93d79fb7d (#814)
  prow/cluster/jenkins-operator-deployment.yaml
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

chore: update renovate config
  .github/renovate.json
  .github/renovate.json5
Due: none

chore: update renovate config (#835)
  .github/renovate.json
  .github/renovate.json5
Due: none

Revert "chore: update renovate config (#835)"
  .github/renovate.json
  .github/renovate.json5
Due: none

Revert "chore: update renovate config" (#836)
  .github/renovate.json
  .github/renovate.json5
Due: none

chore(prow/config): delete configs for release-4.0 and release-5.0 (#828)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

fix(prow/config): fix failure of branch protection cron job
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

fix(prow/config): fix failure of branch protection cron job (#837)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

feat(prow/cluster): update prow deployment to new image
  prow/cluster/branchprotector.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jenkins-operator-deployment.yaml
  prow/cluster/label_sync.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/prow_controller_manager_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/jobs/ti-community-infra/devstats-dev-guide/devstats-dev-guide-postsubmits.yaml
  prow/jobs/ti-community-infra/devstats-dev-guide/devstats-dev-guide-presubmits.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

add tidb operator 1.5
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config(docs): add docs tidb operator release-1.5 (#840)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

chore(prow/config): dispatch push event to jenkins-gitee for pingcap-qe/ci repo
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

chore(prow/config): dispatch push event to jenkins-gitee for pingcap-qe/ci repo (#841)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

chore(prow/config): delete useless labels and remove v4.0 and v5.0 from maintain versions
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

chore(prow/config): add wont fix versions
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

chore(prow/config): delete useless labels and remove v4.0 and v5.0 from maintain versions (#842)
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

Update prow/cluster/crier_deployment.yaml
  prow/cluster/crier_deployment.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

feat(prow/cluster): update prow deployment to new image (#838)
  prow/cluster/branchprotector.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jenkins-operator-deployment.yaml
  prow/cluster/label_sync.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/prow_controller_manager_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/jobs/ti-community-infra/devstats-dev-guide/devstats-dev-guide-postsubmits.yaml
  prow/jobs/ti-community-infra/devstats-dev-guide/devstats-dev-guide-presubmits.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

config(pingcap/tidb-test): enable cherry pick plugin
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

Path conditions:
  pull-configs-validate-prow-yaml: any of: prow/
  pull-configs-validate-labels-yaml: (any of: prow/config/labels.yaml) or (any of: prow/config/labels.*)
  post-configs-update-orgs: any of: orgs/
  post-configs-deploy-prow: any of: prow/cluster
  post-configs-label-sync: any of: prow/config/labels.yaml
  pull-configs-validate-external-plugin-yaml: any of: prow/config/external_plugins_config.yaml
  pull-configs-validate-orgs: any of: orgs/
