Repository ti-community-infra/configs: changes, and which Prow jobs are due for each by the changed paths.
All: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-update-orgs, post-configs-deploy-prow, post-configs-label-sync, pull-configs-validate-external-plugin-yaml, pull-configs-validate-orgs

pull-configs-validate-prow-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20201204-d90be1ef6b
      command:
      - /checkconfig
      args:
      - --plugin-config=prow/config/plugins.yaml
      - --config-path=prow/config/config.yaml

pull-configs-validate-labels-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:v20201204-d90be1ef6b
      command:
      - /app/label_sync/app.binary
      args:
      - --config=prow/config/labels.yaml
      - --confirm=false
  ...

post-configs-update-orgs:
  decorate: true
  spec:
    containers:
    - image: golang:1.15
      command:
      - scripts/peribolos.sh
      args:
      - --config-path=orgs/config.yaml
      - --github-token-path=/etc/github/token
      - --github-endpoint=http://ghproxy
      - --github-endpoint=https://api.github.com
      - --min-admins=2
  ...

post-configs-deploy-prow:
  decorate: true
  spec:
    containers:
    - image: google/cloud-sdk:319.0.0
      command:
      - scripts/deploy.sh
      args:
      - --confirm
      - --config=trusted
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
  ...

post-configs-label-sync:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:v20201204-d90be1ef6b
      command:
      - /app/label_sync/app.binary
      args:
      - --config=prow/config/labels.yaml
      - --confirm=true
  ...

pull-configs-validate-external-plugin-yaml:
  decorate: true
  spec:
    containers:
    - image: ticommunityinfra/tichi-check-external-plugin-config:v2.0.4
      command:
      - check-external-plugin-config
      args:
      - --external-plugin-config-path=prow/config/external_plugins_config.yaml

pull-configs-validate-orgs:
  decorate: true
  spec:
    containers:
    - image: golang:1.16
      command:
      - scripts/peribolos.sh
      args:
      - --config-path=orgs/config.yaml
      - --github-token-path=/etc/github/token
      - --github-endpoint=http://ghproxy
      - --github-endpoint=https://api.github.com
      - --min-admins=2
  ...

feat(tikv/raft-engine): enable trigger and common plugins (#1087)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

fix(ti-community-infra): make review approval act as lgtm
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

fix(ti-community-infra): make review approval act as lgtm (#1088)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

feat(tikv/raft-engine): enable reviewing controlling
  prow/config/config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

feat(tikv/raft-engine): enable reviewing controlling (#1091)
  prow/config/config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

chore(pingcap/tidb-tools): no need `ti-community-tar` plugin
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

chore(pingcap/tidb-tools): no need `ti-community-tar` plugin (#1092)
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

chore(pingcap/tiup): no need `ti-community-tar` plugin
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

chore(pingcap/tiup): no need `ti-community-tar` plugin (#1093)
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

add `OWNERS` files to `tikv/client-go`.
  prow/config/config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: add release-8.3 config
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

config: add release-8.3 config (#1096)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

chore: remove dmr 8.2 config but remain branch protection
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

config: remove dmr version 8.2 config (#1097)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

add `OWNERS` files to `tikv/client-go` (#1095)
  prow/config/config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

REQUEST: deploy prow for pingcap/tidb-dashboard
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

REQUEST: deploy prow for pingcap/tidb-dashboard (#1098)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

feat(tikv/client-go): enable cherrypicker plugin
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

feat(tikv/client-go): enable cherrypicker plugin (#1099)
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

fix(tikv/pd): update branch protection rule for `master` (#1072)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

feat(tikv/client-rust): enable prow bot
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
  prow/cronjobs/label-sync.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

feat(tikv/client-rust): enable prow bot (#1100)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
  prow/cronjobs/label-sync.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

fix(pingcap/tidb-dashboard): forward event to cherrypicker external plugin
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

fix(pingcap/tidb-dashboard): forward event to cherrypicker external plugin (#1101)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

feat(tikv/client-go,tikv/client-rust): add protection rules
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

feat(tikv/client-go,tikv/client-rust): add protection rules (#1102)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

feat(tikv/rocksdb,tikv/rust-rocksdb): enable bot to control the reviewing flow
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

feat(tikv/rocksdb,tikv/rust-rocksdb): enable bot to control the reviewing flow (#1103)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

fix: updaste reuqired status in pd 5.4
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(tikv/pd): update reuqired status in pd branch release-5.4 (#1104)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

opt(prow/cronjobs): split branch protection job to three jobs to speedup the running
  prow/cronjobs/branch-protector.yaml
Due: pull-configs-validate-prow-yaml

opt(prow/cronjobs): split branch protection job to three jobs to speedup the running (#1105)
  prow/cronjobs/branch-protector.yaml
Due: pull-configs-validate-prow-yaml

feat(prow/config): limit the merge operation accounts
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

feat(prow/config): limit the merge operation accounts (#1106)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

feat: use new pipeline on 8.1 of tikv & tiflash
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

chore update
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(tikv&tiflash): use new pipeline on 8.1 of tikv & tiflash (#1107)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

Update config.yaml
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

Update config.yaml (#1108)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

fix(prow/config): control rights for reviewing label
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

Path conditions:
  pull-configs-validate-prow-yaml: any of: prow/
  pull-configs-validate-labels-yaml: (any of: prow/config/labels.yaml) or (any of: prow/config/labels.*)
  post-configs-update-orgs: any of: orgs/
  post-configs-deploy-prow: any of: prow/cluster
  post-configs-label-sync: any of: prow/config/labels.yaml
  pull-configs-validate-external-plugin-yaml: any of: prow/config/external_plugins_config.yaml
  pull-configs-validate-orgs: any of: orgs/
