Repository ti-community-infra/configs: changes, and which Prow jobs are due for each by the changed paths.
All: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-update-orgs, post-configs-deploy-prow, post-configs-label-sync, pull-configs-validate-external-plugin-yaml, pull-configs-validate-orgs

Path conditions:
  pull-configs-validate-prow-yaml: any of: prow/
  pull-configs-validate-labels-yaml: (any of: prow/config/labels.yaml) or (any of: prow/config/labels.*)
  post-configs-update-orgs: any of: orgs/
  post-configs-deploy-prow: any of: prow/cluster
  post-configs-label-sync: any of: prow/config/labels.yaml
  pull-configs-validate-external-plugin-yaml: any of: prow/config/external_plugins_config.yaml
  pull-configs-validate-orgs: any of: orgs/

chore: support release 8.5 (#1124)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

chore(tikv/rocksdb,tikv/rust-rocksdb): opt rocksdb repo branch protection
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

fix(prow/config): execlude `type/cherry-pick-for-*` labels when create cherry-pick PR
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

fix(prow/config): execlude `type/cherry-pick-for-*` labels when create cherry-pick PR (#1126)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

fix(prow/config): disable needs-rebase plugin
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

fix(prow/config): disable needs-rebase plugin (#1127)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

chore(prow/configs): delete useless labels
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

chore(prow/configs): delete useless labels (#1128)
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

chore(prow/config): add global definition for affects type issue labels
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

chore(prow/config): control affects type issue labels
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

chore(prow/config): control affects type issue labels (#1129)
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

fix(tikv/tikv): update branch protections
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

fix(tikv/tikv): update branch protections (#1131)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

add fuzz-comp label
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

Update labels.yaml
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

Update external_plugins_config.yaml
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

run ./scripts/update-labels.sh
  prow/config/labels.md
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml

add fuzz-comp label (#1132)
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

feat(pingcap/ticdc): add bot config for ticdc repo
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
  prow/config/plugins.yaml
  prow/cronjobs/label-sync.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

remove 5.3/8.2 cherry-pick labels for docs
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

remove needs-cherry-pick-release-1.2 for tidb-operator docs
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

Update labels.md
  prow/config/labels.md
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml

Update prow/config/labels.md
  prow/config/labels.md
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml

remove cherry-pick labels for archived documentation (#1135)
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

chore(pingcap/tidb-engine-ext): deploy ti-community-cherry-pick plugin for pingcap/tidb-engine-ext
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

chore(pingcap/tidb-engine-ext): deploy ti-community-cherry-pick plugin for pingcap/tidb-engine-ext (#1137)
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

fix(pingcap/tidb-engine-ext): strict the merge user
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

fix(pingcap/tidb-engine-ext): strict the merge user (#1138)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

chore: pd update required context on master
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(tikv/pd): pd update required context on master (#1139)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

chore: update pd tide contexts required
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(tikv/pd): adjust required context of tide on pd master branch (#1140)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

feat(pingcap/ticdc): add bot config for ticdc repo (#1134)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
  prow/config/plugins.yaml
  prow/cronjobs/label-sync.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

chore: ticdc skip-unknown-contexts
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(tiflow): ticdc skip-unknown-contexts (#1141)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

feat: add build and ut as required context
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(ticdc): add build and ut as required context (#1142)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

fix(pingcap/ticdc): add config for issue-triage plugin
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml
