Repository ti-community-infra/configs: changes, and which Prow jobs are due for each by the changed paths.
All: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-update-orgs, post-configs-deploy-prow, post-configs-label-sync, pull-configs-validate-external-plugin-yaml, pull-configs-validate-orgs

pull-configs-validate-prow-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20201204-d90be1ef6b
      command:
      - /checkconfig
      args:
      - --plugin-config=prow/config/plugins.yaml
      - --config-path=prow/config/config.yaml

pull-configs-validate-labels-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:v20201204-d90be1ef6b
      command:
      - /app/label_sync/app.binary
      args:
      - --config=prow/config/labels.yaml
      - --confirm=false
  ...

post-configs-update-orgs:
  decorate: true
  spec:
    containers:
    - image: golang:1.15
      command:
      - scripts/peribolos.sh
      args:
      - --config-path=orgs/config.yaml
      - --github-token-path=/etc/github/token
      - --github-endpoint=http://ghproxy
      - --github-endpoint=https://api.github.com
      - --min-admins=2
  ...

post-configs-deploy-prow:
  decorate: true
  spec:
    containers:
    - image: google/cloud-sdk:319.0.0
      command:
      - scripts/deploy.sh
      args:
      - --confirm
      - --config=trusted
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
  ...

post-configs-label-sync:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:v20201204-d90be1ef6b
      command:
      - /app/label_sync/app.binary
      args:
      - --config=prow/config/labels.yaml
      - --confirm=true
  ...

pull-configs-validate-external-plugin-yaml:
  decorate: true
  spec:
    containers:
    - image: ticommunityinfra/tichi-check-external-plugin-config:v2.0.4
      command:
      - check-external-plugin-config
      args:
      - --external-plugin-config-path=prow/config/external_plugins_config.yaml

pull-configs-validate-orgs:
  decorate: true
  spec:
    containers:
    - image: golang:1.16
      command:
      - scripts/peribolos.sh
      args:
      - --config-path=orgs/config.yaml
      - --github-token-path=/etc/github/token
      - --github-endpoint=http://ghproxy
      - --github-endpoint=https://api.github.com
      - --min-admins=2
  ...

config(prow/config): update branch protection config for `pingcap/tiflow`
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(prow/config): update branch protection config for `pingcap/tidb` release branches (#928)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(prow/config): update branch protection config for `pingcap/tiflow` (#929)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(prow/config): fix team slug for deck rerun auth configs
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(prow/config): fix team slug for deck rerun auth configs (#930)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

Revert "config(prow/config): update branch protection config for `pingcap/tidb` release branches (#928)"
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

Revert "config(prow/config): update branch protection config for `pingcap/tidb` release branches" (#931)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

label: remove the needs-cherry-pick-release-6.6 labels for archived v6.6 docs
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

label: remove the v6.6 cherry-pick labels for docs-cn and docs (#932)
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

Update OWNERS_ALIASES
  OWNERS_ALIASES
Due: none

feat: remove required status due to trigger condition
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(prow/config): update branch protection config for pingcap/tidb release-6.1 (#934)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

feat: add repo pingcap/tiproxy config
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config(tiproxy): add repo pingcap/tiproxy config (#936)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

fix: repo names are case-sensitive.
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config(tiproxy): repo names are case-sensitive. (#937)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config(prow/config): update branch protection config for pingcap/tidb release-6.5 (#935)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

Update OWNERS_ALIASES (#933)
  OWNERS_ALIASES
Due: none

Revert "Revert "config(prow/config): update branch protection config for `pingcap/tidb` release branches" (#931)"
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

chore(pingcap/tidb): update branch protect rules for release branches and feature branches
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(prow/config): update branch protection config for `pingcap/tidb` release branches (#938)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(prow/config,prow/jobs): offline support to repo ti-community-infra/ti-community-bot
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
  prow/config/plugins.yaml
  prow/jobs/ti-community-infra/ti-community-bot/ti-community-bot-postsubmits.yaml
  prow/jobs/ti-community-infra/ti-community-bot/ti-community-bot-presubmits.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

config(prow/config,prow/jobs): offline support to repo ti-community-infra/ti-community-bot (#939)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
  prow/config/plugins.yaml
  prow/jobs/ti-community-infra/ti-community-bot/ti-community-bot-postsubmits.yaml
  prow/jobs/ti-community-infra/ti-community-bot/ti-community-bot-presubmits.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

config(prow/config): enable openai review default tasks for ee-ops and ci and artifacts repo
  prow/config/openai/tasks.yaml
Due: pull-configs-validate-prow-yaml

config(pingcap-qe/artifacts): forward events to tekton event listenser
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config(pingcap-qe/artifacts): forward events to tekton event listenser (#940)
  prow/config/openai/tasks.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config(pingcap/tidb): add `codecov/project` as a required context if it present
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(prow/config): migrate to new plugins configuration struct
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config(prow/config): delete deprecated field `maintainers_id` for repo_milestone plugin
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config(prow/config/openai): fix config for openai
  prow/config/openai/tasks.yaml
Due: pull-configs-validate-prow-yaml

config(prow/config): migrate to new plugins configuration struct (#942)
  prow/config/openai/tasks.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

fix(pingcap-qe/artifacts): fix tekton external plugin
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

fix(pingcap-qe/artifacts): fix tekton external plugin (#943)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

feat: add release-7.3 branch config
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

config: add release-7.3 branch config (#944)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

chore(pingcap/tidb): disable github review approve and codeowner required options
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

chore(pingcap/tidb): disable github review approve and codeowner required options (#945)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

Revert "chore(pingcap/tidb): disable github review approve and codeowner required options (#945)"
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

Update prow/config/config.yaml
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

Path conditions:
  pull-configs-validate-prow-yaml: any of: prow/
  pull-configs-validate-labels-yaml: (any of: prow/config/labels.yaml) or (any of: prow/config/labels.*)
  post-configs-update-orgs: any of: orgs/
  post-configs-deploy-prow: any of: prow/cluster
  post-configs-label-sync: any of: prow/config/labels.yaml
  pull-configs-validate-external-plugin-yaml: any of: prow/config/external_plugins_config.yaml
  pull-configs-validate-orgs: any of: orgs/
