Repository ti-community-infra/configs: changes, and which Prow jobs are due for each by the changed paths.
All: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-update-orgs, post-configs-deploy-prow, post-configs-label-sync, pull-configs-validate-external-plugin-yaml, pull-configs-validate-orgs

Path conditions:
  pull-configs-validate-prow-yaml: any of: prow/
  pull-configs-validate-labels-yaml: (any of: prow/config/labels.yaml) or (any of: prow/config/labels.*)
  post-configs-update-orgs: any of: orgs/
  post-configs-deploy-prow: any of: prow/cluster
  post-configs-label-sync: any of: prow/config/labels.yaml
  pull-configs-validate-external-plugin-yaml: any of: prow/config/external_plugins_config.yaml
  pull-configs-validate-orgs: any of: orgs/

fix(formatchecker): allow heading in tests checklist
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

chore(override/teams): enable qa-release-merge override on tidb repo
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

chore(override/teams): enable qa-release-merge override on tidb repo (#1274)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

chore(override/teams): enable override on pingcap repos for qa-release-merge
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

chore(override/teams): enable override on pingcap repos for qa-release-merge (#1275)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

fix: correct regex escaping in Tide config templates
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

fix: correct regex escaping in Tide config templates (#1276)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

chore(override/teams): remove redundant override team
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

chore(override/teams): remove redundant override team (#1277)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

fix: correct regex escape sequences in external plugin config
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

fix: correct regex escape sequences in external plugin config (#1278)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

fix(external_plugins_config): update test checklist format
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

fix(external_plugins_config): update test checklist format (#1279)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

fix: increase title description character limit from 160 to 320
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

chore(prow): add cfzjywxk to cherry-pick approvers for transaction part
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

chore(prow): add cfzjywxk to cherry-pick approvers for transaction part (#1281)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

chore(prow): branch protection merge checks for the tikv/client-c
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

chore(prow): update branch protection merge checks for the tikv/client-c (#1282)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

fix: increase title description character limit from 160 to 320 (#1280)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

feat(title-lint): support multiple scopes in PR title regex
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

Potential fix for pull request finding
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

chore(tikv/rocksdb,tikv/rust-rocksdb): opt rocksdb repo branch protection (#1125)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

fix(prow/config): support multiple scopes in PR title regex for PingCAP-QE/* repos (#1283)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

ci: remove deprecated 7.1 version labels and configurations
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

ci: remove EOL branch protection for release-7.1 and older releases
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

feat: extend label blocker regex to cover versions 6.1 and 6.5
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

feat(skills): add tidb-eol-cleanup skill documentation
  .agents/skills/tidb-eol-cleanup/SKILL.md
Due: none

ci: end of maintenance (EOM) for TiDB v7.1 — remove labels and branch protection (#1284)
  .agents/skills/tidb-eol-cleanup/SKILL.md
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

chore(prow/plugins): add tiflow override config and fix welcome message formatting
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

chore(prow/plugins): add tiflow override config and fix welcome message formatting (#1285)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

chore(prow): remove release-6.1 tide exclusions
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

chore(prow): remove release-6.1 tide exclusions (#1286)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

chore(prow/plugins): merge PingCAP-QE plugins into org-level config
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

chore(prow/plugins): merge PingCAP-QE plugins into org-level config (#1288)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

prow: enable ti-community-format-checker for pingcap/kvproto to enforce PR issue linking
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

prow: enable ti-community-format-checker for pingcap/kvproto to enforce PR issue linking (#1289)
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

chore(prow): add 26.3 affects labels
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

chore(prow): add 25.10 affects labels
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

chore(prow): scope nextgen affects labels
  prow/config/external_plugins_config.yaml
  prow/config/labels.yaml
  prow/config/plugins.yaml
  prow/cronjobs/label-sync.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

docs(prow): clarify 26.3 label description
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync
