Repository ti-community-infra/configs: changes, and which Prow jobs are due for each by the changed paths.
All: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-update-orgs, post-configs-deploy-prow, post-configs-label-sync, pull-configs-validate-external-plugin-yaml, pull-configs-validate-orgs

Path conditions:
  pull-configs-validate-prow-yaml: any of: prow/
  pull-configs-validate-labels-yaml: any of: prow/config/labels.yaml
  post-configs-update-orgs: any of: orgs/
  post-configs-deploy-prow: any of: prow/cluster
  post-configs-label-sync: any of: prow/config/labels.yaml
  pull-configs-validate-external-plugin-yaml: any of: prow/config/external_plugins_config.yaml
  pull-configs-validate-orgs: any of: orgs/

config: make tide status required for tidb/tikv
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: make tide status required for tidb/tikv (#253)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: enable contribution for docs sig
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

add event config
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: enable contribution for docs sig (#254)
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

ci: add configs-periodics.yaml
  prow/jobs/ti-community-infra/configs/configs-periodics.yaml
Due: pull-configs-validate-prow-yaml

Update prow/jobs/ti-community-infra/configs/configs-periodics.yaml
  prow/jobs/ti-community-infra/configs/configs-periodics.yaml
Due: pull-configs-validate-prow-yaml

ci: add configs-periodics.yaml (#255)
  prow/jobs/ti-community-infra/configs/configs-periodics.yaml
Due: pull-configs-validate-prow-yaml

config: set tars update period to 2h
  prow/cluster/ti_community_tars_deployment.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

config: set tars update period to 2h (#256)
  prow/cluster/ti_community_tars_deployment.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

config: stop send pull request event to tars
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: stop send pull request event to tars (#257)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

build: bump all ti plugins from v1.5.1 to v1.5.2
  prow/cluster/ti-community-cherrypicker_deployment.yaml
  prow/cluster/ti_community_autoresponder_deployment.yaml
  prow/cluster/ti_community_blunderbuss_deployment.yaml
  prow/cluster/ti_community_contribution_deployment.yaml
  prow/cluster/ti_community_label_blocker_deployment.yaml
  prow/cluster/ti_community_label_deployment.yaml
  prow/cluster/ti_community_lgtm_deployment.yaml
  prow/cluster/ti_community_merge_deployment.yaml
  prow/cluster/ti_community_owners_deployment.yaml
  prow/cluster/ti_community_tars_deployment.yaml
  prow/cluster/tichi_web_deployment.yaml
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

build: bump all ti plugins from v1.5.1 to v1.5.2 (#258)
  prow/cluster/ti-community-cherrypicker_deployment.yaml
  prow/cluster/ti_community_autoresponder_deployment.yaml
  prow/cluster/ti_community_blunderbuss_deployment.yaml
  prow/cluster/ti_community_contribution_deployment.yaml
  prow/cluster/ti_community_label_blocker_deployment.yaml
  prow/cluster/ti_community_label_deployment.yaml
  prow/cluster/ti_community_lgtm_deployment.yaml
  prow/cluster/ti_community_merge_deployment.yaml
  prow/cluster/ti_community_owners_deployment.yaml
  prow/cluster/ti_community_tars_deployment.yaml
  prow/cluster/tichi_web_deployment.yaml
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

build: Revert "config: set tars update period to 2h (#256)"
  prow/cluster/ti_community_tars_deployment.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

build: Revert "config: set tars update period to 2h (#256)" (#259)
  prow/cluster/ti_community_tars_deployment.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

build: bump needs-rebase version
  prow/cluster/needs-rebase_deployment.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

build: bump needs-rebase version (#260)
  prow/cluster/needs-rebase_deployment.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

ci: add retester for tidb
  prow/jobs/pingcap/tidb/bot-periodics.yaml
  prow/jobs/ti-community-infra/org/bot-periodics.yaml
Due: pull-configs-validate-prow-yaml

ci: add retester for tidb
  prow/jobs/pingcap/tidb/tidb-bot-periodics.yaml
Due: pull-configs-validate-prow-yaml

ci: fix typo
  prow/jobs/pingcap/tidb/tidb-bot-periodics.yaml
Due: pull-configs-validate-prow-yaml

ci: 2 prs
  prow/jobs/pingcap/tidb/tidb-bot-periodics.yaml
Due: pull-configs-validate-prow-yaml

ci: 75m
  prow/jobs/pingcap/tidb/tidb-bot-periodics.yaml
Due: pull-configs-validate-prow-yaml

ci: remove updated
  prow/jobs/pingcap/tidb/tidb-bot-periodics.yaml
Due: pull-configs-validate-prow-yaml

ci: 20m
  prow/jobs/pingcap/tidb/tidb-bot-periodics.yaml
Due: pull-configs-validate-prow-yaml

ci: 1h
  prow/jobs/pingcap/tidb/tidb-bot-periodics.yaml
Due: pull-configs-validate-prow-yaml

ci: 30m
  prow/jobs/pingcap/tidb/tidb-bot-periodics.yaml
Due: pull-configs-validate-prow-yaml

ci: 35m
  prow/jobs/pingcap/tidb/tidb-bot-periodics.yaml
Due: pull-configs-validate-prow-yaml

ci: add retester for tidb (#261)
  prow/jobs/pingcap/tidb/tidb-bot-periodics.yaml
  prow/jobs/ti-community-infra/org/bot-periodics.yaml
Due: pull-configs-validate-prow-yaml

config: retester only for master
  prow/jobs/pingcap/tidb/tidb-bot-periodics.yaml
Due: pull-configs-validate-prow-yaml

config: retester only for master (#262)
  prow/jobs/pingcap/tidb/tidb-bot-periodics.yaml
Due: pull-configs-validate-prow-yaml

config: set tidb reterser updated to 1h
  prow/jobs/pingcap/tidb/tidb-bot-periodics.yaml
Due: pull-configs-validate-prow-yaml

config: set tidb reterser updated to 1h (#263)
  prow/jobs/pingcap/tidb/tidb-bot-periodics.yaml
Due: pull-configs-validate-prow-yaml

fix: refine typo
  prow/jobs/pingcap/tidb/tidb-bot-periodics.yaml
Due: pull-configs-validate-prow-yaml
