Repository ti-community-infra/configs: changes, and which Prow jobs are due for each by the changed paths.
All: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-update-orgs, post-configs-deploy-prow, post-configs-label-sync, pull-configs-validate-orgs

Path conditions:
  pull-configs-validate-prow-yaml: any of: prow/
  pull-configs-validate-labels-yaml: any of: prow/config/labels.yaml
  post-configs-update-orgs: any of: orgs/
  post-configs-deploy-prow: any of: prow/cluster
  post-configs-label-sync: any of: prow/config/labels.yaml
  pull-configs-validate-orgs: any of: orgs/

add AUTOBUMP_TITLE_PREFIX
  prow/jobs/ti-community-infra/tichi/tichi-periodics.yaml
Due: pull-configs-validate-prow-yaml

config: make auto bump once a week (#237)
  prow/jobs/ti-community-infra/tichi/tichi-periodics.yaml
Due: pull-configs-validate-prow-yaml

build: bump all plugins version and enable new cherrypicker for dumpling
  prow/cluster/branchprotector.yaml
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/cherrypicker_service.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/prow_controller_manager_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/ti-community-cherrypicker_deployment.yaml
  prow/cluster/ti-community-cherrypicker_service.yaml
  prow/cluster/ti_community_autoresponder_deployment.yaml
  prow/cluster/ti_community_blunderbuss_deployment.yaml
  prow/cluster/ti_community_contribution_deployment.yaml
  prow/cluster/ti_community_label_blocker_deployment.yaml
  prow/cluster/ti_community_lgtm_deployment.yaml
  prow/cluster/ti_community_merge_deployment.yaml
  prow/cluster/ti_community_owners_deployment.yaml
  prow/cluster/ti_community_tars_deployment.yaml
  prow/cluster/tichi_web_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
  prow/jobs/ti-community-infra/configs/configs-postsubmits.yaml
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
  prow/jobs/ti-community-infra/org/lifecycle-periodics.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

config: enable trigger for devstats-dev-guide
  prow/config/plugins.yaml
  prow/jobs/ti-community-infra/devstats-dev-guide/devstats-dev-guide-postsubmits.yaml
  prow/jobs/ti-community-infra/devstats-dev-guide/devstats-dev-guide-presubmits.yaml
Due: pull-configs-validate-prow-yaml

config: enable trigger for devstats-dev-guide (#239)
  prow/config/plugins.yaml
  prow/jobs/ti-community-infra/devstats-dev-guide/devstats-dev-guide-postsubmits.yaml
  prow/jobs/ti-community-infra/devstats-dev-guide/devstats-dev-guide-presubmits.yaml
Due: pull-configs-validate-prow-yaml

build: bump all plugins version and enable new cherrypicker for dumpling (#238)
  prow/cluster/branchprotector.yaml
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/cherrypicker_service.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/prow_controller_manager_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/ti-community-cherrypicker_deployment.yaml
  prow/cluster/ti-community-cherrypicker_service.yaml
  prow/cluster/ti_community_autoresponder_deployment.yaml
  prow/cluster/ti_community_blunderbuss_deployment.yaml
  prow/cluster/ti_community_contribution_deployment.yaml
  prow/cluster/ti_community_label_blocker_deployment.yaml
  prow/cluster/ti_community_lgtm_deployment.yaml
  prow/cluster/ti_community_merge_deployment.yaml
  prow/cluster/ti_community_owners_deployment.yaml
  prow/cluster/ti_community_tars_deployment.yaml
  prow/cluster/tichi_web_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
  prow/jobs/ti-community-infra/configs/configs-postsubmits.yaml
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
  prow/jobs/ti-community-infra/org/lifecycle-periodics.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

config: fix typos
  prow/jobs/ti-community-infra/devstats-dev-guide/devstats-dev-guide-postsubmits.yaml
  prow/jobs/ti-community-infra/devstats-dev-guide/devstats-dev-guide-presubmits.yaml
Due: pull-configs-validate-prow-yaml

config: fix typos (#240)
  prow/jobs/ti-community-infra/devstats-dev-guide/devstats-dev-guide-postsubmits.yaml
  prow/jobs/ti-community-infra/devstats-dev-guide/devstats-dev-guide-presubmits.yaml
Due: pull-configs-validate-prow-yaml

config: add labels for 4 docs repos
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

enable help plugin
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

add help-wanted and good-first-issue in labels
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

disable help plugin
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

build: downgrade needs-rebase version
  prow/cluster/needs-rebase_deployment.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

build: downgrade needs-rebase version (#242)
  prow/cluster/needs-rebase_deployment.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

config: increase grace_period for docs SIG repos
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: increase grace_period for docs-dm
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: increase grace_period for docs SIG repos (#243)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: add labels for 4 docs repos (#241)
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

ci: add label sync cron job
  prow/cluster/label_sync.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

ci: refine args
  prow/cluster/label_sync.yaml
  prow/jobs/ti-community-infra/configs/configs-postsubmits.yaml
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

ci: add label sync cron job (#244)
  prow/cluster/label_sync.yaml
  prow/jobs/ti-community-infra/configs/configs-postsubmits.yaml
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

config: enable release-note and dco for tichi
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: enable release-note and dco for tichi (#245)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: add more labels for tichi
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

config: refine job
  prow/cluster/label_sync.yaml
  prow/jobs/ti-community-infra/configs/configs-postsubmits.yaml
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

config: add more labels for tichi (#246)
  prow/cluster/label_sync.yaml
  prow/config/labels.yaml
  prow/jobs/ti-community-infra/configs/configs-postsubmits.yaml
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-deploy-prow, post-configs-label-sync

config: fmt labels.yaml
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

config: fmt labels.yaml (#247)
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

config: add some labels for tichi query
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: add some labels for tichi query (#248)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: remove status/WIP label
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

config: remove status/WIP label (#249)
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

config: skip dco check for members
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: skip dco check for members (#250)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: enable ti-community-label for ticdc
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: fix typo
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml

config: enable ti-community-label for ticdc (#251)
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: make tide status required for tichi
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: make tide status required for tichi
  prow/cluster/branchprotector.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/label_sync.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/prow_controller_manager_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config/config.yaml
  prow/jobs/ti-community-infra/configs/configs-postsubmits.yaml
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
  prow/jobs/ti-community-infra/org/lifecycle-periodics.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

config: make tide status required for tichi (#252)
  prow/cluster/branchprotector.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/label_sync.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/prow_controller_manager_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config/config.yaml
  prow/jobs/ti-community-infra/configs/configs-postsubmits.yaml
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
  prow/jobs/ti-community-infra/org/lifecycle-periodics.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow
