Repository ti-community-infra/configs: changes, and which Prow jobs are due for each by the changed paths.
All: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-update-orgs, post-configs-deploy-prow, post-configs-label-sync

pull-configs-validate-prow-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20201204-d90be1ef6b
      command:
      - /checkconfig
      args:
      - --plugin-config=prow/config/plugins.yaml
      - --config-path=prow/config/config.yaml

pull-configs-validate-labels-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:v20201204-d90be1ef6b
      command:
      - /app/label_sync/app.binary
      args:
      - --config=prow/config/labels.yaml
      - --confirm=false
  ...

post-configs-update-orgs:
  decorate: true
  spec:
    containers:
    - image: golang:1.15
      command:
      - scripts/peribolos.sh
      args:
      - --config-path=orgs/config.yaml
      - --github-token-path=/etc/github/token
      - --github-endpoint=http://ghproxy
      - --github-endpoint=https://api.github.com
      - --min-admins=2
  ...

post-configs-deploy-prow:
  decorate: true
  spec:
    containers:
    - image: google/cloud-sdk:319.0.0
      command:
      - scripts/deploy.sh
      args:
      - --confirm
      - --config=trusted
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
  ...

post-configs-label-sync:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:v20201204-d90be1ef6b
      command:
      - /app/label_sync/app.binary
      args:
      - --config=prow/config/labels.yaml
      - --confirm=true
  ...

config: refine community infra repos sig setting
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml

config: refine community infra repos sig setting (#108)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml

chore: rename bot (#107)
  orgs/config_test.go
  orgs/ti-community-infra/bots-test/teams.yaml
  orgs/ti-community-infra/org.yaml
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, post-configs-update-orgs

config: rename project
  .prow.yaml
  README.md
  orgs/ti-community-infra/maintainers/teams.yaml
  orgs/ti-community-infra/sig-community-infra/teams.yaml
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-update-orgs, post-configs-label-sync

config: rename project (#109)
  .prow.yaml
  README.md
  orgs/ti-community-infra/maintainers/teams.yaml
  orgs/ti-community-infra/sig-community-infra/teams.yaml
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-update-orgs, post-configs-label-sync

config: add tichi-web files
  prow/cluster/ing_ingress.yaml
  prow/cluster/tichi_web_deployment.yaml
  prow/cluster/tichi_web_service.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

config: add tichi-web files (#111)
  prow/cluster/ing_ingress.yaml
  prow/cluster/tichi_web_deployment.yaml
  prow/cluster/tichi_web_service.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

config: refine timeout
  prow/cluster/tichi_web_deployment.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

config: refine timeout (#112)
  prow/cluster/tichi_web_deployment.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

config: refine initialDelaySeconds
  prow/cluster/tichi_web_deployment.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

config: refine initialDelaySeconds (#113)
  prow/cluster/tichi_web_deployment.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

config: refine timeout (#114)
  prow/cluster/tichi_web_deployment.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

config: bump plugins version from v0.17.1 to v0.17.5
  prow/cluster/ti_community_autoresponder_deployment.yaml
  prow/cluster/ti_community_blunderbuss_deployment.yaml
  prow/cluster/ti_community_label_deployment.yaml
  prow/cluster/ti_community_lgtm_deployment.yaml
  prow/cluster/ti_community_merge_deployment.yaml
  prow/cluster/ti_community_owners_deployment.yaml
  prow/cluster/ti_community_tars_deployment.yaml
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

config: bump plugins version from v0.17.1 to v0.17.5 (#115)
  prow/cluster/ti_community_autoresponder_deployment.yaml
  prow/cluster/ti_community_blunderbuss_deployment.yaml
  prow/cluster/ti_community_label_deployment.yaml
  prow/cluster/ti_community_lgtm_deployment.yaml
  prow/cluster/ti_community_merge_deployment.yaml
  prow/cluster/ti_community_owners_deployment.yaml
  prow/cluster/ti_community_tars_deployment.yaml
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

config: clean up ti-community-infra members
  orgs/ti-community-infra/maintainers/teams.yaml
  orgs/ti-community-infra/org.yaml
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, post-configs-update-orgs

config: clean up ti-community-infra members (#116)
  orgs/ti-community-infra/maintainers/teams.yaml
  orgs/ti-community-infra/org.yaml
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, post-configs-update-orgs

build: bump plugins version to v1.0.1
  prow/cluster/ti_community_autoresponder_deployment.yaml
  prow/cluster/ti_community_blunderbuss_deployment.yaml
  prow/cluster/ti_community_label_deployment.yaml
  prow/cluster/ti_community_lgtm_deployment.yaml
  prow/cluster/ti_community_merge_deployment.yaml
  prow/cluster/ti_community_owners_deployment.yaml
  prow/cluster/ti_community_tars_deployment.yaml
  prow/cluster/tichi_web_deployment.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

config: add links
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml

build: bump plugins version to v1.0.1 (#117)
  prow/cluster/ti_community_autoresponder_deployment.yaml
  prow/cluster/ti_community_blunderbuss_deployment.yaml
  prow/cluster/ti_community_label_deployment.yaml
  prow/cluster/ti_community_lgtm_deployment.yaml
  prow/cluster/ti_community_merge_deployment.yaml
  prow/cluster/ti_community_owners_deployment.yaml
  prow/cluster/ti_community_tars_deployment.yaml
  prow/cluster/tichi_web_deployment.yaml
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

config: send pull request event to lgtm
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: send pull request event to lgtm (#118)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: disable cherry-pick-unapproved for tikv repo
  prow/config/config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: disable cherry-pick-unapproved for tikv repo (#119)
  prow/config/config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: Remove LGTM autoresponder for tikv repo
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml

config: Add cherry-pick-approved label requirement to tikv version 4.0 branch
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: Add cherry-pick-approved label requirement to tikv version 4.0 branch (#121)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: Remove LGTM autoresponder for tikv repo (#120)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml

config: enable tichi for ti-community-infra/ti-sync-bot
  .prow.yaml
  orgs/ti-community-infra/maintainers/teams.yaml
  orgs/ti-community-infra/sig-community-infra/teams.yaml
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-update-orgs, post-configs-label-sync

config: enable tichi for ti-community-infra/ti-sync-bot (#122)
  .prow.yaml
  orgs/ti-community-infra/maintainers/teams.yaml
  orgs/ti-community-infra/sig-community-infra/teams.yaml
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-update-orgs, post-configs-label-sync

config: bump tichi plugins version
  prow/cluster/ti_community_autoresponder_deployment.yaml
  prow/cluster/ti_community_blunderbuss_deployment.yaml
  prow/cluster/ti_community_label_deployment.yaml
  prow/cluster/ti_community_lgtm_deployment.yaml
  prow/cluster/ti_community_merge_deployment.yaml
  prow/cluster/ti_community_owners_deployment.yaml
  prow/cluster/ti_community_tars_deployment.yaml
  prow/cluster/tichi_web_deployment.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

config: add label blocker
  prow/cluster/ti_community_label_blocker_deployment.yaml
  prow/cluster/ti_community_label_blocker_service.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

build: bump tichi plugins version (#123)
  prow/cluster/ti_community_blunderbuss_deployment.yaml
  prow/cluster/ti_community_label_blocker_deployment.yaml
  prow/cluster/ti_community_label_blocker_service.yaml
  prow/cluster/ti_community_label_deployment.yaml
  prow/cluster/ti_community_lgtm_deployment.yaml
  prow/cluster/ti_community_merge_deployment.yaml
  prow/cluster/ti_community_owners_deployment.yaml
  prow/cluster/ti_community_tars_deployment.yaml
  prow/cluster/tichi_web_deployment.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

config: enable label blocker to tikv
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: remove cherry-pick-approved
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml

config: enable label blocker to tikv (#124)
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

ci: add pull-configs-validate-orgs job
  .prow.yaml
Due: none

config: add ti-sync-bot config
  ti-community-bots/.gitignore
  ti-community-bots/Makefile
  ti-community-bots/cluster/bots_namespace.yaml
  ti-community-bots/cluster/ti_sync_bot_deployment.yaml
  ti-community-bots/cluster/ti_sync_bot_service.yaml
  ti-community-bots/config/database_config.yaml.example
  ti-community-bots/config/ti_sync_bot_config.yaml.example
Due: none

ci: add pull-configs-validate-orgs job (#125)
  .prow.yaml
Due: none

fix: define namespace in yaml
  ti-community-bots/Makefile
  ti-community-bots/cluster/ti_sync_bot_service.yaml
  ti-community-bots/example/database_config.example.yaml
  ti-community-bots/example/ti_sync_bot_config.example.yaml
Due: none

Path conditions:
  pull-configs-validate-prow-yaml: any of: prow/
  pull-configs-validate-labels-yaml: any of: prow/config/labels.yaml
  post-configs-update-orgs: any of: orgs/
  post-configs-deploy-prow: any of: prow/cluster
  post-configs-label-sync: any of: prow/config/labels.yaml
