Repository ti-community-infra/configs: changes, and which Prow jobs are due for each by the changed paths.
All: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-update-orgs, post-configs-deploy-prow, post-configs-label-sync, pull-configs-validate-external-plugin-yaml, pull-configs-validate-orgs

Path conditions:
  pull-configs-validate-prow-yaml: any of: prow/
  pull-configs-validate-labels-yaml: (any of: prow/config/labels.yaml) or (any of: prow/config/labels.*)
  post-configs-update-orgs: any of: orgs/
  post-configs-deploy-prow: any of: prow/cluster
  post-configs-label-sync: any of: prow/config/labels.yaml
  pull-configs-validate-external-plugin-yaml: any of: prow/config/external_plugins_config.yaml
  pull-configs-validate-orgs: any of: orgs/

add release-1.3 branch config for docs-tidb-operator repo
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

config: add release-5.4 branch config for docs repos (#521)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

add 1.3 label to whitelist
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

fix: use lazy mode to match commit message block
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

fix: use lazy mode to match commit message block (#523)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: add release-1.3 branch config for docs-tidb-operator repo (#522)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

Update the PD required_status_checks
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

Update the PD required-contexts
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: update the PD required_status_checks (#524)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

rename tiflash repo to tiflash-scripts in configs
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

fix(config): rename one missing part
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

fix(config): rename idc context
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: rename pingcap/tiflash to pingcap/tiflash-scripts (#525)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config: update the PD required-contexts (#526)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

fix(config): rename missing part of tiflash-scripts
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

fix(config): rename missing parts of tiflash-scripts (#527)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

add release-1.3
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

add release-1.3 branch config for tidb-operator repo
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

update lgtm
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config: add release-1.3 branch config for tidb-operator repo (#528)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config: enable linked issue check for tics
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config: enable linked issue check for tics (#529)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config: enable tichi for tispark
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

chore: unify to documentation in chaos-mesh
  prow/config/external_plugins_config.yaml
  prow/config/labels.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

fix
  prow/config/labels.md
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml

chore: unify to documentation in chaos-mesh (#532)
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

Apply suggestions from code review
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

fix
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

add v6.0 label to docs repos
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

update labels.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

update color
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

config: add v6.0 label to docs repos (#533)
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

config: enable tichi for tispark (#531)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

fix: fix typo on the label plugin config
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

fix: fix typo on the label plugin config (#534)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

remove build check in tiSpark release branch
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: remove build check in tiSpark release branch (#535)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

fix: remove the reviewApprovedRequired on release branch
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml
