Repository ti-community-infra/configs: changes, and which Prow jobs are due for each by the changed paths.
All: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-update-orgs, post-configs-deploy-prow, post-configs-label-sync

pull-configs-validate-prow-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20201204-d90be1ef6b
      command:
      - /checkconfig
      args:
      - --plugin-config=prow/config/plugins.yaml
      - --config-path=prow/config/config.yaml

pull-configs-validate-labels-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:v20201204-d90be1ef6b
      command:
      - /app/label_sync/app.binary
      args:
      - --config=prow/config/labels.yaml
      - --confirm=false
  ...

post-configs-update-orgs:
  decorate: true
  spec:
    containers:
    - image: golang:1.15
      command:
      - scripts/peribolos.sh
      args:
      - --config-path=orgs/config.yaml
      - --github-token-path=/etc/github/token
      - --github-endpoint=http://ghproxy
      - --github-endpoint=https://api.github.com
      - --min-admins=2
  ...

post-configs-deploy-prow:
  decorate: true
  spec:
    containers:
    - image: google/cloud-sdk:319.0.0
      command:
      - scripts/deploy.sh
      args:
      - --confirm
      - --config=trusted
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
  ...

post-configs-label-sync:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:v20201204-d90be1ef6b
      command:
      - /app/label_sync/app.binary
      args:
      - --config=prow/config/labels.yaml
      - --confirm=true
  ...

chore: refine README.md
  README.md
Due: none

ci: move jobs into prow jobs directory
  prow/config/config.yaml
  prow/jobs/ti-community-infra/configs/configs-postsubmits.yaml
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
  prow/jobs/ti-community-infra/org/lifecycle-periodics.yaml
Due: pull-configs-validate-prow-yaml

config: move it into dev directory
  ti-community-bots/dev/.gitignore
  ti-community-bots/dev/Makefile
  ti-community-bots/dev/cluster/bots_namespace.yaml
  ti-community-bots/dev/cluster/ti_sync_bot_deployment.yaml
  ti-community-bots/dev/cluster/ti_sync_bot_service.yaml
  ti-community-bots/dev/example/database_config.example.yaml
  ti-community-bots/dev/example/ti_sync_bot_config.example.yaml
Due: none

config: add ti-sync-bot config (#126)
  ti-community-bots/dev/.gitignore
  ti-community-bots/dev/Makefile
  ti-community-bots/dev/cluster/bots_namespace.yaml
  ti-community-bots/dev/cluster/ti_sync_bot_deployment.yaml
  ti-community-bots/dev/cluster/ti_sync_bot_service.yaml
  ti-community-bots/dev/example/database_config.example.yaml
  ti-community-bots/dev/example/ti_sync_bot_config.example.yaml
Due: none

chore: refine README.md (#127)
  README.md
Due: none

ci: move jobs into prow jobs directory (#128)
  prow/config/config.yaml
  prow/jobs/ti-community-infra/configs/configs-postsubmits.yaml
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
  prow/jobs/ti-community-infra/org/lifecycle-periodics.yaml
Due: pull-configs-validate-prow-yaml

config: add ok-to-test related labels
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

config: refine jobs
  prow/jobs/ti-community-infra/configs/configs-postsubmits.yaml
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
Due: pull-configs-validate-prow-yaml

config: add ok-to-test related labels (#129)
  prow/config/labels.yaml
  prow/jobs/ti-community-infra/configs/configs-postsubmits.yaml
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

config: remove useless new line
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

config: fix typo
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
Due: pull-configs-validate-prow-yaml

config: remove useless new line (#130)
  prow/config/labels.yaml
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

test: test job
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

fix: refine jobs
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
Due: pull-configs-validate-prow-yaml

fix: refine jobs (#132)
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
Due: pull-configs-validate-prow-yaml

config: bump ti-sync-bot version v1.0.4
  ti-community-bots/dev/cluster/ti_sync_bot_deployment.yaml
Due: none

config: bump ti-sync-bot version v1.0.4 (#133)
  ti-community-bots/dev/cluster/ti_sync_bot_deployment.yaml
Due: none

config: add ingress
  ti-community-bots/dev/cluster/ing_ingress.yaml
Due: none

config: add ingress (#134)
  ti-community-bots/dev/cluster/ing_ingress.yaml
Due: none

config: add tls to ingress
  ti-community-bots/dev/cluster/ing_ingress.yaml
Due: none

config: add tls to ingress (#135)
  ti-community-bots/dev/cluster/ing_ingress.yaml
Due: none

config: disable tars for configs
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml

config: disable tars for configs (#136)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml

build: bump all plugins version
  prow/cluster/branchprotector.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/prow_controller_manager_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/ti_community_autoresponder_deployment.yaml
  prow/cluster/ti_community_blunderbuss_deployment.yaml
  prow/cluster/ti_community_label_blocker_deployment.yaml
  prow/cluster/ti_community_label_deployment.yaml
  prow/cluster/ti_community_lgtm_deployment.yaml
  prow/cluster/ti_community_merge_deployment.yaml
  prow/cluster/ti_community_owners_deployment.yaml
  prow/cluster/ti_community_tars_deployment.yaml
  prow/cluster/tichi_web_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config/config.yaml
  prow/jobs/ti-community-infra/configs/configs-postsubmits.yaml
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
  prow/jobs/ti-community-infra/org/lifecycle-periodics.yaml
  ti-community-bots/dev/cluster/ti_sync_bot_deployment.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

build: revert sync bot image
  ti-community-bots/dev/cluster/ti_sync_bot_deployment.yaml
Due: none

build: bump all plugins version (#137)
  prow/cluster/branchprotector.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/prow_controller_manager_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/ti_community_autoresponder_deployment.yaml
  prow/cluster/ti_community_blunderbuss_deployment.yaml
  prow/cluster/ti_community_label_blocker_deployment.yaml
  prow/cluster/ti_community_label_deployment.yaml
  prow/cluster/ti_community_lgtm_deployment.yaml
  prow/cluster/ti_community_merge_deployment.yaml
  prow/cluster/ti_community_owners_deployment.yaml
  prow/cluster/ti_community_tars_deployment.yaml
  prow/cluster/tichi_web_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config/config.yaml
  prow/jobs/ti-community-infra/configs/configs-postsubmits.yaml
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
  prow/jobs/ti-community-infra/org/lifecycle-periodics.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

config: remove "Sig Info File Format" requirement for community repos
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: remove "Sig Info File Format" requirement for community repos (#138)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

build: bump ti plugins version
  prow/cluster/ti_community_autoresponder_deployment.yaml
  prow/cluster/ti_community_blunderbuss_deployment.yaml
  prow/cluster/ti_community_label_blocker_deployment.yaml
  prow/cluster/ti_community_label_deployment.yaml
  prow/cluster/ti_community_lgtm_deployment.yaml
  prow/cluster/ti_community_merge_deployment.yaml
  prow/cluster/ti_community_owners_deployment.yaml
  prow/cluster/ti_community_tars_deployment.yaml
  prow/cluster/tichi_web_deployment.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

build: bump ti plugins version (#139)
  prow/cluster/ti_community_autoresponder_deployment.yaml
  prow/cluster/ti_community_blunderbuss_deployment.yaml
  prow/cluster/ti_community_label_blocker_deployment.yaml
  prow/cluster/ti_community_label_deployment.yaml
  prow/cluster/ti_community_lgtm_deployment.yaml
  prow/cluster/ti_community_merge_deployment.yaml
  prow/cluster/ti_community_owners_deployment.yaml
  prow/cluster/ti_community_tars_deployment.yaml
  prow/cluster/tichi_web_deployment.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

config: enable owners for community repos
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml

config: enable owners for community repos (#140)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml

config: bump ti-sync-bot version to v1.1.0
  ti-community-bots/dev/cluster/ti_sync_bot_deployment.yaml
  ti-community-bots/dev/example/ti_sync_bot_config.example.yaml
Due: none

config: bump ti-sync-bot version to v1.1.0 (#141)
  ti-community-bots/dev/cluster/ti_sync_bot_deployment.yaml
  ti-community-bots/dev/example/ti_sync_bot_config.example.yaml
Due: none

config: remove reprotest(1.14/1.15) from tiup required tasks
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: remove reprotest(1.14/1.15) from tiup required tasks (#142)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: bump ti-sync-bot version to v1.1.1
  ti-community-bots/dev/cluster/ti_sync_bot_deployment.yaml
Due: none

config: bump ti-sync-bot version to v1.1.1 (#143)
  ti-community-bots/dev/cluster/ti_sync_bot_deployment.yaml
Due: none

config: enable tichi for rfcs
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: enable labels
  prow/jobs/ti-community-infra/configs/configs-postsubmits.yaml
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
Due: pull-configs-validate-prow-yaml

Path conditions:
  pull-configs-validate-prow-yaml: any of: prow/
  pull-configs-validate-labels-yaml: any of: prow/config/labels.yaml
  post-configs-update-orgs: any of: orgs/
  post-configs-deploy-prow: any of: prow/cluster
  post-configs-label-sync: any of: prow/config/labels.yaml
