Repository ti-community-infra/configs: changes, and which Prow jobs are due for each by the changed paths.
All: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-update-orgs, post-configs-deploy-prow, post-configs-label-sync, pull-configs-validate-orgs

Path conditions:
  pull-configs-validate-prow-yaml: any of: prow/
  pull-configs-validate-labels-yaml: any of: prow/config/labels.yaml
  post-configs-update-orgs: any of: orgs/
  post-configs-deploy-prow: any of: prow/cluster
  post-configs-label-sync: any of: prow/config/labels.yaml
  pull-configs-validate-orgs: any of: orgs/

config: fix plugins event
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: fix plugins
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: enable tichi for rfcs (#144)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
  prow/jobs/ti-community-infra/configs/configs-postsubmits.yaml
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
Due: pull-configs-validate-prow-yaml

config: enable label for rfcs
  prow/config/external_plugins_config.yaml
  prow/config/labels.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

config: enable label for rfcs (#145)
  prow/config/external_plugins_config.yaml
  prow/config/labels.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

build: bump ti plugins version and enable validate config job
  prow/cluster/ti_community_autoresponder_deployment.yaml
  prow/cluster/ti_community_blunderbuss_deployment.yaml
  prow/cluster/ti_community_label_blocker_deployment.yaml
  prow/cluster/ti_community_label_deployment.yaml
  prow/cluster/ti_community_lgtm_deployment.yaml
  prow/cluster/ti_community_merge_deployment.yaml
  prow/cluster/ti_community_owners_deployment.yaml
  prow/cluster/ti_community_tars_deployment.yaml
  prow/cluster/tichi_web_deployment.yaml
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

fix: fix typo
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
Due: pull-configs-validate-prow-yaml

test: error external plugin config
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml

Revert "test: error external plugin config"
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml

build: bump ti plugins version and enable validate config job (#146)
  prow/cluster/ti_community_autoresponder_deployment.yaml
  prow/cluster/ti_community_blunderbuss_deployment.yaml
  prow/cluster/ti_community_label_blocker_deployment.yaml
  prow/cluster/ti_community_label_deployment.yaml
  prow/cluster/ti_community_lgtm_deployment.yaml
  prow/cluster/ti_community_merge_deployment.yaml
  prow/cluster/ti_community_owners_deployment.yaml
  prow/cluster/ti_community_tars_deployment.yaml
  prow/cluster/tichi_web_deployment.yaml
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

config: enable tichi for tidb
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: add label config
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml

config: update reply
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml

config: enforce_admins for tidb
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: enable tichi for tidb (#148)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: fix broken link
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml

config: fix broken link (#149)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml

build: bump ti-sync-bot version to v1.1.2
  ti-community-bots/dev/cluster/ti_sync_bot_deployment.yaml
Due: none

build: bump ti-sync-bot version to v1.1.2 (#150)
  ti-community-bots/dev/cluster/ti_sync_bot_deployment.yaml
Due: none

tiup: update reprotest task
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

tiup: update matrix value
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

Revert "tiup: update matrix value"
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

feat: tiup: update reprotest task (#152)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: modify commit message template for tichi
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: modify commit message template for ti-community-infra
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: modify commit message template for ti-community-infra (#153)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

polish message
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml

config: polish message (#154)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml

config: add codecov
  prow/.gitignore
  prow/Makefile
Due: pull-configs-validate-prow-yaml

config: set empty commit body for tidb
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: refine tichi contexts
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: set empty commit body for tidb (#156)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: add codecov (#155)
  prow/.gitignore
  prow/Makefile
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

fix: refine tidb commit body
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

fix: refine tidb commit body (#157)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

fix: enable enforce_admins for tikv/tidb-operator
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

fix: enable enforce_admins for tikv/tidb-operator (#158)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

build: bump all commponents and plugins version
  prow/cluster/branchprotector.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/prow_controller_manager_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/ti_community_autoresponder_deployment.yaml
  prow/cluster/ti_community_blunderbuss_deployment.yaml
  prow/cluster/ti_community_label_blocker_deployment.yaml
  prow/cluster/ti_community_label_deployment.yaml
  prow/cluster/ti_community_lgtm_deployment.yaml
  prow/cluster/ti_community_merge_deployment.yaml
  prow/cluster/ti_community_owners_deployment.yaml
  prow/cluster/ti_community_tars_deployment.yaml
  prow/cluster/tichi_web_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config/config.yaml
  prow/jobs/ti-community-infra/configs/configs-postsubmits.yaml
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
  prow/jobs/ti-community-infra/org/lifecycle-periodics.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

build: bump all commponents and plugins version (#159)
  prow/cluster/branchprotector.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/prow_controller_manager_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/ti_community_autoresponder_deployment.yaml
  prow/cluster/ti_community_blunderbuss_deployment.yaml
  prow/cluster/ti_community_label_blocker_deployment.yaml
  prow/cluster/ti_community_label_deployment.yaml
  prow/cluster/ti_community_lgtm_deployment.yaml
  prow/cluster/ti_community_merge_deployment.yaml
  prow/cluster/ti_community_owners_deployment.yaml
  prow/cluster/ti_community_tars_deployment.yaml
  prow/cluster/tichi_web_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config/config.yaml
  prow/jobs/ti-community-infra/configs/configs-postsubmits.yaml
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
  prow/jobs/ti-community-infra/org/lifecycle-periodics.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

config: remove tidb's e2e CI requirement
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml
