Repository ti-community-infra/configs: changes, and which Prow jobs are due for each by the changed paths.
All: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-update-orgs, post-configs-deploy-prow, post-configs-label-sync, pull-configs-validate-external-plugin-yaml, pull-configs-validate-orgs

Path conditions:
  pull-configs-validate-prow-yaml: any of: prow/
  pull-configs-validate-labels-yaml: any of: prow/config/labels.yaml
  post-configs-update-orgs: any of: orgs/
  post-configs-deploy-prow: any of: prow/cluster
  post-configs-label-sync: any of: prow/config/labels.yaml
  pull-configs-validate-external-plugin-yaml: any of: prow/config/external_plugins_config.yaml
  pull-configs-validate-orgs: any of: orgs/

config: make me inactive in blunderbuss
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config: make me inactive in blunderbuss (#357)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config: make pd and tikv use github permission
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

Update labels.yaml
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

config: tide supports more ways to merge
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: tide supports more ways to merge (#359)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: add test-prod config for sig-community-infra
  orgs/ti-community-infra/maintainers/teams.yaml
  orgs/ti-community-infra/sig-community-infra/teams.yaml
Due: post-configs-update-orgs, pull-configs-validate-orgs

config: add test-prod config for sig-community-infra
  orgs/ti-community-infra/maintainers/teams.yaml
Due: post-configs-update-orgs, pull-configs-validate-orgs

config: add test-prod config for sig-community-infra (#360)
  orgs/ti-community-infra/maintainers/teams.yaml
  orgs/ti-community-infra/sig-community-infra/teams.yaml
Due: post-configs-update-orgs, pull-configs-validate-orgs

config: make pd and tikv use github permission (#358)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config: enable tichi for pingcap/tidb-binlog
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

fix: fix typo
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

fix: patch the ti-community-contribution plugin
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

Apply suggestions from code review
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

fix: require check_release_note status check
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config: add the bot configuration for v5.1 branch in two doc repos (#351)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

add checks for 1.1
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: add checks for 1.1 (#362)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

feat: enable tars plugin
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config: enable tichi for pingcap/tidb-binlog (#361)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

tikv: remove required contexts on integration tests
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(tikv): remove required contexts on integration tests (#363)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

pd: remove required contexts on integration tests
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(pd): remove required contexts on integration tests (#364)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(tikv): remove context integration-common-test,add context build
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(tikv): remove context integration-common-test,add context build (#365)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(tichi): enable rerere for tichi
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(tichi): enable rerere for tichi (#366)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(ticdc): copy all the label for ticdc
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config(ticdc): copy all the labels for ticdc (#367)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

Revert "config: auto respond to lgtm (#334)"
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

bring back binlog config
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: Revert "config: auto respond to lgtm (#334)" (#368)
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

update config for tidb-operator release-1.2
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: update config for tidb-operator release-1.2 (#370)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(br): enable tars plugin for br
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config: require up-to-date for branchs of br
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: require branchs up-to-date and enable tars plugin for br (#371)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

feat: support generate labels.md
  prow/.gitignore
  prow/config/labels.md
  prow/config/labels.md.tmpl
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
  scripts/update-labels.sh
  scripts/verify-labels.sh
Due: pull-configs-validate-prow-yaml

fix broken links
  go.sum
  prow/config/labels.md.tmpl
Due: pull-configs-validate-prow-yaml
