Repository ti-community-infra/configs: changes, and which Prow jobs are due for each by the changed paths.
All: pull-configs-validate-prow-yaml, post-ti-community-prow-deploy-prow

pull-configs-validate-prow-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20201112-00537d1bb4
      command:
      - /checkconfig
      args:
      - --plugin-config=prow/config/plugins.yaml
      - --config-path=prow/config/config.yaml

post-ti-community-prow-deploy-prow:
  decorate: true
  spec:
    containers:
    - image: google/cloud-sdk:319.0.0
      command:
      - scripts/deploy.sh
      args:
      - --confirm
      - --config=trusted
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
  ...

config: add job
  .prow.yaml
Due: none

config: fix typo
  .prow.yaml
Due: none

config: fix typo
  orgs/peribolos.sh
Due: none

config: refine config
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: add env
  .prow.yaml
  orgs/peribolos.sh
Due: none

config: add echo
  orgs/peribolos.sh
Due: none

config: fix job
  .prow.yaml
  orgs/peribolos.sh
Due: none

config: delete job
  prow/cluster/peribolos.yaml
Due: pull-configs-validate-prow-yaml, post-ti-community-prow-deploy-prow

config: refactor and test
  .gitignore
  .prow.yaml
  cmd/merge/main.go
  go.mod
  orgs/.gitignore
  orgs/config_test.go
  orgs/tidb-community-bots/bots-test/teams.yaml
  orgs/tidb-community-bots/collaborators/teams.yaml
  orgs/tidb-community-bots/org.yaml
  scripts/peribolos.sh
Due: none

config: test
  .prow.yaml
Due: none

config: revert
  .prow.yaml
Due: none

config: fix order
  orgs/config_test.go
Due: none

config: add new line
  scripts/peribolos.sh
Due: none

config: fix typo
  prow/config/config.yaml
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml

config: refine label sync
  prow/cluster/label_sync.yaml
Due: pull-configs-validate-prow-yaml, post-ti-community-prow-deploy-prow

config: fix string
  cmd/merge/main.go
Due: none

feat: support org peribolos (#34)
  .gitignore
  .prow.yaml
  cmd/merge/main.go
  go.mod
  go.sum
  orgs/.gitignore
  orgs/config_test.go
  orgs/tidb-community-bots/bots-test/teams.yaml
  orgs/tidb-community-bots/collaborators/teams.yaml
  orgs/tidb-community-bots/org.yaml
  prow/cluster/label_sync.yaml
  prow/cluster/peribolos.yaml
  prow/config/config.yaml
  prow/config/labels.yaml
  scripts/peribolos.sh
Due: pull-configs-validate-prow-yaml, post-ti-community-prow-deploy-prow

build: bump ti-community-prow plugins and config tiup.
  prow/cluster/ti_community_autoresponder_deployment.yaml
  prow/cluster/ti_community_blunderbuss_deployment.yaml
  prow/cluster/ti_community_label_deployment.yaml
  prow/cluster/ti_community_lgtm_deployment.yaml
  prow/cluster/ti_community_merge_deployment.yaml
  prow/cluster/ti_community_owners_deployment.yaml
  prow/cluster/ti_community_tars_deployment.yaml
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, post-ti-community-prow-deploy-prow

build: bump ti-community-prow plugins and config tiup. (#35)
  prow/cluster/ti_community_autoresponder_deployment.yaml
  prow/cluster/ti_community_blunderbuss_deployment.yaml
  prow/cluster/ti_community_label_deployment.yaml
  prow/cluster/ti_community_lgtm_deployment.yaml
  prow/cluster/ti_community_merge_deployment.yaml
  prow/cluster/ti_community_owners_deployment.yaml
  prow/cluster/ti_community_tars_deployment.yaml
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, post-ti-community-prow-deploy-prow

chore: rename prow-configs to configs
  .prow.yaml
  README.md
  go.mod
  orgs/tidb-community-bots/collaborators/teams.yaml
  prow/cluster/label_sync.yaml
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, post-ti-community-prow-deploy-prow

chore: rename prow-configs to configs (#36)
  .prow.yaml
  README.md
  go.mod
  orgs/tidb-community-bots/collaborators/teams.yaml
  prow/cluster/label_sync.yaml
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, post-ti-community-prow-deploy-prow

fix: log the error
  cmd/merge/main.go
Due: none

fix: log the error (#37)
  cmd/merge/main.go
Due: none

build: bump version
  prow/cluster/ti_community_autoresponder_deployment.yaml
  prow/cluster/ti_community_blunderbuss_deployment.yaml
  prow/cluster/ti_community_label_deployment.yaml
  prow/cluster/ti_community_lgtm_deployment.yaml
  prow/cluster/ti_community_merge_deployment.yaml
  prow/cluster/ti_community_owners_deployment.yaml
  prow/cluster/ti_community_tars_deployment.yaml
Due: pull-configs-validate-prow-yaml, post-ti-community-prow-deploy-prow

build: bump version
  .prow.yaml
  prow/cluster/branchprotector.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/label_sync.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/prow_controller_manager_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml, post-ti-community-prow-deploy-prow

build: bump version (#38)
  .prow.yaml
  prow/cluster/branchprotector.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/label_sync.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/prow_controller_manager_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/ti_community_autoresponder_deployment.yaml
  prow/cluster/ti_community_blunderbuss_deployment.yaml
  prow/cluster/ti_community_label_deployment.yaml
  prow/cluster/ti_community_lgtm_deployment.yaml
  prow/cluster/ti_community_merge_deployment.yaml
  prow/cluster/ti_community_owners_deployment.yaml
  prow/cluster/ti_community_tars_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml, post-ti-community-prow-deploy-prow

config: enable lifecycle for tiup
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: enable lifecycle for tiup (#39)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: enable milestone for ti-community-prow
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: enable milestone for ti-community-prow (#40)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: enable label plugins for pd
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml

Path conditions:
  pull-configs-validate-prow-yaml: any of: prow/
  post-ti-community-prow-deploy-prow: any of: prow/cluster
