Repository ti-community-infra/configs: changes, and which Prow jobs are due for each by the changed paths.
All: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-update-orgs, post-configs-deploy-prow, post-configs-label-sync, pull-configs-validate-external-plugin-yaml, pull-configs-validate-orgs

pull-configs-validate-prow-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20201204-d90be1ef6b
      command:
      - /checkconfig
      args:
      - --plugin-config=prow/config/plugins.yaml
      - --config-path=prow/config/config.yaml

pull-configs-validate-labels-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:v20201204-d90be1ef6b
      command:
      - /app/label_sync/app.binary
      args:
      - --config=prow/config/labels.yaml
      - --confirm=false
  ...

post-configs-update-orgs:
  decorate: true
  spec:
    containers:
    - image: golang:1.15
      command:
      - scripts/peribolos.sh
      args:
      - --config-path=orgs/config.yaml
      - --github-token-path=/etc/github/token
      - --github-endpoint=http://ghproxy
      - --github-endpoint=https://api.github.com
      - --min-admins=2
  ...

post-configs-deploy-prow:
  decorate: true
  spec:
    containers:
    - image: google/cloud-sdk:319.0.0
      command:
      - scripts/deploy.sh
      args:
      - --confirm
      - --config=trusted
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
  ...

post-configs-label-sync:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:v20201204-d90be1ef6b
      command:
      - /app/label_sync/app.binary
      args:
      - --config=prow/config/labels.yaml
      - --confirm=true
  ...

pull-configs-validate-external-plugin-yaml:
  decorate: true
  spec:
    containers:
    - image: ticommunityinfra/tichi-check-external-plugin-config:v2.0.4
      command:
      - check-external-plugin-config
      args:
      - --external-plugin-config-path=prow/config/external_plugins_config.yaml

pull-configs-validate-orgs:
  decorate: true
  spec:
    containers:
    - image: golang:1.16
      command:
      - scripts/peribolos.sh
      args:
      - --config-path=orgs/config.yaml
      - --github-token-path=/etc/github/token
      - --github-endpoint=http://ghproxy
      - --github-endpoint=https://api.github.com
      - --min-admins=2
  ...

fix(prow/config): fix the color value for label `2024-tidb-docs-dash`
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

fix(prow/config): fix the color value for label `2024-tidb-docs-dash` (#1025)
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

chore(prow/config): split the cron job to serval containers
  prow/cronjobs/label-sync.yaml
Due: pull-configs-validate-prow-yaml

chore(prow/config): split the cron job to serval containers (#1026)
  prow/cronjobs/label-sync.yaml
Due: pull-configs-validate-prow-yaml

fix(prow/config): fix the color value for label `2024-tidb-docs-dash` (#1027)
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

Revert "chore(prow/config): split the cron job to serval containers (#1026)"
  prow/cronjobs/label-sync.yaml
Due: pull-configs-validate-prow-yaml

Update prow/cronjobs/label-sync.yaml
  prow/cronjobs/label-sync.yaml
Due: pull-configs-validate-prow-yaml

Revert "chore(prow/config): split the cron job to serval containers" (#1028)
  prow/cronjobs/label-sync.yaml
Due: pull-configs-validate-prow-yaml

fix(tikv/tikv): update branch protection rule
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

fix(pingcap/monitoring): fill the cherry-pick config
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

fix(pingcap/monitoring): fill the cherry-pick config (#1031)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

fix(pingcap/docs-cn): delete context from branch protection rule
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

chore(prow/config): simple configuration for `ti-community-issue-triage` plugin
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

chore(prow/config): simple configuration for `ti-community-issue-triage` plugin (#1033)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

feat(pingcap/kvproto): control reviewing approvals with prow OWNERS
  prow/config/config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

chore(prow/config): fix the configuration on repo branches
  prow/config/config.yaml
  prow/config/openai/tasks.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

chore(prow/config): fix the configuration on repo branches (#1035)
  prow/config/config.yaml
  prow/config/openai/tasks.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

fix(tikv/tikv): update branch protection rule (#1029)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

feat: add config for branch release-8.0
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

config: add config for branch release-8.0 (#1036)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

config: remove dmr 7.6 config
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

config: remove dmr 7.6 config (#1037)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

Revert "chore(pingcap/community): disable auto merge by bot (#994)"
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

Revert "chore(pingcap/community): disable auto merge by bot" (#1038)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(docs): add docs tidb operator release-1.6
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config(docs): add docs tidb operator release-1.6 (#1039)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config: add trigger plugin
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: add trigger plugin for tikv (#1040)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: add release-8.1 config
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

config: add config for branch release-8.1 (#1041)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

opt(prow/config): simplify the prow config
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

opt(prow/config): delete the triage labels for the released DMR version
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

opt(prow/config): forbiden to merge PR to patch release branch of tidb-test repo
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

opt(prow/config): delete the triage labels for the released DMR version
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

opt(prow/config): update to config to delete the released v8.0.0 DMR version (#1042)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

feat(pingcap/kvproto): control reviewing approvals with prow OWNERS (#1034)
  prow/config/config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: update tikv ut required context
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(tikv): update tikv ut required context (#1043)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: remove tikv tide required context
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

Path conditions:
  pull-configs-validate-prow-yaml: any of: prow/
  pull-configs-validate-labels-yaml: (any of: prow/config/labels.yaml) or (any of: prow/config/labels.*)
  post-configs-update-orgs: any of: orgs/
  post-configs-deploy-prow: any of: prow/cluster
  post-configs-label-sync: any of: prow/config/labels.yaml
  pull-configs-validate-external-plugin-yaml: any of: prow/config/external_plugins_config.yaml
  pull-configs-validate-orgs: any of: orgs/
