Repository ti-community-infra/configs: changes, and which Prow jobs are due for each by the changed paths.
All: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-update-orgs, post-configs-deploy-prow, post-configs-label-sync, pull-configs-validate-external-plugin-yaml, pull-configs-validate-orgs

Path conditions:
  pull-configs-validate-prow-yaml: any of: prow/
  pull-configs-validate-labels-yaml: (any of: prow/config/labels.yaml) or (any of: prow/config/labels.*)
  post-configs-update-orgs: any of: orgs/
  post-configs-deploy-prow: any of: prow/cluster
  post-configs-label-sync: any of: prow/config/labels.yaml
  pull-configs-validate-external-plugin-yaml: any of: prow/config/external_plugins_config.yaml
  pull-configs-validate-orgs: any of: orgs/

Revert "Revert "fix(prow/config): update config for `pingcap/tiflow` about branch protection (#853)" (#854)"
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

Revert "Revert "fix(prow/config): update config for `pingcap/tiflow` about branch protection (#853)" (#854)" (#855)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

chore(prow/config): move out `pingcap-qe/artifacts` to another bot
  prow/config/config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

chore(prow/config): move out `pingcap-qe/artifacts` to another bot (#856)
  prow/config/config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

feat(prow/config): dispatch event to chatgpt external plugin
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

feat(prow/config): dispatch event to chatgpt external plugin (#857)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

feat(prow/config): dispatch event to chatgpt external plugin for `tikv/tikv` repo
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

feat(prow/config): dispatch event to chatgpt external plugin for `tikv/tikv` repo (#858)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

Revert "feat(prow/config): dispatch event to chatgpt external plugin for `tikv/tikv` repo (#858)"
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

Revert "feat(prow/config): dispatch event to chatgpt external plugin for `tikv/tikv` repo" (#859)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

Revert "Revert "feat(prow/config): dispatch event to chatgpt external plugin for `tikv/tikv` repo" (#859)"
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

feat(prow/config): dispatch event to chatgpt external plugin for `tikv/tikv` repo (#860)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

refactor(prow/jobs): move out ci jobs to ci repo
  prow/jobs/kustomization.yaml
  prow/jobs/ti-community-infra/configs/configs-periodics.yaml
  prow/jobs/ti-community-infra/configs/configs-postsubmits.yaml
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
  prow/jobs/ti-community-infra/org/bot-periodics.yaml
  prow/jobs/ti-community-infra/test-infra/test-infra-postsubmits.yaml
  prow/jobs/ti-community-infra/test-infra/test-infra-presubmits.yaml
Due: pull-configs-validate-prow-yaml

refactor(prow/jobs): move out ci jobs to ci repo (#861)
  prow/jobs/kustomization.yaml
  prow/jobs/ti-community-infra/configs/configs-periodics.yaml
  prow/jobs/ti-community-infra/configs/configs-postsubmits.yaml
  prow/jobs/ti-community-infra/configs/configs-presubmits.yaml
  prow/jobs/ti-community-infra/org/bot-periodics.yaml
  prow/jobs/ti-community-infra/test-infra/test-infra-postsubmits.yaml
  prow/jobs/ti-community-infra/test-infra/test-infra-presubmits.yaml
Due: pull-configs-validate-prow-yaml

feat(prow/config): add repo `pingcap-inc/enterprise-extensions`
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

feat(prow/config): add repo `pingcap-inc/enterprise-extensions` (#862)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config(prow/config): migrate to `lgtm` + `approve` plugins for tiunimanager repos
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config(prow/config): migrate to `lgtm` + `approve` plugins for tiunimanager repos (#863)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config(prow/config): turn off PR events to `chatgpt` plugin on `pingcap-qe/test-infra` repo
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config(prow/config): turn off PR events to `chatgpt` plugin on `pingcap-qe/test-infra` repo (#864)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

feat(prow/config): add repos in `pingcap-qe` org
  prow/config/config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

feat(prow/config): add repos in `pingcap-qe` org (#866)
  prow/config/config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config(prow/config): purge configurations for `chaos-mesh` ORG
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

config(prow/config): purge configurations for `chaos-mesh` ORG (#867)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

config(prow/config): migrate review plugins to lgtm + approve for repos in `pingcap` ORG
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

fix(prow/config): fix `tide.context_options` for `tiflash-scripts` and `tiunimanager-ui` repos
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(prow/config): unify the `tide.query` fileds for repos in `pingcap` ORG
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(prow/config): delete config blocks for archived or migrated repos
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(prow/config): migrate reviewer count controlling to lgtm plugin
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config(prow/config): inheritance `lgtm` label when create cherry-pick PR for docs repos
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config(prow/config): migrate review plugins to lgtm + approve for repos in `pingcap` ORG (#868)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config(prow/config): disable tars plugin on `pingcap/tiflow` repo
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

Bumping Prow
  prow/cluster/jenkins-operator-deployment.yaml
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

config(prow/config): fix tide for release branches
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(prow/config): fix tide for release branches (#877)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(prow/config): disable `release-note` plugin for docs repos
  prow/config/labels.md
  prow/config/labels.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

config(prow/config): disable `release-note` plugin for docs repos (#878)
  prow/config/labels.md
  prow/config/labels.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

config(prow/config): disable tars plugin on `pingcap/tiflow` repo (#876)
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config(prow/config): fix external plugin forwards for tidb-operator
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config(prow/config): fix external plugin forwards for tidb-operator (#879)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml
