Repository ti-community-infra/configs: changes, and which Prow jobs are due for each by the changed paths.
All: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-update-orgs, post-configs-deploy-prow, post-configs-label-sync, pull-configs-validate-external-plugin-yaml, pull-configs-validate-orgs

Path conditions:
  pull-configs-validate-prow-yaml: any of: prow/
  pull-configs-validate-labels-yaml: (any of: prow/config/labels.yaml) or (any of: prow/config/labels.*)
  post-configs-update-orgs: any of: orgs/
  post-configs-deploy-prow: any of: prow/cluster
  post-configs-label-sync: any of: prow/config/labels.yaml
  pull-configs-validate-external-plugin-yaml: any of: prow/config/external_plugins_config.yaml
  pull-configs-validate-orgs: any of: orgs/

Revert "chore(pingcap/tidb): disable github review approve and codeowner required options" (#946)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

label: remove the v7.0 cherry-pick labels for docs-cn and docs
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

chore(pingcap/*docs*): no automatic review on pull request which has `lgtm` labeled
  prow/config/openai/tasks.yaml
Due: pull-configs-validate-prow-yaml

chore(pingcap/*docs*): no automatic review on pull request which has `lgtm` labeled (#948)
  prow/config/openai/tasks.yaml
Due: pull-configs-validate-prow-yaml

fix(pingcap/community): disable cherry pick external plugin
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

fix(pingcap/community): disable cherry pick external plugin (#949)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

chore(pingcap/tiup): update approve plugin config
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

label: remove the v7.0 cherry-pick labels for docs-cn and docs (#947)
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

chore(pingcap/tiup): update approve plugin config (#950)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

chore: update prow config since EOS of v5.2
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

chore(prow/config): update labels.md since EOS of v5.2
  prow/config/labels.md
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml

chore: update prow config since EOS of v5.2 (#951)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

replace TiProxy with tiproxy
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

replace TiProxy with tiproxy (#952)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

feat(pingcap/tidb): block mergeing for pull requests which have none finished test tasks
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

Update prow/config/labels.yaml
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

Update prow/config/labels.md
  prow/config/labels.md
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml

Update prow/config/config.yaml
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

Update prow/config/external_plugins_config.yaml
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

feat(pingcap/tidb): block mergeing for pull requests which have none finished test tasks (#953)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

Revert "feat(pingcap/tidb): block mergeing for pull requests which have none finished test tasks (#953)"
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

Revert "feat(pingcap/tidb): block mergeing for pull requests which have none finished test tasks" (#954)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

Revert "Revert "feat(pingcap/tidb): block mergeing for pull requests which have none finished test tasks" (#954)"
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

chore: test on test-prod
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

Revert "Revert "feat(pingcap/tidb): block mergeing for pull requests which have none finished test tasks"" (#955)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

chore(prow/config): enable pr format checker plugon on test-prod repo
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

chore(prow/config): enable pr format checker plugon on test-prod repo (#956)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

chore(prow/config): enable pr format checker plugon on test-prod repo master branch
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

chore(prow/config): enable pr format checker plugon on test-prod repo master branch (#957)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

chore(prow/config): fix pr format checker plugon on test-prod repo master branch
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

chore(prow/config): fix pr format checker plugon on test-prod repo master branch (#958)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

fix(pingcap/tidb): pr format checker regex string
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

fix(pingcap/tidb): pr format checker regex string (#959)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

fix(pingcap-qe/tidb-test): rename `pingcap/tidb-test` to `PingCAP-QE/tidb-test`
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

fix(pingcap-qe/tidb-test): rename `pingcap/tidb-test` to `PingCAP-QE/tidb-test` (#960)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

fix(pingcap-qe/tidb-test): add service for `pingcap-inc/enterprise-plugin` repo
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

Add sig prefix for tidb repo to support sig/xxx label
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

Add sig prefix for tidb repo to support sig/xxx label (#963)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config: support lable ok-to-test on test-prod
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml
