Repository ti-community-infra/configs: changes, and which Prow jobs are due for each by the changed paths.
All: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-update-orgs, post-configs-deploy-prow, post-configs-label-sync, pull-configs-validate-external-plugin-yaml, pull-configs-validate-orgs

Path conditions:
  pull-configs-validate-prow-yaml: any of: prow/
  pull-configs-validate-labels-yaml: (any of: prow/config/labels.yaml) or (any of: prow/config/labels.*)
  post-configs-update-orgs: any of: orgs/
  post-configs-deploy-prow: any of: prow/cluster
  post-configs-label-sync: any of: prow/config/labels.yaml
  pull-configs-validate-external-plugin-yaml: any of: prow/config/external_plugins_config.yaml
  pull-configs-validate-orgs: any of: orgs/

feat(prow/jobs): delete jobs for pingcap and tikv org
  prow/jobs/pingcap/tidb/tidb-postsubmits.yaml
  prow/jobs/pingcap/tidb/tidb-presubmits.yaml
  prow/jobs/tikv/pd/pd-presubmits.yaml
Due: pull-configs-validate-prow-yaml

delete pingcap and tikv jobs (#792)
  prow/jobs/pingcap/tidb/tidb-postsubmits.yaml
  prow/jobs/pingcap/tidb/tidb-presubmits.yaml
  prow/jobs/tikv/pd/pd-presubmits.yaml
Due: pull-configs-validate-prow-yaml

Update config.yaml
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

Update config.yaml (#793)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

chore(prow/config): delete configs for repo `pingcap/dumpling`
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

chore(prow/config): delete configs for archived or migrated repositories
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

chore(prow/config): do not watching migrated or archived repositories (#765)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

feat: enable trigger plugin for tidb-test
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

feat: add needs-rebase event
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

feat: add release-6.6 branch config
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

fix(prow/config): disable tars plugon on pingcap/tidb
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

fix(prow/config): disable tars plugin on pingcap/tidb repo (#797)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

Update prow/config/config.yaml
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

feat: disable tar
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

fix: pd enable tar
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

fix: disable tar for feature branch
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: add release-6.6 branch config (#796)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

fix: add missing label
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

feat(pingcap/tidb-test): enable trigger plugin for tidb-test (#795)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

fix: remomve type/x.x-cherry-pick label
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

config: add missing label for release-6.5 and release-6.4 (#798)
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

chore: tiflash-scripts remove build-ci
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(pingcap/tiflash-scripts): tiflash-scripts remove build-ci (#799)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

fix: correct indent
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

feat: add tidb-test required status
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: fix indent (#800)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

chore(prow/config): remove dmr versions from triage list
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config: add repo pingcap-qe/artifacts
  prow/config/config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: add repo pingcap-qe/artifacts (#803)
  prow/config/config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: remove other ci status
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

feat: add tidb-test required status (#801)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: add plugins
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: add plugins to PingCAP-QE/artifacts (#804)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

chore: add plugins
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: add plugins to tidb-test (#805)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

Revert "feat: add tidb-test required status (#801)"
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

Revert "feat: add tidb-test required status (#801)" (#806)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

Bumping Prow
  prow/cluster/jenkins-operator-deployment.yaml
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

feat(prow/config): enable auto prow labeling for pingcap-qe/* repo
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml
