Repository ti-community-infra/configs: changes, and which Prow jobs are due for each by the changed paths.
All: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-update-orgs, post-configs-deploy-prow, post-configs-label-sync, pull-configs-validate-external-plugin-yaml, pull-configs-validate-orgs

pull-configs-validate-prow-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20201204-d90be1ef6b
      command:
      - /checkconfig
      args:
      - --plugin-config=prow/config/plugins.yaml
      - --config-path=prow/config/config.yaml

pull-configs-validate-labels-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:v20201204-d90be1ef6b
      command:
      - /app/label_sync/app.binary
      args:
      - --config=prow/config/labels.yaml
      - --confirm=false
  ...

post-configs-update-orgs:
  decorate: true
  spec:
    containers:
    - image: golang:1.15
      command:
      - scripts/peribolos.sh
      args:
      - --config-path=orgs/config.yaml
      - --github-token-path=/etc/github/token
      - --github-endpoint=http://ghproxy
      - --github-endpoint=https://api.github.com
      - --min-admins=2
  ...

post-configs-deploy-prow:
  decorate: true
  spec:
    containers:
    - image: google/cloud-sdk:319.0.0
      command:
      - scripts/deploy.sh
      args:
      - --confirm
      - --config=trusted
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
  ...

post-configs-label-sync:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:v20201204-d90be1ef6b
      command:
      - /app/label_sync/app.binary
      args:
      - --config=prow/config/labels.yaml
      - --confirm=true
  ...

pull-configs-validate-external-plugin-yaml:
  decorate: true
  spec:
    containers:
    - image: ticommunityinfra/tichi-check-external-plugin-config:v2.0.4
      command:
      - check-external-plugin-config
      args:
      - --external-plugin-config-path=prow/config/external_plugins_config.yaml

pull-configs-validate-orgs:
  decorate: true
  spec:
    containers:
    - image: golang:1.16
      command:
      - scripts/peribolos.sh
      args:
      - --config-path=orgs/config.yaml
      - --github-token-path=/etc/github/token
      - --github-endpoint=http://ghproxy
      - --github-endpoint=https://api.github.com
      - --min-admins=2
  ...

fix(pingcap/ticdc): add config for issue-triage plugin (#1143)
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

chore: update required status
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(ticdc): update required status (#1144)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

fix(pingcap-inc/*): add merging templates for enterprise repos
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

fix(pingcap-inc/*): add merging templates for enterprise repos (#1145)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

add branch protection for tidb-operator v2
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

add branch protection for tidb-operator v2 (#1146)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

fix config in tidb operator v2
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

fix config in tidb operator v2 (#1147)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

chore(config): remove config for product v5.4.x versions
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

chore(config): remove config for product v5.4.x versions (#1149)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

chore(tikv/tikv): remove tars plugin for tikv repo
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

feat(configs): update bot config for 9.0 version series
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

chore(tikv/tikv): remove tars plugin for tikv repo (#1150)
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

prow/config: add "needs-cherry-pick-tidb-cloud"
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

Update labels.md
  prow/config/labels.md
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml

Move label to the pingcap/docs section
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

Update labels.yaml
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

prow/config: add "needs-cherry-pick-tidb-cloud" (#1152)
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

fix(prow/config): fix malformed config.yaml file
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

feat(configs): update bot config for 9.0 version series (#1151)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

feat: update regex to match release-9.0-beta.1
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config(plugin-cherry_pick_unapproved): update regex to match release-9.0-beta.1 (#1153)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

prow/config: rename "tidb-cloud" label to "release-cloud"
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

prow/config: rename "tidb-cloud" label to "release-cloud" (#1154)
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

prow/config: add additional required status checks for branch protection and update client-go settings
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(tikv/client-go): add additional required status checks for branch protection and update client-go settings (#1155)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: simplify required status checks for branch protection in config.yaml
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(tikv/client-go): update required status checks of github action (#1156)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(prow): add release-cloud to branch protection and tide settings
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(docs): add release-cloud to branch protection and tide settings (#1157)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

feat(pingcap/tiproxy): add license/cla to required status checks for branch protection
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

feat(pingcap/tiproxy): add license/cla to required status checks for branch protection (#1158)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

chore(prow/configs): add license/cla to required status checks
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

chore(prow/configs): add license/cla to required status checks (#1159)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: support for tikv/copr-test trigger
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config(tikv/copr-test): add trigger support for tikv/copr-test (#1160)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

Path conditions:
  pull-configs-validate-prow-yaml: any of: prow/
  pull-configs-validate-labels-yaml: (any of: prow/config/labels.yaml) or (any of: prow/config/labels.*)
  post-configs-update-orgs: any of: orgs/
  post-configs-deploy-prow: any of: prow/cluster
  post-configs-label-sync: any of: prow/config/labels.yaml
  pull-configs-validate-external-plugin-yaml: any of: prow/config/external_plugins_config.yaml
  pull-configs-validate-orgs: any of: orgs/
