Repository ti-community-infra/configs: changes, and which Prow jobs are due for each by the changed paths.
All: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-update-orgs, post-configs-deploy-prow, post-configs-label-sync

pull-configs-validate-prow-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20201204-d90be1ef6b
      command:
      - /checkconfig
      args:
      - --plugin-config=prow/config/plugins.yaml
      - --config-path=prow/config/config.yaml

pull-configs-validate-labels-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:v20201204-d90be1ef6b
      command:
      - /app/label_sync/app.binary
      args:
      - --config=prow/config/labels.yaml
      - --confirm=false
  ...

post-configs-update-orgs:
  decorate: true
  spec:
    containers:
    - image: golang:1.15
      command:
      - scripts/peribolos.sh
      args:
      - --config-path=orgs/config.yaml
      - --github-token-path=/etc/github/token
      - --github-endpoint=http://ghproxy
      - --github-endpoint=https://api.github.com
      - --min-admins=2
  ...

post-configs-deploy-prow:
  decorate: true
  spec:
    containers:
    - image: google/cloud-sdk:319.0.0
      command:
      - scripts/deploy.sh
      args:
      - --confirm
      - --config=trusted
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
  ...

post-configs-label-sync:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:v20201204-d90be1ef6b
      command:
      - /app/label_sync/app.binary
      args:
      - --config=prow/config/labels.yaml
      - --confirm=true
  ...

chore: add more templates
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/deploy-request.md
  .github/ISSUE_TEMPLATE/feature-request.md
Due: none

chore: add pull request template
  .github/PULL_REQUEST_TEMPLATE/pull_request.md
Due: none

chore: add github templates (#89)
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/deploy-request.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/PULL_REQUEST_TEMPLATE/pull_request.md
  README.md
Due: none

chore: enable label plugin for tikv
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

chore: add more labels
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml

chore: enable label plugin for tikv (#90)
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: only request two reviewers
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml

config: only request two reviewers (#91)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml

config: ignore tikv maintainers
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml

config: ignore tikv maintainers (#92)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml

config: fix broken book link
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml

config: fix broken book link (#93)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml

config: use English docs link
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml

config: use English docs link (#94)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml

config: add more labels for ti-community-infra repos
  prow/config/external_plugins_config.yaml
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

config: rename
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

config: fix typo
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

config: add more labels for ti-community-infra repos (#95)
  prow/config/external_plugins_config.yaml
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

build: bump the plugins version form v0.16.7 to v0.17.0
  prow/cluster/ti_community_autoresponder_deployment.yaml
  prow/cluster/ti_community_blunderbuss_deployment.yaml
  prow/cluster/ti_community_label_deployment.yaml
  prow/cluster/ti_community_lgtm_deployment.yaml
  prow/cluster/ti_community_merge_deployment.yaml
  prow/cluster/ti_community_owners_deployment.yaml
  prow/cluster/ti_community_tars_deployment.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

build: bump the plugins version form v0.16.7 to v0.17.0 (#96)
  prow/cluster/ti_community_autoresponder_deployment.yaml
  prow/cluster/ti_community_blunderbuss_deployment.yaml
  prow/cluster/ti_community_label_deployment.yaml
  prow/cluster/ti_community_lgtm_deployment.yaml
  prow/cluster/ti_community_merge_deployment.yaml
  prow/cluster/ti_community_owners_deployment.yaml
  prow/cluster/ti_community_tars_deployment.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

config: enable cherry-pick-unapproved for tikv
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: add cherry-pick-approved
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml

config: add cherry-pick-approved
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: enable cherry-pick-unapproved for tikv (#97)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: add require cherry-pick-approved label for tikv
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: add new line
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: add require cherry-pick-approved label for tikv (#98)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: improve cherry pick unapproved message
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: improve cherry pick unapproved message (#99)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: add merge_commit_template for tikv
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: add merge_commit_template for tikv (#102)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: disable blunderbuss for tikv
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config: disable blunderbuss for tikv (#103)
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

chore: "config: add merge_commit_template for tikv (#102)"
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

chore: "config: add merge_commit_template for tikv (#102)" (#104)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: add merge_commit_template for tikv (#105)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

build: bump the plugins version from v0.17.0 to v0.17.1
  prow/cluster/ti_community_autoresponder_deployment.yaml
  prow/cluster/ti_community_blunderbuss_deployment.yaml
  prow/cluster/ti_community_label_deployment.yaml
  prow/cluster/ti_community_lgtm_deployment.yaml
  prow/cluster/ti_community_merge_deployment.yaml
  prow/cluster/ti_community_owners_deployment.yaml
  prow/cluster/ti_community_tars_deployment.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

build: bump the plugins version from v0.17.0 to v0.17.1 (#106)
  prow/cluster/ti_community_autoresponder_deployment.yaml
  prow/cluster/ti_community_blunderbuss_deployment.yaml
  prow/cluster/ti_community_label_deployment.yaml
  prow/cluster/ti_community_lgtm_deployment.yaml
  prow/cluster/ti_community_merge_deployment.yaml
  prow/cluster/ti_community_owners_deployment.yaml
  prow/cluster/ti_community_tars_deployment.yaml
Due: pull-configs-validate-prow-yaml, post-configs-deploy-prow

chore: rename bot
  orgs/config_test.go
  orgs/ti-community-infra/bots-test/teams.yaml
  orgs/ti-community-infra/org.yaml
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, post-configs-update-orgs

Path conditions:
  pull-configs-validate-prow-yaml: any of: prow/
  pull-configs-validate-labels-yaml: any of: prow/config/labels.yaml
  post-configs-update-orgs: any of: orgs/
  post-configs-deploy-prow: any of: prow/cluster
  post-configs-label-sync: any of: prow/config/labels.yaml
