Repository ti-community-infra/configs: changes, and which Prow jobs are due for each by the changed paths.
All: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-update-orgs, post-configs-deploy-prow, post-configs-label-sync, pull-configs-validate-external-plugin-yaml, pull-configs-validate-orgs

pull-configs-validate-prow-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20201204-d90be1ef6b
      command:
      - /checkconfig
      args:
      - --plugin-config=prow/config/plugins.yaml
      - --config-path=prow/config/config.yaml

pull-configs-validate-labels-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:v20201204-d90be1ef6b
      command:
      - /app/label_sync/app.binary
      args:
      - --config=prow/config/labels.yaml
      - --confirm=false
  ...

post-configs-update-orgs:
  decorate: true
  spec:
    containers:
    - image: golang:1.15
      command:
      - scripts/peribolos.sh
      args:
      - --config-path=orgs/config.yaml
      - --github-token-path=/etc/github/token
      - --github-endpoint=http://ghproxy
      - --github-endpoint=https://api.github.com
      - --min-admins=2
  ...

post-configs-deploy-prow:
  decorate: true
  spec:
    containers:
    - image: google/cloud-sdk:319.0.0
      command:
      - scripts/deploy.sh
      args:
      - --confirm
      - --config=trusted
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
  ...

post-configs-label-sync:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:v20201204-d90be1ef6b
      command:
      - /app/label_sync/app.binary
      args:
      - --config=prow/config/labels.yaml
      - --confirm=true
  ...

pull-configs-validate-external-plugin-yaml:
  decorate: true
  spec:
    containers:
    - image: ticommunityinfra/tichi-check-external-plugin-config:v2.0.4
      command:
      - check-external-plugin-config
      args:
      - --external-plugin-config-path=prow/config/external_plugins_config.yaml

pull-configs-validate-orgs:
  decorate: true
  spec:
    containers:
    - image: golang:1.16
      command:
      - scripts/peribolos.sh
      args:
      - --config-path=orgs/config.yaml
      - --github-token-path=/etc/github/token
      - --github-endpoint=http://ghproxy
      - --github-endpoint=https://api.github.com
      - --min-admins=2
  ...

docs(prow): clarify nextgen label descriptions
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

chore(prow): map nextgen cherry-pick branches
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

chore(prow): cover all nextgen active repositories
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
  prow/config/plugins.yaml
  prow/cronjobs/label-sync.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

fix(prow): use explicit affects labels for nextgen repos
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

chore(prow): add nextgen affects labels (#1290)
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
  prow/config/plugins.yaml
  prow/cronjobs/label-sync.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

chore(prow): Remove tekton-ee-cd external plugin entries
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

chore(prow): add branch protection for ticdc/tiflow release-nextgen branches
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

chore(prow): add branch protection for ticdc/tiflow release-nextgen branches (#1291)
  prow/config/config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

chore(prow): add cse repo config
  prow/config/config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

chore(prow): add cse repo config
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

chore(prow): add cse repo config (#1292)
  prow/config/config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

chore(prow): add cse merge config
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

chore(prow): add cse merge config (#1293)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

chore(prow): cse reviewer_count 2
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

chore(prow): cse reviewer_count 2 (#1294)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

chore(prow): add nextgen 26.9 affects labels
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

chore(prow): add nextgen 26.9 affects labels (#1296)
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

feat(review request): label config
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

feat(review request): label config
  prow/config/config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

feat(review request): label config
  prow/config/labels.md
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml

feat(review request): label config
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

feat(review request): label config (#1295)
  prow/config/config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync

chore(prow): add release-6.5- hotfix branches to tide config
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

chore(prow): add release-nextgen-202609 branch protection/tide and fix cherry-pick branchregexp
  prow/config/config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

chore(prow): add release-nextgen-202609 branch protection/tide and fix cherry-pick branchregexp (#1298)
  prow/config/config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

chore(prow): update cherry_pick_approved approvers
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

chore(prow): add release-6.5- hotfix branches to tide config (#1297)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

chore(prow): update cherry_pick_approved approvers (#1299)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

chore(configs): replace 'v01dstar' with 'pingyu' in cherry pick approved plugin
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

Apply suggestion from @wuhuizuo
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

chore(configs): replace 'v01dstar' with 'pingyu' in cherry pick approved plugin (#1300)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

chore(prow): add tiflow cherry pick approved approvers
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

Update approver ID in plugins.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

chore(prow): add tiflow cherry pick approved approvers (#1302)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

chore(prow): enable cherry-pick-approved plugin for pingcap/tiflow
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

chore(prow): enable cherry-pick-approved plugin for pingcap/tiflow (#1303)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

raise compile error
  cmd/merge/main.go
Due: none

Add comment for compile error in merge function
  cmd/merge/main.go
Due: none

Fix grammar error in merge configuration
  cmd/merge/main.go
Due: none

Path conditions:
  pull-configs-validate-prow-yaml: any of: prow/
  pull-configs-validate-labels-yaml: (any of: prow/config/labels.yaml) or (any of: prow/config/labels.*)
  post-configs-update-orgs: any of: orgs/
  post-configs-deploy-prow: any of: prow/cluster
  post-configs-label-sync: any of: prow/config/labels.yaml
  pull-configs-validate-external-plugin-yaml: any of: prow/config/external_plugins_config.yaml
  pull-configs-validate-orgs: any of: orgs/
