Repository ti-community-infra/configs: changes, and which Prow jobs are due for each by the changed paths.
All: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-update-orgs, post-configs-deploy-prow, post-configs-label-sync, pull-configs-validate-external-plugin-yaml, pull-configs-validate-orgs

Path conditions:
  pull-configs-validate-prow-yaml: any of: prow/
  pull-configs-validate-labels-yaml: (any of: prow/config/labels.yaml) or (any of: prow/config/labels.*)
  post-configs-update-orgs: any of: orgs/
  post-configs-deploy-prow: any of: prow/cluster
  post-configs-label-sync: any of: prow/config/labels.yaml
  pull-configs-validate-external-plugin-yaml: any of: prow/config/external_plugins_config.yaml
  pull-configs-validate-orgs: any of: orgs/

chore: change checks for chaos-mesh master branch
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

change checks for chaos-mesh on master branch (#550)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

Revert "Revert "config: enforce CLA checking for tiflash (#545)" (#548)"
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

Update config.yaml
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: add CLA & license checking for tiflash (#551)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: trust affects label for tikv and pd repos
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config: trust affects label for tikv and pd repos (#552)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config: add release 6.0 branch config
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: add release 6.0 branch config for docs repo (#553)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

chore: apply gha e2e test on release-2.1
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

chore: apply gha e2e test on release-2.1 (#554)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: fix docs-cn jenkins ci name
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: fix docs-cn jenkins ci name (#555)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: add tiflash teams for owners config
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config: add tiflash teams for owners config (#556)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

add v6.1 labels
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

config(docs): add v6.1 label to docs repos (#557)
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

config: enforce link issue check for tikv repos
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config: enable issue triage check for tikv and pd
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

feat: needs triage completed before merged on master
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: enable issue triage check for tikv and pd (#558)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

update docs-tidb-operator ci
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

update docs-tidb-operator ci (#559)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

remove unnecessary tikv release build
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

remove unnecessary tikv release build (#560)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

set ut as required status for release branch
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

set ut as required status for release branch (#561)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

add env label
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

add found label for tiflow repo
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

add found label for tiflow repo (#563)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

chore: new branch release-2.2 for chaos mesh
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

chore: new branch release-2.2 for chaos mesh (#564)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config: set the docs-tiem branch of docs-cn as protected
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config: set the docs-tiem branch of docs-cn as protected (#565)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config: remove the Semantic Pull Request CI
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: remove the Semantic Pull Request CI (#566)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: remove ti-challenge-bot repo config
  prow/cluster/label_sync.yaml
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
  prow/config/plugins.yaml
  prow/jobs/ti-community-infra/configs/configs-postsubmits.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-deploy-prow, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

config: remove ti-challenge-bot repo config (#567)
  prow/cluster/label_sync.yaml
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
  prow/config/plugins.yaml
  prow/jobs/ti-community-infra/configs/configs-postsubmits.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-deploy-prow, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

config: Update config for TiDB Dashboard
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: Update config for TiDB Dashboard (#568)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml
