Repository ti-community-infra/configs: changes, and which Prow jobs are due for each by the changed paths.
All: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-update-orgs, post-configs-deploy-prow, post-configs-label-sync, pull-configs-validate-external-plugin-yaml, pull-configs-validate-orgs

pull-configs-validate-prow-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20201204-d90be1ef6b
      command:
      - /checkconfig
      args:
      - --plugin-config=prow/config/plugins.yaml
      - --config-path=prow/config/config.yaml

pull-configs-validate-labels-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:v20201204-d90be1ef6b
      command:
      - /app/label_sync/app.binary
      args:
      - --config=prow/config/labels.yaml
      - --confirm=false
  ...

post-configs-update-orgs:
  decorate: true
  spec:
    containers:
    - image: golang:1.15
      command:
      - scripts/peribolos.sh
      args:
      - --config-path=orgs/config.yaml
      - --github-token-path=/etc/github/token
      - --github-endpoint=http://ghproxy
      - --github-endpoint=https://api.github.com
      - --min-admins=2
  ...

post-configs-deploy-prow:
  decorate: true
  spec:
    containers:
    - image: google/cloud-sdk:319.0.0
      command:
      - scripts/deploy.sh
      args:
      - --confirm
      - --config=trusted
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
  ...

post-configs-label-sync:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:v20201204-d90be1ef6b
      command:
      - /app/label_sync/app.binary
      args:
      - --config=prow/config/labels.yaml
      - --confirm=true
  ...

pull-configs-validate-external-plugin-yaml:
  decorate: true
  spec:
    containers:
    - image: ticommunityinfra/tichi-check-external-plugin-config:v2.0.4
      command:
      - check-external-plugin-config
      args:
      - --external-plugin-config-path=prow/config/external_plugins_config.yaml

pull-configs-validate-orgs:
  decorate: true
  spec:
    containers:
    - image: golang:1.16
      command:
      - scripts/peribolos.sh
      args:
      - --config-path=orgs/config.yaml
      - --github-token-path=/etc/github/token
      - --github-endpoint=http://ghproxy
      - --github-endpoint=https://api.github.com
      - --min-admins=2
  ...

fix(prow/cronjobs): fix github app id env var
  prow/cronjobs/branch-protector.yaml
  prow/cronjobs/label-sync.yaml
Due: pull-configs-validate-prow-yaml

fix(prow/cronjobs): fix github app id env var (#909)
  prow/cronjobs/branch-protector.yaml
  prow/cronjobs/label-sync.yaml
Due: pull-configs-validate-prow-yaml

config(pingcap/tiflow): inherit `lgtm` label when create cherry-pick pull request
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config(pingcap/tiflow): inherit `lgtm` label when create cherry-pick pull request (#910)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config(prow/config): add LTS release branches in to tide include branches
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(prow/config): add LTS release branches in to tide include branches (#911)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(pingcap/docs*): allow add `lgtm` label by document team on pull requests
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

chore: set strict to false
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(pingcap/docs*): allow add `lgtm` label by document team on pull requests (#912)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

prow/config: fix an id typo
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

prow/config: fix an id typo (#913)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

feat(jobs/pingcap/tidb): enable condition triggering on trunk branches
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(tiflow): remove some required status on tiflow (#898)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(tiflow): remove some required check because prow trigger (#901)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

Update config.yaml
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: allow merging pr to release-1.x in docs-tidb-operator (#916)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

feat: add release-7.2 branch config
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

config: add release-7.2 branch config (#917)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

config: update the PD required-contexts
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

chore(prow/config): delete prow job contexts in branch protection for tidb@master (#914)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(prow/config): reduce tide query interval from 120s to 90s
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(prow/config): reduce tide query interval from 120s to 90s (#919)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

move for 7.2
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: update the PD required-contexts (#918)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(prow/config): add `ti-community-autoresponder` external plugin on `pingcap/*`
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

config(prow/config): add `ti-community-autoresponder` external plugin on `pingcap/*` (#920)
  prow/config/plugins.yaml
Due: pull-configs-validate-prow-yaml

fix: correct indentation
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config: correct indentation (#921)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(prow/config): deprecate bot congiuration for release-5.1 branches
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

config(prow/config): deprecate bot congiuration for release-5.1 branches (#922)
  prow/config/config.yaml
  prow/config/external_plugins_config.yaml
  prow/config/labels.md
  prow/config/labels.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-labels-yaml, post-configs-label-sync, pull-configs-validate-external-plugin-yaml

config(prow/config): migrate openai config from pingcap-qe/ee-ops repo
  prow/config/kustomization.yaml
  prow/config/openai/tasks.yaml
Due: pull-configs-validate-prow-yaml

config(prow/config): migrate openai config from pingcap-qe/ee-ops repo (#923)
  prow/config/kustomization.yaml
  prow/config/openai/tasks.yaml
Due: pull-configs-validate-prow-yaml

config(prow/config): forbid merge pull request to release-x.y.z of `tidb-test` repo
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(prow/config): forbid merge pull request to release-x.y.z of `tidb-test` repo (#924)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(prow/config): exclude `cherry-pick-approved` label when create cherry-pick pull requests
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config(prow/config): exclude `cherry-pick-approved` label when create cherry-pick pull requests (#926)
  prow/config/external_plugins_config.yaml
Due: pull-configs-validate-prow-yaml, pull-configs-validate-external-plugin-yaml

config(prow/config): add rerun auth configs
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(prow/config): add rerun auth configs (#927)
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

config(prow/config): update branch protection config for `pingcap/tidb`
  prow/config/config.yaml
Due: pull-configs-validate-prow-yaml

Path conditions:
  pull-configs-validate-prow-yaml: any of: prow/
  pull-configs-validate-labels-yaml: (any of: prow/config/labels.yaml) or (any of: prow/config/labels.*)
  post-configs-update-orgs: any of: orgs/
  post-configs-deploy-prow: any of: prow/cluster
  post-configs-label-sync: any of: prow/config/labels.yaml
  pull-configs-validate-external-plugin-yaml: any of: prow/config/external_plugins_config.yaml
  pull-configs-validate-orgs: any of: orgs/
